In [34]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Float, Integer, String, DateTime
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey
import datetime
from sqlalchemy.orm import sessionmaker

from pykoreaqi import AirKorea

In [35]:
engine = create_engine('postgresql://postgres:taco@localhost/air', echo=True)
Base = declarative_base()

class Station(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    address = Column(String)
    lat = Column(Float)
    long = Column(Float)
    
    measurements = relationship("Measurement", back_populates="station", order_by="Measurement.t")
    
    def __repr__(self):
        return "<Station(name='%s', address='%s')"%(self.name, self.address)
    
    
class Measurement(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer, primary_key = True)
    
    station_id = Column(Integer, ForeignKey('stations.id'))
    metric = Column(String)
    t = Column(DateTime)
    value = Column(Float)
    
    station = relationship("Station", back_populates="measurements")
    
try:
    Base.metadata.create_all(engine)
except:
    print('tables aleady exist?')

2017-09-26 11:27:57,128 INFO sqlalchemy.engine.base.Engine select version()
2017-09-26 11:27:57,129 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,132 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-09-26 11:27:57,133 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,137 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-26 11:27:57,138 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,140 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-26 11:27:57,141 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,144 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-09-26 11:27:57,145 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,149 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-26 11:27:57,151 INFO sqlalchemy.engine.base.Engine {'name': 'stations'}
2017-09-26 11:27:57,158 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-09-26 11:27:57,159 INFO sqlalchemy.engine.base.Engine {'name': 'measurements'}
2017-09-26 11:27:57,164 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stations (
	id SERIAL NOT NULL,
	name VARCHAR,
	address VARCHAR,
	lat FLOAT,
	long FLOAT,
	PRIMARY KEY (id)
)


2017-09-26 11:27:57,166 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,187 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:27:57,192 INFO sqlalchemy.engine.base.Engine
CREATE TABLE measurements (
	id SERIAL NOT NULL,
	station_id INTEGER,
	metric VARCHAR,
	t TIMESTAMP WITHOUT TIME ZONE,
	value FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(station_id) REFERENCES stations (id)
)


2017-09-26 11:27:57,193 INFO sqlalchemy.engine.base.Engine {}
2017-09-26 11:27:57,218 INFO sqlalchemy.engine.base.Engine COMMIT

In [36]:
def add_to_database(row,Session):
    
    session = Session()
    
    #first check if our station is already added (assuming unique name/address)
    name, address = row['STATION_NAME'], row['STATION_ADDR']
    
    station = session.query(Station).filter(Station.name == name).filter(Station.address == address).first()
    
    if station is None:
        station = Station(name=name, address = address, lat = x['DM_X'], long = x['DM_Y'])
        session.add(station)
        
    #now go through the measurements
    for m in row['MEASUREMENT']:
        
        #skip if bad value
        value = m['VALUE']
        if not value.replace('.','').isnumeric():
            continue
        
        #fix the date
        t = datetime.datetime.strptime(m['DATA_TIME'],'%Y년 %m월 %d일 %H시')
        
        station.measurements.append(Measurement(metric=m['METRIC'], t =t, value=value ))
    
    session.commit()

In [37]:
aqi = AirKorea() #checkout kweather also

data = aqi.get_all_realtime()

Session = sessionmaker(bind=engine)

for x in data:
    add_to_database(x,Session)

2017-09-26 11:28:11,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,890 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,892 INFO sqlalchemy.engine.base.Engine {'name_1': '중구', 'address_1': '서울 중구 덕수궁길 15', 'param_1': 1}
2017-09-26 11:28:11,900 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:11,901 INFO sqlalchemy.engine.base.Engine {'name': '중구', 'address': '서울 중구 덕수궁길 15', 'lat': 37.564639, 'long': 126.975961}
2017-09-26 11:28:11,905 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:11,910 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,912 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,914 INFO sqlalchemy.engine.base.Engine {'name_1': '한강대로', 'address_1': '서울 용산구 한강대로 405', 'param_1': 1}
2017-09-26 11:28:11,919 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:11,920 INFO sqlalchemy.engine.base.Engine {'name': '한강대로', 'address': '서울 용산구 한강대로 405', 'lat': 37.549389, 'long': 126.971519}
2017-09-26 11:28:11,923 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:11,930 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,933 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,935 INFO sqlalchemy.engine.base.Engine {'name_1': '종로구', 'address_1': '서울 종로구 종로35가길 19', 'param_1': 1}
2017-09-26 11:28:11,940 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:11,941 INFO sqlalchemy.engine.base.Engine {'name': '종로구', 'address': '서울 종로구 종로35가길 19', 'lat': 37.572025, 'long': 127.005028}
2017-09-26 11:28:11,944 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:11,949 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,950 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,952 INFO sqlalchemy.engine.base.Engine {'name_1': '청계천로', 'address_1': '서울 중구 청계천로 184', 'param_1': 1}
2017-09-26 11:28:11,956 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:11,958 INFO sqlalchemy.engine.base.Engine {'name': '청계천로', 'address': '서울 중구 청계천로 184', 'lat': 37.56865, 'long': 126.998083}
2017-09-26 11:28:11,961 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:11,967 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,969 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,970 INFO sqlalchemy.engine.base.Engine {'name_1': '종로', 'address_1': '서울 종로구 종로 169', 'param_1': 1}
2017-09-26 11:28:11,975 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:11,977 INFO sqlalchemy.engine.base.Engine {'name': '종로', 'address': '서울 종로구 종로 169', 'lat': 37.570633, 'long': 126.996783}
2017-09-26 11:28:11,981 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:11,986 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:11,989 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:11,990 INFO sqlalchemy.engine.base.Engine {'name_1': '용산구', 'address_1': '서울 용산구 한남대로 136', 'param_1': 1}
2017-09-26 11:28:11,999 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,001 INFO sqlalchemy.engine.base.Engine {'name': '용산구', 'address': '서울 용산구 한남대로 136', 'lat': 37.540314, 'long': 127.005083}
2017-09-26 11:28:12,006 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,012 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,014 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,015 INFO sqlalchemy.engine.base.Engine {'name_1': '광진구', 'address_1': '서울 광진구 광나루로 571', 'param_1': 1}
2017-09-26 11:28:12,018 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,019 INFO sqlalchemy.engine.base.Engine {'name': '광진구', 'address': '서울 광진구 광나루로 571', 'lat': 37.544639, 'long': 127.095706}
2017-09-26 11:28:12,022 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,027 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,029 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,030 INFO sqlalchemy.engine.base.Engine {'name_1': '성동구', 'address_1': '서울 성동구 뚝섬로 273', 'param_1': 1}
2017-09-26 11:28:12,035 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,036 INFO sqlalchemy.engine.base.Engine {'name': '성동구', 'address': '서울 성동구 뚝섬로 273', 'lat': 37.543106, 'long': 127.041278}
2017-09-26 11:28:12,038 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,044 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,046 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,048 INFO sqlalchemy.engine.base.Engine {'name_1': '강변북로', 'address_1': '서울 성동구 강변북로 257', 'param_1': 1}
2017-09-26 11:28:12,052 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,054 INFO sqlalchemy.engine.base.Engine {'name': '강변북로', 'address': '서울 성동구 강변북로 257', 'lat': 37.539283, 'long': 127.040943}
2017-09-26 11:28:12,058 INFO sqlalchemy.engine.base.Engine COMMIT

2017-09-26 11:28:12,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,070 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,072 INFO sqlalchemy.engine.base.Engine {'name_1': '중랑구', 'address_1': '서울 중랑구 용마산로 369', 'param_1': 1}
2017-09-26 11:28:12,077 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,078 INFO sqlalchemy.engine.base.Engine {'name': '중랑구', 'address': '서울 중랑구 용마산로 369', 'lat': 37.584953, 'long': 127.094283}
2017-09-26 11:28:12,081 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,085 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,087 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,088 INFO sqlalchemy.engine.base.Engine {'name_1': '동대문구', 'address_1': '서울 동대문구 천호대로13길 43', 'param_1': 1}
2017-09-26 11:28:12,093 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,094 INFO sqlalchemy.engine.base.Engine {'name': '동대문구', 'address': '서울 동대문구 천호대로13길 43', 'lat': 37.576169, 'long': 127.029642}
2017-09-26 11:28:12,097 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,101 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,103 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,104 INFO sqlalchemy.engine.base.Engine {'name_1': '홍릉로', 'address_1': '서울 동대문구 홍릉로 1', 'param_1': 1}
2017-09-26 11:28:12,107 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,109 INFO sqlalchemy.engine.base.Engine {'name': '홍릉로', 'address': '서울 동대문구 홍릉로 1', 'lat': 37.580167, 'long': 127.044856}
2017-09-26 11:28:12,112 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,115 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,117 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,118 INFO sqlalchemy.engine.base.Engine {'name_1': '성북구', 'address_1': '서울 성북구 삼양로2길 70', 'param_1': 1}
2017-09-26 11:28:12,124 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,125 INFO sqlalchemy.engine.base.Engine {'name': '성북구', 'address': '서울 성북구 삼양로2길 70', 'lat': 37.606667, 'long': 127.027264}
2017-09-26 11:28:12,129 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,140 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,142 INFO sqlalchemy.engine.base.Engine {'name_1': '정릉로', 'address_1': '서울 성북구 정릉로 180', 'param_1': 1}
2017-09-26 11:28:12,147 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,148 INFO sqlalchemy.engine.base.Engine {'name': '정릉로', 'address': '서울 성북구 정릉로 180', 'lat': 37.6077, 'long': 127.0022}
2017-09-26 11:28:12,151 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,155 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,157 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,158 INFO sqlalchemy.engine.base.Engine {'name_1': '도봉구', 'address_1': '서울 도봉구 시루봉로2길 34', 'param_1': 1}
2017-09-26 11:28:12,163 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,164 INFO sqlalchemy.engine.base.Engine {'name': '도봉구', 'address': '서울 도봉구 시루봉로2길 34', 'lat': 37.654278, 'long': 127.029333}
2017-09-26 11:28:12,167 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,170 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,172 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,173 INFO sqlalchemy.engine.base.Engine {'name_1': '은평구', 'address_1': '서울 은평구 진흥로 215', 'param_1': 1}
2017-09-26 11:28:12,177 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,179 INFO sqlalchemy.engine.base.Engine {'name': '은평구', 'address': '서울 은평구 진흥로 215', 'lat': 37.610583, 'long': 126.933144}
2017-09-26 11:28:12,182 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,187 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,188 INFO sqlalchemy.engine.base.Engine {'name_1': '서대문구', 'address_1': '서울 서대문구 연희로32길 51', 'param_1': 1}
2017-09-26 11:28:12,192 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,193 INFO sqlalchemy.engine.base.Engine {'name': '서대문구', 'address': '서울 서대문구 연희로32길 51', 'lat': 37.576578, 'long': 126.937972}
2017-09-26 11:28:12,196 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,201 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,205 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,206 INFO sqlalchemy.engine.base.Engine {'name_1': '마포구', 'address_1': '서울 마포구 대흥로 20길 28', 'param_1': 1}
2017-09-26 11:28:12,217 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,218 INFO sqlalchemy.engine.base.Engine {'name': '마포구', 'address': '서울 마포구 대흥로 20길 28', 'lat': 37.550133, 'long': 126.945167}

2017-09-26 11:28:12,222 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,229 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,233 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,235 INFO sqlalchemy.engine.base.Engine {'name_1': '신촌로', 'address_1': '서울 마포구 노고산동 57-62', 'param_1': 1}
2017-09-26 11:28:12,239 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,240 INFO sqlalchemy.engine.base.Engine {'name': '신촌로', 'address': '서울 마포구 노고산동 57-62', 'lat': 37.554936, 'long': 126.937619}
2017-09-26 11:28:12,243 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,248 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,250 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,252 INFO sqlalchemy.engine.base.Engine {'name_1': '강서구', 'address_1': '서울 강서로45다길 71 화곡3동 ', 'param_1': 1}
2017-09-26 11:28:12,255 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,257 INFO sqlalchemy.engine.base.Engine {'name': '강서구', 'address': '서울 강서로45다길 71 화곡3동 ', 'lat': 37.544656, 'long': 126.835094}
2017-09-26 11:28:12,260 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,266 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,267 INFO sqlalchemy.engine.base.Engine {'name_1': '공항대로', 'address_1': '서울 강서구 마곡동 727-1091', 'param_1': 1}
2017-09-26 11:28:12,272 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,274 INFO sqlalchemy.engine.base.Engine {'name': '공항대로', 'address': '서울 강서구 마곡동 727-1091', 'lat': 37.56282167, 'long': 126.8260717}
2017-09-26 11:28:12,276 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,280 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,282 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,284 INFO sqlalchemy.engine.base.Engine {'name_1': '구로구', 'address_1': '서울 구로구 가마산로 27길 45', 'param_1': 1}
2017-09-26 11:28:12,287 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,289 INFO sqlalchemy.engine.base.Engine {'name': '구로구', 'address': '서울 구로구 가마산로 27길 45', 'lat': 37.498498, 'long': 126.889692}
2017-09-26 11:28:12,292 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,296 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,298 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,299 INFO sqlalchemy.engine.base.Engine {'name_1': '영등포구', 'address_1': '서울 영등포구 양산로23길 11', 'param_1': 1}
2017-09-26 11:28:12,305 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,307 INFO sqlalchemy.engine.base.Engine {'name': '영등포구', 'address': '서울 영등포구 양산로23길 11', 'lat': 37.525007, 'long': 126.89737}
2017-09-26 11:28:12,312 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,317 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,321 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,323 INFO sqlalchemy.engine.base.Engine {'name_1': '영등포로', 'address_1': '서울 영등포구 영중로 37', 'param_1': 1}
2017-09-26 11:28:12,328 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,330 INFO sqlalchemy.engine.base.Engine {'name': '영등포로', 'address': '서울 영등포구 영중로 37', 'lat': 37.520222, 'long': 126.904967}
2017-09-26 11:28:12,333 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,342 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,343 INFO sqlalchemy.engine.base.Engine {'name_1': '동작구', 'address_1': '서울 동작구 사당로16아길 6', 'param_1': 1}
2017-09-26 11:28:12,349 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,351 INFO sqlalchemy.engine.base.Engine {'name': '동작구', 'address': '서울 동작구 사당로16아길 6', 'lat': 37.480989, 'long': 126.971547}
2017-09-26 11:28:12,354 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,359 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,361 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,363 INFO sqlalchemy.engine.base.Engine {'name_1': '동작대로 중앙차로', 'address_1': '서울 동작구 동작대로 144', 'param_1': 1}
2017-09-26 11:28:12,366 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,368 INFO sqlalchemy.engine.base.Engine {'name': '동작대로 중앙차로', 'address': '서울 동작구 동작대로 144', 'lat': 37.49210722, 'long': 126.9832456}
2017-09-26 11:28:12,372 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,381 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,382 INFO sqlalchemy.engine.base.Engine {'name_1': '관악구', 'address_1': '서울 관악구 신림동길 14 ', 'param_1': 1}
2017-09-26 11:28:12,386 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:12,387 INFO sqlalchemy.engine.base.Engine {'name': '관악구', 'address': '서울 관악구 신림동길 14 ', 'lat': 37.488242, 'long': 126.927089}
2017-09-26 11:28:12,390 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,397 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,398 INFO sqlalchemy.engine.base.Engine {'name_1': '강남구', 'address_1': '서울 강남구 학동로 426 ', 'param_1': 1}
2017-09-26 11:28:12,403 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,404 INFO sqlalchemy.engine.base.Engine {'name': '강남구', 'address': '서울 강남구 학동로 426 ', 'lat': 37.496978, 'long': 127.056558}
2017-09-26 11:28:12,408 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,414 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,417 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,419 INFO sqlalchemy.engine.base.Engine {'name_1': '서초구', 'address_1': '서울 서초구 신반포로15길 16', 'param_1': 1}
2017-09-26 11:28:12,423 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,425 INFO sqlalchemy.engine.base.Engine {'name': '서초구', 'address': '서울 서초구 신반포로15길 16', 'lat': 37.504547, 'long': 126.994611}
2017-09-26 11:28:12,428 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,433 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,436 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,437 INFO sqlalchemy.engine.base.Engine {'name_1': '도산대로', 'address_1': '서울 강남구 도산대로 104', 'param_1': 1}
2017-09-26 11:28:12,441 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,444 INFO sqlalchemy.engine.base.Engine {'name': '도산대로', 'address': '서울 강남구 도산대로 104', 'lat': 37.516083, 'long': 127.019694}
2017-09-26 11:28:12,447 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,457 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,462 INFO sqlalchemy.engine.base.Engine {'name_1': '강남대로', 'address_1': '서울 서초구 강남대로 201', 'param_1': 1}
2017-09-26 11:28:12,470 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,473 INFO sqlalchemy.engine.base.Engine {'name': '강남대로', 'address': '서울 서초구 강남대로 201', 'lat': 37.482867, 'long': 127.035621}
2017-09-26 11:28:12,478 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,484 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,487 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,489 INFO sqlalchemy.engine.base.Engine {'name_1': '송파구', 'address_1': '서울 송파구 올림픽로 424', 'param_1': 1}
2017-09-26 11:28:12,495 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,497 INFO sqlalchemy.engine.base.Engine {'name': '송파구', 'address': '서울 송파구 올림픽로 424', 'lat': 37.521597, 'long': 127.124264}
2017-09-26 11:28:12,500 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,506 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,508 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,510 INFO sqlalchemy.engine.base.Engine {'name_1': '강동구', 'address_1': '서울 강동구 구천면로 42길 59 ', 'param_1': 1}
2017-09-26 11:28:12,514 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,515 INFO sqlalchemy.engine.base.Engine {'name': '강동구', 'address': '서울 강동구 구천면로 42길 59 ', 'lat': 37.545089, 'long': 127.136806}
2017-09-26 11:28:12,518 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,523 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,526 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,529 INFO sqlalchemy.engine.base.Engine {'name_1': '천호대로', 'address_1': '서울 강동구 천호대로 1151', 'param_1': 1}
2017-09-26 11:28:12,533 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,535 INFO sqlalchemy.engine.base.Engine {'name': '천호대로', 'address': '서울 강동구 천호대로 1151', 'lat': 37.534035, 'long': 127.139172}
2017-09-26 11:28:12,537 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,543 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,545 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,546 INFO sqlalchemy.engine.base.Engine {'name_1': '금천구', 'address_1': '서울 금천구 금하로21길 20', 'param_1': 1}
2017-09-26 11:28:12,550 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,551 INFO sqlalchemy.engine.base.Engine {'name': '금천구', 'address': '서울 금천구 금하로21길 20', 'lat': 37.452386, 'long': 126.908333}
2017-09-26 11:28:12,555 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,562 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,563 INFO sqlalchemy.engine.base.Engine {'name_1': '강북구', 'address_1': '서울 강북구 삼양로 139길 49 ', 'param_1': 1}
2017-09-26 11:28:12,567 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:12,569 INFO sqlalchemy.engine.base.Engine {'name': '강북구', 'address': '서울 강북구 삼양로 139길 49 ', 'lat': 37.64793, 'long': 127.011952}
2017-09-26 11:28:12,571 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,577 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,578 INFO sqlalchemy.engine.base.Engine {'name_1': '양천구', 'address_1': '서울 양천구 중앙로52길 56', 'param_1': 1}
2017-09-26 11:28:12,582 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,584 INFO sqlalchemy.engine.base.Engine {'name': '양천구', 'address': '서울 양천구 중앙로52길 56', 'lat': 37.523286, 'long': 126.858689}
2017-09-26 11:28:12,586 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,591 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,593 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,594 INFO sqlalchemy.engine.base.Engine {'name_1': '노원구', 'address_1': '서울 노원구 상계로 118', 'param_1': 1}
2017-09-26 11:28:12,597 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,598 INFO sqlalchemy.engine.base.Engine {'name': '노원구', 'address': '서울 노원구 상계로 118', 'lat': 37.657415, 'long': 127.067876}
2017-09-26 11:28:12,601 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,607 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,607 INFO sqlalchemy.engine.base.Engine {'name_1': '화랑로', 'address_1': '서울 노원구 화랑로 429', 'param_1': 1}
2017-09-26 11:28:12,610 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,611 INFO sqlalchemy.engine.base.Engine {'name': '화랑로', 'address': '서울 노원구 화랑로 429', 'lat': 37.617315, 'long': 127.07512}
2017-09-26 11:28:12,614 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,620 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,621 INFO sqlalchemy.engine.base.Engine {'name_1': '신풍동', 'address_1': '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 'param_1': 1}
2017-09-26 11:28:12,627 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,628 INFO sqlalchemy.engine.base.Engine {'name': '신풍동', 'address': '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 'lat': 37.283798, 'long': 127.010472}
2017-09-26 11:28:12,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,634 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:12,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,638 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:12,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,642 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:12,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,646 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:12,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,649 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:12,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,654 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,659 INFO sqlalchemy.engine.base.Engine {'station_id': 40, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:12,661 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,668 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,669 INFO sqlalchemy.engine.base.Engine {'name_1': '인계동', 'address_1': '경기 수원시 팔달구 인계동 1111(수원시청)', 'param_1': 1}
2017-09-26 11:28:12,674 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,675 INFO sqlalchemy.engine.base.Engine {'name': '인계동', 'address': '경기 수원시 팔달구 인계동 1111(수원시청)', 'lat': 37.26334, 'long': 127.02863}
2017-09-26 11:28:12,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,681 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:12,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,685 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '19'}
2017-09-26 11:28:12,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,688 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}

2017-09-26 11:28:12,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,693 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:12,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,697 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:12,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,702 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,706 INFO sqlalchemy.engine.base.Engine {'station_id': 41, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:12,710 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,717 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,718 INFO sqlalchemy.engine.base.Engine {'name_1': '광교동', 'address_1': '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 'param_1': 1}
2017-09-26 11:28:12,723 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,727 INFO sqlalchemy.engine.base.Engine {'name': '광교동', 'address': '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 'lat': 37.291272, 'long': 127.070818}
2017-09-26 11:28:12,730 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,731 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:12,734 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,735 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '17'}
2017-09-26 11:28:12,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,740 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:12,742 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,744 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.025'}
2017-09-26 11:28:12,746 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,748 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:12,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,754 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,758 INFO sqlalchemy.engine.base.Engine {'station_id': 42, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:12,761 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,765 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,767 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,769 INFO sqlalchemy.engine.base.Engine {'name_1': '영통동', 'address_1': '경기 수원시 팔달구 영통동 977-3', 'param_1': 1}
2017-09-26 11:28:12,774 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,775 INFO sqlalchemy.engine.base.Engine {'name': '영통동', 'address': '경기 수원시 팔달구 영통동 977-3', 'lat': 37.246927, 'long': 127.056315}
2017-09-26 11:28:12,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,780 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:12,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,785 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '6'}
2017-09-26 11:28:12,787 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,789 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:12,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,792 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:12,796 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,797 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:12,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,801 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,804 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,805 INFO sqlalchemy.engine.base.Engine {'station_id': 43, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}

2017-09-26 11:28:12,808 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,812 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,814 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,816 INFO sqlalchemy.engine.base.Engine {'name_1': '천천동', 'address_1': '경기 수원시 장안구 천천동 300(성대 제2공학관)', 'param_1': 1}
2017-09-26 11:28:12,822 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,823 INFO sqlalchemy.engine.base.Engine {'name': '천천동', 'address': '경기 수원시 장안구 천천동 300(성대 제2공학관)', 'lat': 37.292756, 'long': 126.975303}
2017-09-26 11:28:12,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,828 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:12,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,831 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:12,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,835 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:12,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,840 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:12,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,844 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:12,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,848 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:12,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,852 INFO sqlalchemy.engine.base.Engine {'station_id': 44, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:12,855 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,860 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,862 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,863 INFO sqlalchemy.engine.base.Engine {'name_1': '동수원', 'address_1': '경기 수원시 팔달구 우만동', 'param_1': 1}
2017-09-26 11:28:12,869 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,870 INFO sqlalchemy.engine.base.Engine {'name': '동수원', 'address': '경기 수원시 팔달구 우만동', 'lat': 37.276484, 'long': 127.030676}
2017-09-26 11:28:12,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,873 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:12,877 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,878 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:12,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,882 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:12,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,886 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:12,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,890 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:12,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,895 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,898 INFO sqlalchemy.engine.base.Engine {'station_id': 45, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '88'}
2017-09-26 11:28:12,901 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,908 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,910 INFO sqlalchemy.engine.base.Engine {'name_1': '고색동', 'address_1': '경기 수원시 권선구 고색동 886-70', 'param_1': 1}
2017-09-26 11:28:12,917 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,919 INFO sqlalchemy.engine.base.Engine {'name': '고색동', 'address': '경기 수원시 권선구 고색동 886-70', 'lat': 37.252226, 'long': 126.976304}
2017-09-26 11:28:12,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,923 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:12,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:12,928 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.038'}
2017-09-26 11:28:12,931 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,932 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:12,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,937 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:12,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,941 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:12,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,946 INFO sqlalchemy.engine.base.Engine {'station_id': 46, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:12,950 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:12,955 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:12,958 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:12,959 INFO sqlalchemy.engine.base.Engine {'name_1': '백현동', 'address_1': '경기 성남시 분당구 백현동', 'param_1': 1}
2017-09-26 11:28:12,965 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:12,966 INFO sqlalchemy.engine.base.Engine {'name': '백현동', 'address': '경기 성남시 분당구 백현동', 'lat': 37.380158, 'long': 127.091844}
2017-09-26 11:28:12,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,975 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:12,977 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,978 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:12,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,983 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:12,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,989 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:12,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,993 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:12,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:12,998 INFO sqlalchemy.engine.base.Engine {'station_id': 47, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:13,001 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,010 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,011 INFO sqlalchemy.engine.base.Engine {'name_1': '단대동', 'address_1': '경기 성남시 수정구 단대동 4888-2(단대동 복지회관)', 'param_1': 1}
2017-09-26 11:28:13,016 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,017 INFO sqlalchemy.engine.base.Engine {'name': '단대동', 'address': '경기 성남시 수정구 단대동 4888-2(단대동 복지회관)', 'lat': 37.449479, 'long': 127.155512}
2017-09-26 11:28:13,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,022 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:13,024 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,025 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:13,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,029 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:13,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,034 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:13,037 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,038 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,042 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,046 INFO sqlalchemy.engine.base.Engine {'station_id': 48, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:13,048 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,055 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s

 LIMIT %(param_1)s
2017-09-26 11:28:13,056 INFO sqlalchemy.engine.base.Engine {'name_1': '정자동', 'address_1': '경기 성남시 분당구 정자1동 147번지 (정자1동 주민센터)', 'param_1': 1}
2017-09-26 11:28:13,061 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,063 INFO sqlalchemy.engine.base.Engine {'name': '정자동', 'address': '경기 성남시 분당구 정자1동 147번지 (정자1동 주민센터)', 'lat': 37.361416, 'long': 127.11153}
2017-09-26 11:28:13,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,066 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:13,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,071 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:13,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,074 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:13,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,079 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,081 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,083 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,087 INFO sqlalchemy.engine.base.Engine {'station_id': 49, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:13,089 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,094 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,096 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,097 INFO sqlalchemy.engine.base.Engine {'name_1': '수내동', 'address_1': '경기 성남시 분당구 수내동 1(분당구청)', 'param_1': 1}
2017-09-26 11:28:13,103 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,104 INFO sqlalchemy.engine.base.Engine {'name': '수내동', 'address': '경기 성남시 분당구 수내동 1(분당구청)', 'lat': 37.382662, 'long': 127.119103}
2017-09-26 11:28:13,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,109 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:13,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,113 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:13,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,118 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:13,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,123 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:13,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,129 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,133 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,139 INFO sqlalchemy.engine.base.Engine {'station_id': 50, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:13,144 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,148 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,150 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,152 INFO sqlalchemy.engine.base.Engine {'name_1': '모란역', 'address_1': '경기 성남시 수정구 수진2동', 'param_1': 1}
2017-09-26 11:28:13,157 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,159 INFO sqlalchemy.engine.base.Engine {'name': '모란역', 'address': '경기 성남시 수정구 수진2동', 'lat': 37.432149, 'long': 127.129021}
2017-09-26 11:28:13,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,164 INFO sqlalchemy.engine.base.Engine {'station_id': 51, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:13,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,168 INFO sqlalchemy.engine.base.Engine {'station_id': 51, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:13,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,171 INFO sqlalchemy.engine.base.Engine {'station_id': 51, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:13,174 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,175 INFO sqlalchemy.engine.base.Engine {'station_id': 51, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}

2017-09-26 11:28:13,178 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,184 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,186 INFO sqlalchemy.engine.base.Engine {'name_1': '복정동', 'address_1': '경기 성남시 수정구 복정동 515번지 (상수도사업소)', 'param_1': 1}
2017-09-26 11:28:13,191 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,193 INFO sqlalchemy.engine.base.Engine {'name': '복정동', 'address': '경기 성남시 수정구 복정동 515번지 (상수도사업소)', 'lat': 37.45637, 'long': 127.130586}
2017-09-26 11:28:13,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,198 INFO sqlalchemy.engine.base.Engine {'station_id': 52, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:13,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,201 INFO sqlalchemy.engine.base.Engine {'station_id': 52, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:13,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,205 INFO sqlalchemy.engine.base.Engine {'station_id': 52, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:13,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,210 INFO sqlalchemy.engine.base.Engine {'station_id': 52, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,213 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,220 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,221 INFO sqlalchemy.engine.base.Engine {'name_1': '운중동', 'address_1': '경기 성남시 분당구 운중동 935', 'param_1': 1}
2017-09-26 11:28:13,227 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,229 INFO sqlalchemy.engine.base.Engine {'name': '운중동', 'address': '경기 성남시 분당구 운중동 935', 'lat': 37.390588, 'long': 127.077838}
2017-09-26 11:28:13,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,234 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:13,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,239 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:13,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,245 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:13,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,251 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:13,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,255 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,260 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,265 INFO sqlalchemy.engine.base.Engine {'station_id': 53, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:13,268 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,272 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,274 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,275 INFO sqlalchemy.engine.base.Engine {'name_1': '상대원동', 'address_1': '경기 성남시 중원구 상대원동 1451', 'param_1': 1}
2017-09-26 11:28:13,281 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,284 INFO sqlalchemy.engine.base.Engine {'name': '상대원동', 'address': '경기 성남시 중원구 상대원동 1451', 'lat': 37.433169, 'long': 127.164372}
2017-09-26 11:28:13,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,288 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '51'}
2017-09-26 11:28:13,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,293 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:13,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,297 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:13,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,301 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}

2017-09-26 11:28:13,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,305 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,309 INFO sqlalchemy.engine.base.Engine {'station_id': 54, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:13,313 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,317 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,320 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,321 INFO sqlalchemy.engine.base.Engine {'name_1': '의정부동', 'address_1': '경기 의정부시 의정부2동 551-2(경기도 도로관리사업소)', 'param_1': 1}
2017-09-26 11:28:13,327 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,328 INFO sqlalchemy.engine.base.Engine {'name': '의정부동', 'address': '경기 의정부시 의정부2동 551-2(경기도 도로관리사업소)', 'lat': 37.735582, 'long': 127.040421}
2017-09-26 11:28:13,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,333 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:13,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,337 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:13,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,340 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:13,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,345 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:13,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,349 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,352 INFO sqlalchemy.engine.base.Engine {'station_id': 55, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:13,355 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,359 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,362 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,365 INFO sqlalchemy.engine.base.Engine {'name_1': '의정부1동', 'address_1': '경기 의정부시 의정부1동 225-1 의정부1동 주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:13,371 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,373 INFO sqlalchemy.engine.base.Engine {'name': '의정부1동', 'address': '경기 의정부시 의정부1동 225-1 의정부1동 주민센터 옥상', 'lat': 37.746355, 'long': 127.047652}
2017-09-26 11:28:13,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,379 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:13,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,383 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '12'}
2017-09-26 11:28:13,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,387 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:13,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,392 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:13,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,398 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:13,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,403 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,408 INFO sqlalchemy.engine.base.Engine {'station_id': 56, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:13,411 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,418 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,420 INFO sqlalchemy.engine.base.Engine {'name_1': '안양6동', 'address_1': '경기안양시만안구안양6동437-4안양6동 주민센터', 'param_1': 1}
2017-09-26 11:28:13,427 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,429 INFO sqlalchemy.engine.base.Engine {'name': '안양6동', 'address': '경기안양시만안구안양6동437-4안양6동 주민센터', 'lat': 37.389996, 'long': 126.930583}
2017-09-26 11:28:13,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:13,433 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:13,436 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,438 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:13,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,442 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:13,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,448 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:13,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,452 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,456 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,461 INFO sqlalchemy.engine.base.Engine {'station_id': 57, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:13,464 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,481 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,482 INFO sqlalchemy.engine.base.Engine {'name_1': '부림동', 'address_1': '경기 안양시 동안구 부림동 1590(안양시청)', 'param_1': 1}
2017-09-26 11:28:13,487 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,488 INFO sqlalchemy.engine.base.Engine {'name': '부림동', 'address': '경기 안양시 동안구 부림동 1590(안양시청)', 'lat': 37.394327, 'long': 126.956859}
2017-09-26 11:28:13,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,495 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:13,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,500 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:13,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,506 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:13,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,509 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,513 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,517 INFO sqlalchemy.engine.base.Engine {'station_id': 58, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:13,520 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,523 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,525 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,526 INFO sqlalchemy.engine.base.Engine {'name_1': '호계동', 'address_1': '경기 안양시 동안구 호계2동 933-18(호계2동 주민센터)', 'param_1': 1}
2017-09-26 11:28:13,532 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,534 INFO sqlalchemy.engine.base.Engine {'name': '호계동', 'address': '경기 안양시 동안구 호계2동 933-18(호계2동 주민센터)', 'lat': 37.381136, 'long': 126.952641}
2017-09-26 11:28:13,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,539 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:13,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,543 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:13,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,546 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:13,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,550 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:13,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,554 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:13,558 INFO sqlalchemy.engine.base.Engine {'station_id': 59, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:13,561 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,566 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,568 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,570 INFO sqlalchemy.engine.base.Engine {'name_1': '안양2동', 'address_1': '경기 안양시 만안구 안양2동 842-2번지 안양2동 주민센터', 'param_1': 1}
2017-09-26 11:28:13,574 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,576 INFO sqlalchemy.engine.base.Engine {'name': '안양2동', 'address': '경기 안양시 만안구 안양2동 842-2번지 안양2동 주민센터', 'lat': 37.402326, 'long': 126.97107}
2017-09-26 11:28:13,579 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,580 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:13,584 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,587 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:13,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,590 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:13,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,593 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:13,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,597 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,600 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,601 INFO sqlalchemy.engine.base.Engine {'station_id': 60, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:13,603 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,609 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,611 INFO sqlalchemy.engine.base.Engine {'name_1': '철산동', 'address_1': '경기 광명시 철산동 384(광명시 농협중앙회)', 'param_1': 1}
2017-09-26 11:28:13,618 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,621 INFO sqlalchemy.engine.base.Engine {'name': '철산동', 'address': '경기 광명시 철산동 384(광명시 농협중앙회)', 'lat': 37.476221, 'long': 126.86981}
2017-09-26 11:28:13,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,624 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:13,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,628 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:13,630 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,632 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:13,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,636 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:13,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,640 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:13,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,643 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:13,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,647 INFO sqlalchemy.engine.base.Engine {'station_id': 61, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:13,650 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,654 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,656 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,658 INFO sqlalchemy.engine.base.Engine {'name_1': '소하동', 'address_1': '경기 광명시 소하동 1331', 'param_1': 1}
2017-09-26 11:28:13,664 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,666 INFO sqlalchemy.engine.base.Engine {'name': '소하동', 'address': '경기 광명시 소하동 1331', 'lat': 37.452158, 'long': 126.884909}
2017-09-26 11:28:13,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,670 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:13,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,673 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}

2017-09-26 11:28:13,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,677 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:13,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,680 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:13,683 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,684 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:13,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,688 INFO sqlalchemy.engine.base.Engine {'station_id': 62, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:13,690 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,696 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,697 INFO sqlalchemy.engine.base.Engine {'name_1': '고잔동', 'address_1': '경기 안산시 단원구 고잔동 515(안산시청 옥상)', 'param_1': 1}
2017-09-26 11:28:13,702 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,703 INFO sqlalchemy.engine.base.Engine {'name': '고잔동', 'address': '경기 안산시 단원구 고잔동 515(안산시청 옥상)', 'lat': 37.322304, 'long': 126.832089}
2017-09-26 11:28:13,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,707 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:13,710 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,712 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:13,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,715 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:13,718 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,719 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:13,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,723 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,727 INFO sqlalchemy.engine.base.Engine {'station_id': 63, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:13,730 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,735 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,737 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,737 INFO sqlalchemy.engine.base.Engine {'name_1': '원시동', 'address_1': '경기 안산시 단원구 산단로 112(민주노총 사무실)', 'param_1': 1}
2017-09-26 11:28:13,743 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,745 INFO sqlalchemy.engine.base.Engine {'name': '원시동', 'address': '경기 안산시 단원구 산단로 112(민주노총 사무실)', 'lat': 37.305255, 'long': 126.788503}
2017-09-26 11:28:13,748 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,749 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:13,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,753 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:13,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,757 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:13,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,760 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:13,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,764 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,768 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:13,771 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,771 INFO sqlalchemy.engine.base.Engine {'station_id': 64, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '87'}
2017-09-26 11:28:13,774 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,780 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s

 LIMIT %(param_1)s
2017-09-26 11:28:13,782 INFO sqlalchemy.engine.base.Engine {'name_1': '본오동', 'address_1': '경기 안산시 상록구 본오2동 796-4(본오2동 주민센터)', 'param_1': 1}
2017-09-26 11:28:13,786 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,788 INFO sqlalchemy.engine.base.Engine {'name': '본오동', 'address': '경기 안산시 상록구 본오2동 796-4(본오2동 주민센터)', 'lat': 37.296107, 'long': 126.87234}
2017-09-26 11:28:13,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,793 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:13,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,796 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:13,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,800 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.030'}
2017-09-26 11:28:13,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,803 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:13,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,806 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:13,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,811 INFO sqlalchemy.engine.base.Engine {'station_id': 65, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:13,814 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,818 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,820 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,821 INFO sqlalchemy.engine.base.Engine {'name_1': '원곡동', 'address_1': '경기 안산시 단원구 원곡2동 936-5(원곡2동 주민센터)', 'param_1': 1}
2017-09-26 11:28:13,825 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,827 INFO sqlalchemy.engine.base.Engine {'name': '원곡동', 'address': '경기 안산시 단원구 원곡2동 936-5(원곡2동 주민센터)', 'lat': 37.331632, 'long': 126.801758}
2017-09-26 11:28:13,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,833 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:13,835 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,838 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:13,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,843 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:13,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,847 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:13,850 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,851 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,853 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,854 INFO sqlalchemy.engine.base.Engine {'station_id': 66, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:13,857 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,861 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,863 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,864 INFO sqlalchemy.engine.base.Engine {'name_1': '부곡동1', 'address_1': '경기 안산시 상록구 부곡동 671(부곡동 주민센터)', 'param_1': 1}
2017-09-26 11:28:13,868 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,869 INFO sqlalchemy.engine.base.Engine {'name': '부곡동1', 'address': '경기 안산시 상록구 부곡동 671(부곡동 주민센터)', 'lat': 37.332233, 'long': 126.861229}
2017-09-26 11:28:13,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,872 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:13,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,878 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:13,881 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,883 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:13,886 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,887 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}

2017-09-26 11:28:13,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,891 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:13,893 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,895 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:13,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,899 INFO sqlalchemy.engine.base.Engine {'station_id': 67, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:13,902 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,909 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,910 INFO sqlalchemy.engine.base.Engine {'name_1': '대부동', 'address_1': '경기 안산시 단원구 대부북동 467 (대부출장소)', 'param_1': 1}
2017-09-26 11:28:13,914 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,916 INFO sqlalchemy.engine.base.Engine {'name': '대부동', 'address': '경기 안산시 단원구 대부북동 467 (대부출장소)', 'lat': 37.243462, 'long': 126.585286}
2017-09-26 11:28:13,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,920 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:13,922 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,923 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:13,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,926 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:13,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,931 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:13,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,935 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:13,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,940 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:13,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,943 INFO sqlalchemy.engine.base.Engine {'station_id': 68, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:13,948 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,953 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,955 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:13,955 INFO sqlalchemy.engine.base.Engine {'name_1': '호수동', 'address_1': '경기 안산시 단원구 고잔(호수)동 781-2', 'param_1': 1}
2017-09-26 11:28:13,960 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:13,961 INFO sqlalchemy.engine.base.Engine {'name': '호수동', 'address': '경기 안산시 단원구 고잔(호수)동 781-2', 'lat': 37.304889, 'long': 126.833521}
2017-09-26 11:28:13,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,966 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:13,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,969 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:13,971 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,973 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:13,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,976 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:13,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,979 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:13,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,983 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:13,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:13,988 INFO sqlalchemy.engine.base.Engine {'station_id': 69, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:13,990 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:13,996 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:13,998 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:13,999 INFO sqlalchemy.engine.base.Engine {'name_1': '중앙로1', 'address_1': '경기 안산시 단원구 고잔1동', 'param_1': 1}
2017-09-26 11:28:14,004 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,005 INFO sqlalchemy.engine.base.Engine {'name': '중앙로1', 'address': '경기 안산시 단원구 고잔1동', 'lat': 37.316703, 'long': 126.82792}
2017-09-26 11:28:14,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,009 INFO sqlalchemy.engine.base.Engine {'station_id': 70, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:14,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,013 INFO sqlalchemy.engine.base.Engine {'station_id': 70, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:14,015 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,016 INFO sqlalchemy.engine.base.Engine {'station_id': 70, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,019 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,020 INFO sqlalchemy.engine.base.Engine {'station_id': 70, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,024 INFO sqlalchemy.engine.base.Engine {'station_id': 70, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:14,026 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,030 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,033 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,034 INFO sqlalchemy.engine.base.Engine {'name_1': '별양동', 'address_1': '경기 과천시 별양동 16번지 (문원초등학교)', 'param_1': 1}
2017-09-26 11:28:14,039 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,042 INFO sqlalchemy.engine.base.Engine {'name': '별양동', 'address': '경기 과천시 별양동 16번지 (문원초등학교)', 'lat': 37.423889, 'long': 126.994512}
2017-09-26 11:28:14,045 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,047 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:14,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,050 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '21'}
2017-09-26 11:28:14,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,054 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:14,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,058 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:14,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,062 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,067 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,071 INFO sqlalchemy.engine.base.Engine {'station_id': 71, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:14,074 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,079 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,080 INFO sqlalchemy.engine.base.Engine {'name_1': '과천동', 'address_1': '경기 과천시 과천동 249 (환경사업소)', 'param_1': 1}
2017-09-26 11:28:14,085 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,086 INFO sqlalchemy.engine.base.Engine {'name': '과천동', 'address': '경기 과천시 과천동 249 (환경사업소)', 'lat': 37.448806, 'long': 127.002329}
2017-09-26 11:28:14,089 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,091 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:14,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,094 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:14,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,098 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:14,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,101 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:14,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,104 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}

2017-09-26 11:28:14,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,108 INFO sqlalchemy.engine.base.Engine {'station_id': 72, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:14,110 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,116 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,118 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,120 INFO sqlalchemy.engine.base.Engine {'name_1': '교문동', 'address_1': '경기 구리시 교문동 3-2(구리시 체육관)', 'param_1': 1}
2017-09-26 11:28:14,125 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,127 INFO sqlalchemy.engine.base.Engine {'name': '교문동', 'address': '경기 구리시 교문동 3-2(구리시 체육관)', 'lat': 37.594459, 'long': 127.129744}
2017-09-26 11:28:14,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,131 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:14,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,135 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '14'}
2017-09-26 11:28:14,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,139 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.041'}
2017-09-26 11:28:14,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,143 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:14,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,147 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:14,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,151 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,155 INFO sqlalchemy.engine.base.Engine {'station_id': 73, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:14,159 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,164 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,167 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,168 INFO sqlalchemy.engine.base.Engine {'name_1': '동구동', 'address_1': '경기 구리시 인창동 56-36(노인아동복지회관)', 'param_1': 1}
2017-09-26 11:28:14,174 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,176 INFO sqlalchemy.engine.base.Engine {'name': '동구동', 'address': '경기 구리시 인창동 56-36(노인아동복지회관)', 'lat': 37.604436, 'long': 127.134966}
2017-09-26 11:28:14,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,181 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '76'}
2017-09-26 11:28:14,183 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,185 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:14,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,189 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:14,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,192 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:14,194 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,195 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:14,198 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,199 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:14,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,202 INFO sqlalchemy.engine.base.Engine {'station_id': 74, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:14,205 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,210 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,212 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,214 INFO sqlalchemy.engine.base.Engine {'name_1': '부곡3동', 'address_1': '경기 의왕시 부곡3동 부곡중앙남1길 19 (부곡동 주민센터)', 'param_1': 1}
2017-09-26 11:28:14,219 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,221 INFO sqlalchemy.engine.base.Engine {'name': '부곡3동', 'address': '경기 의왕시 부곡3동 부곡중앙남1길 19 (부곡동 주민센터)', 'lat': 37.319402, 'long': 126.950434}

2017-09-26 11:28:14,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,226 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:14,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,230 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:14,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,234 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:14,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,238 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.030'}
2017-09-26 11:28:14,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,242 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,249 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,255 INFO sqlalchemy.engine.base.Engine {'station_id': 75, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:14,258 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,268 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,270 INFO sqlalchemy.engine.base.Engine {'name_1': '고천동', 'address_1': '경기 의왕시 고천동 사그내길 11(고천동 주민센터)', 'param_1': 1}
2017-09-26 11:28:14,277 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,279 INFO sqlalchemy.engine.base.Engine {'name': '고천동', 'address': '경기 의왕시 고천동 사그내길 11(고천동 주민센터)', 'lat': 37.347812, 'long': 126.97592}
2017-09-26 11:28:14,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,285 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:14,288 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,289 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:14,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,294 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.038'}
2017-09-26 11:28:14,297 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,298 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:14,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,303 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,307 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,310 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,312 INFO sqlalchemy.engine.base.Engine {'station_id': 76, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:14,315 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,320 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,322 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,323 INFO sqlalchemy.engine.base.Engine {'name_1': '정왕동', 'address_1': '경기 시흥시 정왕동 1799-5 (환경관리센터옥상)', 'param_1': 1}
2017-09-26 11:28:14,329 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,330 INFO sqlalchemy.engine.base.Engine {'name': '정왕동', 'address': '경기 시흥시 정왕동 1799-5 (환경관리센터옥상)', 'lat': 37.346812, 'long': 126.740083}
2017-09-26 11:28:14,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,336 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:14,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,340 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:14,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,344 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:14,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,348 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}

2017-09-26 11:28:14,350 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,351 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,356 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,360 INFO sqlalchemy.engine.base.Engine {'station_id': 77, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:14,363 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,368 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,370 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,372 INFO sqlalchemy.engine.base.Engine {'name_1': '시화산단', 'address_1': '경기 시흥시 정왕동 시화공단 시화공단 2다 401(시화지원센터)', 'param_1': 1}
2017-09-26 11:28:14,377 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,379 INFO sqlalchemy.engine.base.Engine {'name': '시화산단', 'address': '경기 시흥시 정왕동 시화공단 시화공단 2다 401(시화지원센터)', 'lat': 37.348602, 'long': 126.727109}
2017-09-26 11:28:14,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,385 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:14,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,390 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:14,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,395 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:14,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,400 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:14,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,405 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:14,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,410 INFO sqlalchemy.engine.base.Engine {'station_id': 78, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:14,415 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,419 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,422 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,424 INFO sqlalchemy.engine.base.Engine {'name_1': '대야동', 'address_1': '경기 시흥시 대야동 491-3(대야동 주민센터)', 'param_1': 1}
2017-09-26 11:28:14,429 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,431 INFO sqlalchemy.engine.base.Engine {'name': '대야동', 'address': '경기 시흥시 대야동 491-3(대야동 주민센터)', 'lat': 37.443057, 'long': 126.788402}
2017-09-26 11:28:14,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,436 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:14,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,441 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.030'}
2017-09-26 11:28:14,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,445 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:14,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,450 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,454 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:14,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,458 INFO sqlalchemy.engine.base.Engine {'station_id': 79, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:14,461 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,466 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,467 INFO sqlalchemy.engine.base.Engine {'name_1': '금곡동', 'address_1': '경기 남양주시 금곡동 185-10(남양주시청)', 'param_1': 1}
2017-09-26 11:28:14,472 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,474 INFO sqlalchemy.engine.base.Engine {'name': '금곡동', 'address': '경기 남양주시 금곡동 185-10(남양주시청)', 'lat': 37.635612, 'long': 127.216188}
2017-09-26 11:28:14,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:14,479 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:14,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,483 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '17'}
2017-09-26 11:28:14,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,488 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:14,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,493 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:14,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,500 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:14,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,505 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:14,508 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,510 INFO sqlalchemy.engine.base.Engine {'station_id': 80, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:14,514 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,520 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,522 INFO sqlalchemy.engine.base.Engine {'name_1': '오남읍', 'address_1': '경기 남양주시 오남읍 양지리 96-10', 'param_1': 1}
2017-09-26 11:28:14,529 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,530 INFO sqlalchemy.engine.base.Engine {'name': '오남읍', 'address': '경기 남양주시 오남읍 양지리 96-10', 'lat': 37.698672, 'long': 127.204729}
2017-09-26 11:28:14,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,534 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:14,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,538 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:14,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,541 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:14,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,545 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:14,547 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,549 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:14,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,552 INFO sqlalchemy.engine.base.Engine {'station_id': 81, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:14,555 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,562 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,564 INFO sqlalchemy.engine.base.Engine {'name_1': '비전동', 'address_1': '경기 평택시 비전동 846(평택시청)', 'param_1': 1}
2017-09-26 11:28:14,570 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,572 INFO sqlalchemy.engine.base.Engine {'name': '비전동', 'address': '경기 평택시 비전동 846(평택시청)', 'lat': 36.992162, 'long': 127.112774}
2017-09-26 11:28:14,575 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,577 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:14,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,582 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:14,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,586 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.038'}
2017-09-26 11:28:14,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,589 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:14,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,594 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:14,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,599 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}

2017-09-26 11:28:14,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,602 INFO sqlalchemy.engine.base.Engine {'station_id': 82, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:14,607 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,611 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,613 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,614 INFO sqlalchemy.engine.base.Engine {'name_1': '안중', 'address_1': '경기 평택시 안중읍 안중리 안중읍사무소', 'param_1': 1}
2017-09-26 11:28:14,620 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,622 INFO sqlalchemy.engine.base.Engine {'name': '안중', 'address': '경기 평택시 안중읍 안중리 안중읍사무소', 'lat': 36.985703, 'long': 126.931939}
2017-09-26 11:28:14,625 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,628 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:14,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,635 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:14,639 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,641 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:14,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,645 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:14,648 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,650 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,653 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,655 INFO sqlalchemy.engine.base.Engine {'station_id': 83, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '99'}
2017-09-26 11:28:14,659 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,668 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,670 INFO sqlalchemy.engine.base.Engine {'name_1': '평택항', 'address_1': '경기 평택시 포승읍 만호리(포승읍 평택항로) 576-4(184번길 38)', 'param_1': 1}
2017-09-26 11:28:14,679 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,681 INFO sqlalchemy.engine.base.Engine {'name': '평택항', 'address': '경기 평택시 포승읍 만호리(포승읍 평택항로) 576-4(184번길 38)', 'lat': 36.974605, 'long': 126.84554}
2017-09-26 11:28:14,684 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,685 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:14,688 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,692 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:14,695 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,697 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:14,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,701 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:14,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,705 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:14,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,709 INFO sqlalchemy.engine.base.Engine {'station_id': 84, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '94'}
2017-09-26 11:28:14,712 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,717 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,719 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,721 INFO sqlalchemy.engine.base.Engine {'name_1': '금촌동', 'address_1': '경기 파주시 금촌동 후곡로 13 교육문화회관 별관 옥상', 'param_1': 1}
2017-09-26 11:28:14,727 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,728 INFO sqlalchemy.engine.base.Engine {'name': '금촌동', 'address': '경기 파주시 금촌동 후곡로 13 교육문화회관 별관 옥상', 'lat': 37.756308, 'long': 126.773898}
2017-09-26 11:28:14,731 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,734 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:14,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,741 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:14,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:14,746 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:14,749 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,751 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:14,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,757 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:14,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,761 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,766 INFO sqlalchemy.engine.base.Engine {'station_id': 85, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:14,769 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,774 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,777 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,779 INFO sqlalchemy.engine.base.Engine {'name_1': '운정', 'address_1': '경기 파주시 야당동 331-9', 'param_1': 1}
2017-09-26 11:28:14,785 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,787 INFO sqlalchemy.engine.base.Engine {'name': '운정', 'address': '경기 파주시 야당동 331-9', 'lat': 37.723148, 'long': 126.756434}
2017-09-26 11:28:14,790 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,791 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:14,794 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,796 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:14,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,801 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:14,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,807 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:14,809 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,811 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:14,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,815 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:14,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,819 INFO sqlalchemy.engine.base.Engine {'station_id': 86, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '66'}
2017-09-26 11:28:14,822 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,827 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,828 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,830 INFO sqlalchemy.engine.base.Engine {'name_1': '파주', 'address_1': '경기 파주시 군내면 통일촌길', 'param_1': 1}
2017-09-26 11:28:14,835 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,837 INFO sqlalchemy.engine.base.Engine {'name': '파주', 'address': '경기 파주시 군내면 통일촌길', 'lat': 37.906227, 'long': 126.73108}
2017-09-26 11:28:14,839 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,842 INFO sqlalchemy.engine.base.Engine {'station_id': 87, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:14,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,846 INFO sqlalchemy.engine.base.Engine {'station_id': 87, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '16'}
2017-09-26 11:28:14,848 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,852 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,854 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,856 INFO sqlalchemy.engine.base.Engine {'name_1': '행신동', 'address_1': '경기 고양시 덕양구 행신동 59-3 행신배수지', 'param_1': 1}
2017-09-26 11:28:14,860 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,862 INFO sqlalchemy.engine.base.Engine {'name': '행신동', 'address': '경기 고양시 덕양구 행신동 59-3 행신배수지', 'lat': 37.618183, 'long': 126.837689}
2017-09-26 11:28:14,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,867 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:14,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,872 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:14,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:14,877 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:14,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,882 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:14,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,887 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:14,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,891 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:14,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,898 INFO sqlalchemy.engine.base.Engine {'station_id': 88, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:14,901 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,910 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,911 INFO sqlalchemy.engine.base.Engine {'name_1': '식사동', 'address_1': '경기 고양시 일산동구 위시티로 151 양일초등학교', 'param_1': 1}
2017-09-26 11:28:14,916 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,918 INFO sqlalchemy.engine.base.Engine {'name': '식사동', 'address': '경기 고양시 일산동구 위시티로 151 양일초등학교', 'lat': 37.685514, 'long': 126.813441}
2017-09-26 11:28:14,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,922 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '122'}
2017-09-26 11:28:14,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,927 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:14,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,934 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:14,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,939 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:14,941 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,943 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:14,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,949 INFO sqlalchemy.engine.base.Engine {'station_id': 89, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '101'}
2017-09-26 11:28:14,953 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:14,958 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:14,960 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:14,962 INFO sqlalchemy.engine.base.Engine {'name_1': '마두역', 'address_1': '경기 고양시 일산구 장항2동', 'param_1': 1}
2017-09-26 11:28:14,967 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:14,969 INFO sqlalchemy.engine.base.Engine {'name': '마두역', 'address': '경기 고양시 일산구 장항2동', 'lat': 37.648629, 'long': 126.758842}
2017-09-26 11:28:14,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,976 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:14,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,980 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:14,983 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,984 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:14,986 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,987 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:14,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,992 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:14,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:14,996 INFO sqlalchemy.engine.base.Engine {'station_id': 90, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:14,999 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,004 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,007 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:15,009 INFO sqlalchemy.engine.base.Engine {'name_1': '신원동', 'address_1': '경기 고양시 덕양구 신원2로 24 고양', 'param_1': 1}
2017-09-26 11:28:15,020 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,021 INFO sqlalchemy.engine.base.Engine {'name': '신원동', 'address': '경기 고양시 덕양구 신원2로 24 고양', 'lat': 37.666362, 'long': 126.886708}
2017-09-26 11:28:15,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,026 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:15,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,031 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:15,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,036 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:15,041 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,043 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.025'}
2017-09-26 11:28:15,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,047 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,052 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,058 INFO sqlalchemy.engine.base.Engine {'station_id': 91, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:15,061 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,069 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,070 INFO sqlalchemy.engine.base.Engine {'name_1': '경안동', 'address_1': '경기 광주시 경안동 53-4', 'param_1': 1}
2017-09-26 11:28:15,076 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,077 INFO sqlalchemy.engine.base.Engine {'name': '경안동', 'address': '경기 광주시 경안동 53-4', 'lat': 37.411159, 'long': 127.257971}
2017-09-26 11:28:15,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,084 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:15,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,089 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:15,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,095 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:15,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,099 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:15,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,104 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,107 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,109 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,112 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,113 INFO sqlalchemy.engine.base.Engine {'station_id': 92, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:15,116 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,121 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,123 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,124 INFO sqlalchemy.engine.base.Engine {'name_1': '김량장동', 'address_1': '경기 용인시 김량장동 처인구 금령로 50 (처인구청 옥상))', 'param_1': 1}
2017-09-26 11:28:15,130 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,131 INFO sqlalchemy.engine.base.Engine {'name': '김량장동', 'address': '경기 용인시 김량장동 처인구 금령로 50 (처인구청 옥상))', 'lat': 37.234474, 'long': 127.201408}
2017-09-26 11:28:15,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,136 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:15,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,140 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:15,143 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,145 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}

2017-09-26 11:28:15,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,150 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,154 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:15,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,158 INFO sqlalchemy.engine.base.Engine {'station_id': 93, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:15,162 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,167 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,169 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,170 INFO sqlalchemy.engine.base.Engine {'name_1': '수지', 'address_1': '경기 용인시 풍덕천동(수지) 수지구 수지로 342번길3(풍덕천1동 주민센타 옥상)', 'param_1': 1}
2017-09-26 11:28:15,177 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,178 INFO sqlalchemy.engine.base.Engine {'name': '수지', 'address': '경기 용인시 풍덕천동(수지) 수지구 수지로 342번길3(풍덕천1동 주민센타 옥상)', 'lat': 37.327927, 'long': 127.095215}
2017-09-26 11:28:15,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,183 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:15,185 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,187 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:15,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,191 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:15,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,194 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:15,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,198 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,202 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,206 INFO sqlalchemy.engine.base.Engine {'station_id': 94, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:15,208 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,214 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,216 INFO sqlalchemy.engine.base.Engine {'name_1': '기흥', 'address_1': '경기 용인시 기흥구 관곡로 95', 'param_1': 1}
2017-09-26 11:28:15,222 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,224 INFO sqlalchemy.engine.base.Engine {'name': '기흥', 'address': '경기 용인시 기흥구 관곡로 95', 'lat': 37.280224, 'long': 127.11514}
2017-09-26 11:28:15,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,229 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:15,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,232 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:15,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,237 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:15,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,242 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:15,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,247 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:15,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,253 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,258 INFO sqlalchemy.engine.base.Engine {'station_id': 95, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:15,263 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,269 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,272 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:15,274 INFO sqlalchemy.engine.base.Engine {'name_1': '구갈동', 'address_1': '경기 용인시 기흥구 구갈동 505-3', 'param_1': 1}
2017-09-26 11:28:15,279 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,281 INFO sqlalchemy.engine.base.Engine {'name': '구갈동', 'address': '경기 용인시 기흥구 구갈동 505-3', 'lat': 37.275324, 'long': 127.113744}
2017-09-26 11:28:15,285 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,287 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:15,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,292 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:15,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,296 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.040'}
2017-09-26 11:28:15,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,300 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:15,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,305 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,309 INFO sqlalchemy.engine.base.Engine {'station_id': 96, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:15,312 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,320 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,321 INFO sqlalchemy.engine.base.Engine {'name_1': '설성면', 'address_1': '경기 이천시 설성면 신필리', 'param_1': 1}
2017-09-26 11:28:15,328 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,329 INFO sqlalchemy.engine.base.Engine {'name': '설성면', 'address': '경기 이천시 설성면 신필리', 'lat': 37.138467, 'long': 127.54645}
2017-09-26 11:28:15,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,334 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:15,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,339 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:15,341 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,342 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:15,345 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,346 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,350 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:15,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,355 INFO sqlalchemy.engine.base.Engine {'station_id': 97, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:15,358 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,364 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,365 INFO sqlalchemy.engine.base.Engine {'name_1': '창전동', 'address_1': '경기 이천시 창전동 영창로 163번길 28', 'param_1': 1}
2017-09-26 11:28:15,370 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,371 INFO sqlalchemy.engine.base.Engine {'name': '창전동', 'address': '경기 이천시 창전동 영창로 163번길 28', 'lat': 37.282657, 'long': 127.440513}
2017-09-26 11:28:15,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,377 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:15,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,381 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:15,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,385 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:15,388 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,388 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:15,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,393 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}

2017-09-26 11:28:15,396 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,397 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:15,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,401 INFO sqlalchemy.engine.base.Engine {'station_id': 98, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:15,403 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,410 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,413 INFO sqlalchemy.engine.base.Engine {'name_1': '관인면', 'address_1': '경기 포천시 관인면', 'param_1': 1}
2017-09-26 11:28:15,419 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,421 INFO sqlalchemy.engine.base.Engine {'name': '관인면', 'address': '경기 포천시 관인면', 'lat': 38.123833, 'long': 127.25235}
2017-09-26 11:28:15,424 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,425 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:15,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,429 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '19'}
2017-09-26 11:28:15,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,433 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:15,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,437 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:15,440 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,441 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,445 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:15,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,449 INFO sqlalchemy.engine.base.Engine {'station_id': 99, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:15,452 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,458 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,460 INFO sqlalchemy.engine.base.Engine {'name_1': '선단동', 'address_1': '경기 포천시 선단동 629-1', 'param_1': 1}
2017-09-26 11:28:15,465 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,466 INFO sqlalchemy.engine.base.Engine {'name': '선단동', 'address': '경기 포천시 선단동 629-1', 'lat': 37.85411, 'long': 127.15906}
2017-09-26 11:28:15,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,471 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:15,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,475 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:15,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,478 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:15,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,483 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:15,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,487 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,491 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,496 INFO sqlalchemy.engine.base.Engine {'station_id': 100, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:15,499 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,503 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,505 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,507 INFO sqlalchemy.engine.base.Engine {'name_1': '사우동', 'address_1': '경기 김포시 사우동 236-2', 'param_1': 1}
2017-09-26 11:28:15,512 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:15,513 INFO sqlalchemy.engine.base.Engine {'name': '사우동', 'address': '경기 김포시 사우동 236-2', 'lat': 37.619335, 'long': 126.716748}
2017-09-26 11:28:15,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,518 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:15,520 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,522 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:15,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,526 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:15,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,530 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,535 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,539 INFO sqlalchemy.engine.base.Engine {'station_id': 101, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:15,542 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,549 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,550 INFO sqlalchemy.engine.base.Engine {'name_1': '고촌읍', 'address_1': '경기 김포시 고촌면 신곡리 530-1(고촌면사무소)', 'param_1': 1}
2017-09-26 11:28:15,555 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,557 INFO sqlalchemy.engine.base.Engine {'name': '고촌읍', 'address': '경기 김포시 고촌면 신곡리 530-1(고촌면사무소)', 'lat': 37.606724, 'long': 126.762831}
2017-09-26 11:28:15,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,561 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:15,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,566 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '15'}
2017-09-26 11:28:15,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,570 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:15,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,574 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:15,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,579 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,585 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,588 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,589 INFO sqlalchemy.engine.base.Engine {'station_id': 102, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:15,592 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,598 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,600 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,601 INFO sqlalchemy.engine.base.Engine {'name_1': '통진읍', 'address_1': '경기 김포시 통진면 마송리 111-27(통진면사무소)', 'param_1': 1}
2017-09-26 11:28:15,606 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,607 INFO sqlalchemy.engine.base.Engine {'name': '통진읍', 'address': '경기 김포시 통진면 마송리 111-27(통진면사무소)', 'lat': 37.6919, 'long': 126.597324}
2017-09-26 11:28:15,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,612 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:15,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,616 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:15,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,620 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:15,622 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,623 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:15,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:15,627 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:15,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,630 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,634 INFO sqlalchemy.engine.base.Engine {'station_id': 103, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:15,636 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,641 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,643 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,644 INFO sqlalchemy.engine.base.Engine {'name_1': '당동', 'address_1': '경기 군포시 당동 752-10 (군포도서관)', 'param_1': 1}
2017-09-26 11:28:15,651 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,652 INFO sqlalchemy.engine.base.Engine {'name': '당동', 'address': '경기 군포시 당동 752-10 (군포도서관)', 'lat': 37.35368, 'long': 126.945156}
2017-09-26 11:28:15,657 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,658 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:15,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,662 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:15,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,666 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:15,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,670 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,672 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,674 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,678 INFO sqlalchemy.engine.base.Engine {'station_id': 104, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:15,680 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,685 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,687 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,689 INFO sqlalchemy.engine.base.Engine {'name_1': '산본동', 'address_1': '경기 군포시 금정동 844(여성회관)', 'param_1': 1}
2017-09-26 11:28:15,695 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,697 INFO sqlalchemy.engine.base.Engine {'name': '산본동', 'address': '경기 군포시 금정동 844(여성회관)', 'lat': 37.361658, 'long': 126.933641}
2017-09-26 11:28:15,701 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,702 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:15,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,706 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:15,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,710 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:15,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,714 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:15,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,719 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:15,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,723 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,726 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,727 INFO sqlalchemy.engine.base.Engine {'station_id': 105, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:15,730 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,736 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,737 INFO sqlalchemy.engine.base.Engine {'name_1': '오산동', 'address_1': '경기 오산시 경기동로 51', 'param_1': 1}
2017-09-26 11:28:15,743 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,744 INFO sqlalchemy.engine.base.Engine {'name': '오산동', 'address': '경기 오산시 경기동로 51', 'lat': 37.159193, 'long': 127.07706}

2017-09-26 11:28:15,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,748 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:15,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,753 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:15,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,758 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:15,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,764 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:15,767 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,769 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:15,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,773 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,778 INFO sqlalchemy.engine.base.Engine {'station_id': 106, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:15,781 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,785 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,787 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,788 INFO sqlalchemy.engine.base.Engine {'name_1': '신장동', 'address_1': '경기 하남시 신장2동 대청로 10 520(하남시청)', 'param_1': 1}
2017-09-26 11:28:15,794 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,796 INFO sqlalchemy.engine.base.Engine {'name': '신장동', 'address': '경기 하남시 신장2동 대청로 10 520(하남시청)', 'lat': 37.539109, 'long': 127.214608}
2017-09-26 11:28:15,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,802 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:15,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,807 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:15,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,811 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:15,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,815 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:15,818 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,820 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,824 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,825 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,828 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,829 INFO sqlalchemy.engine.base.Engine {'station_id': 107, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:15,832 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,842 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,843 INFO sqlalchemy.engine.base.Engine {'name_1': '남양읍', 'address_1': '경기 화성시 남양동 1340', 'param_1': 1}
2017-09-26 11:28:15,849 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,850 INFO sqlalchemy.engine.base.Engine {'name': '남양읍', 'address': '경기 화성시 남양동 1340', 'lat': 37.211479, 'long': 126.824001}
2017-09-26 11:28:15,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,856 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:15,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,861 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '21'}
2017-09-26 11:28:15,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,865 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:15,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,868 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:15,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:15,872 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,875 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,877 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:15,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,881 INFO sqlalchemy.engine.base.Engine {'station_id': 108, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:15,884 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,890 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,891 INFO sqlalchemy.engine.base.Engine {'name_1': '향남', 'address_1': '경기 화성시 향남면 행정리 287-1 (향남면사무소)', 'param_1': 1}
2017-09-26 11:28:15,898 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,900 INFO sqlalchemy.engine.base.Engine {'name': '향남', 'address': '경기 화성시 향남면 행정리 287-1 (향남면사무소)', 'lat': 37.132356, 'long': 126.920186}
2017-09-26 11:28:15,905 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,907 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:15,910 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,911 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:15,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,915 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:15,919 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,920 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:15,923 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,924 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:15,928 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,929 INFO sqlalchemy.engine.base.Engine {'station_id': 109, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:15,932 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,936 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,938 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,939 INFO sqlalchemy.engine.base.Engine {'name_1': '동탄', 'address_1': '경기 화성시 반송동 137 동탄2동 주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:15,948 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,949 INFO sqlalchemy.engine.base.Engine {'name': '동탄', 'address': '경기 화성시 반송동 137 동탄2동 주민센터 옥상', 'lat': 37.196921, 'long': 127.0723}
2017-09-26 11:28:15,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,954 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:15,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,959 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:15,962 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,963 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:15,967 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,968 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:15,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,971 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:15,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,975 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:15,978 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:15,979 INFO sqlalchemy.engine.base.Engine {'station_id': 110, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:15,982 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:15,986 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:15,988 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:15,990 INFO sqlalchemy.engine.base.Engine {'name_1': '백석읍', 'address_1': '경기 양주시 백석읍 꿈나무로 199', 'param_1': 1}
2017-09-26 11:28:15,993 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:15,995 INFO sqlalchemy.engine.base.Engine {'name': '백석읍', 'address': '경기 양주시 백석읍 꿈나무로 199', 'lat': 37.79239, 'long': 126.987168}

2017-09-26 11:28:15,999 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,005 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,008 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,009 INFO sqlalchemy.engine.base.Engine {'name_1': '보산동', 'address_1': '경기 동두천시 싸리말로 28(보산동 314-5)', 'param_1': 1}
2017-09-26 11:28:16,014 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,015 INFO sqlalchemy.engine.base.Engine {'name': '보산동', 'address': '경기 동두천시 싸리말로 28(보산동 314-5)', 'lat': 37.917603, 'long': 127.061291}
2017-09-26 11:28:16,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,019 INFO sqlalchemy.engine.base.Engine {'station_id': 112, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:16,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,023 INFO sqlalchemy.engine.base.Engine {'station_id': 112, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:16,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,029 INFO sqlalchemy.engine.base.Engine {'station_id': 112, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:16,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,035 INFO sqlalchemy.engine.base.Engine {'station_id': 112, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,038 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,038 INFO sqlalchemy.engine.base.Engine {'station_id': 112, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:16,041 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,046 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,047 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,049 INFO sqlalchemy.engine.base.Engine {'name_1': '봉산동', 'address_1': '경기 안성시 봉산동 시청길 25', 'param_1': 1}
2017-09-26 11:28:16,054 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,055 INFO sqlalchemy.engine.base.Engine {'name': '봉산동', 'address': '경기 안성시 봉산동 시청길 25', 'lat': 37.007863, 'long': 127.279856}
2017-09-26 11:28:16,059 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,067 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,069 INFO sqlalchemy.engine.base.Engine {'name_1': '여주', 'address_1': '경기 여주시 하동 134-11', 'param_1': 1}
2017-09-26 11:28:16,077 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,078 INFO sqlalchemy.engine.base.Engine {'name': '여주', 'address': '경기 여주시 하동 134-11', 'lat': 37.298663, 'long': 127.628936}
2017-09-26 11:28:16,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,083 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:16,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,088 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '16'}
2017-09-26 11:28:16,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,094 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:16,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,098 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:16,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,103 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,107 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:16,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,112 INFO sqlalchemy.engine.base.Engine {'station_id': 114, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:16,115 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,121 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,123 INFO sqlalchemy.engine.base.Engine {'name_1': '연천', 'address_1': '경기 연천군 연천읍 차탄리 290-1', 'param_1': 1}
2017-09-26 11:28:16,132 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,134 INFO sqlalchemy.engine.base.Engine {'name': '연천', 'address': '경기 연천군 연천읍 차탄리 290-1', 'lat': 38.096445, 'long': 127.074844}
2017-09-26 11:28:16,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:16,138 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:16,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,144 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '11'}
2017-09-26 11:28:16,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,150 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:16,153 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,155 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:16,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,160 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,165 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:16,168 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,170 INFO sqlalchemy.engine.base.Engine {'station_id': 115, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:16,172 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,179 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,180 INFO sqlalchemy.engine.base.Engine {'name_1': '가평', 'address_1': '경기 가평군 가평읍 석봉로 181', 'param_1': 1}
2017-09-26 11:28:16,186 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,187 INFO sqlalchemy.engine.base.Engine {'name': '가평', 'address': '경기 가평군 가평읍 석봉로 181', 'lat': 37.831217, 'long': 127.509769}
2017-09-26 11:28:16,190 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,193 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:16,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,198 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '11'}
2017-09-26 11:28:16,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,202 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:16,205 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,206 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:16,209 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,211 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,214 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,216 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:16,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,220 INFO sqlalchemy.engine.base.Engine {'station_id': 116, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:16,222 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,227 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,229 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,230 INFO sqlalchemy.engine.base.Engine {'name_1': '양평', 'address_1': '경기 양평군 용문면 용문로 375 343 용문도서관 옥상', 'param_1': 1}
2017-09-26 11:28:16,237 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,238 INFO sqlalchemy.engine.base.Engine {'name': '양평', 'address': '경기 양평군 용문면 용문로 375 343 용문도서관 옥상', 'lat': 37.4856, 'long': 127.594771}
2017-09-26 11:28:16,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,243 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:16,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,247 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '15'}
2017-09-26 11:28:16,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,251 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:16,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,256 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:16,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:16,259 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,263 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,264 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:16,267 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,270 INFO sqlalchemy.engine.base.Engine {'station_id': 117, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:16,272 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,277 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,279 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,280 INFO sqlalchemy.engine.base.Engine {'name_1': '중앙로', 'address_1': '강원 춘천시 중앙로 3가 67-1(춘천시보건소 3층 옥상)', 'param_1': 1}
2017-09-26 11:28:16,286 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,288 INFO sqlalchemy.engine.base.Engine {'name': '중앙로', 'address': '강원 춘천시 중앙로 3가 67-1(춘천시보건소 3층 옥상)', 'lat': 37.8753695, 'long': 127.7202223}
2017-09-26 11:28:16,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,293 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:16,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,297 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '11'}
2017-09-26 11:28:16,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,301 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:16,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,306 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:16,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,311 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:16,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,316 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:16,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,319 INFO sqlalchemy.engine.base.Engine {'station_id': 118, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:16,322 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,328 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,330 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,331 INFO sqlalchemy.engine.base.Engine {'name_1': '석사동', 'address_1': '강원 춘천시 석사동 322-1(석사119안전센터 2층 옥상)', 'param_1': 1}
2017-09-26 11:28:16,337 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,339 INFO sqlalchemy.engine.base.Engine {'name': '석사동', 'address': '강원 춘천시 석사동 322-1(석사119안전센터 2층 옥상)', 'lat': 37.8569773, 'long': 127.7500616}
2017-09-26 11:28:16,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,345 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '14'}
2017-09-26 11:28:16,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,349 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '13'}
2017-09-26 11:28:16,352 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,354 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:16,356 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,358 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:16,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,362 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:16,365 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,367 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:16,369 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,371 INFO sqlalchemy.engine.base.Engine {'station_id': 119, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:16,373 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,382 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,383 INFO sqlalchemy.engine.base.Engine {'name_1': '방산면', 'address_1': '강원 양구군 방산면 송현1리', 'param_1': 1}

2017-09-26 11:28:16,389 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,390 INFO sqlalchemy.engine.base.Engine {'name': '방산면', 'address': '강원 양구군 방산면 송현1리', 'lat': 38.224433, 'long': 127.958583}
2017-09-26 11:28:16,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,395 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:16,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,400 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:16,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,405 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:16,408 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,409 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,413 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:16,416 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,418 INFO sqlalchemy.engine.base.Engine {'station_id': 120, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:16,422 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,429 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,430 INFO sqlalchemy.engine.base.Engine {'name_1': '광복동', 'address_1': '부산 중구광복로 55번길 10', 'param_1': 1}
2017-09-26 11:28:16,437 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,438 INFO sqlalchemy.engine.base.Engine {'name': '광복동', 'address': '부산 중구광복로 55번길 10', 'lat': 35.099849, 'long': 129.030344}
2017-09-26 11:28:16,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,444 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:16,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,449 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:16,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,454 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:16,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,461 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:16,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,465 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,470 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:16,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,475 INFO sqlalchemy.engine.base.Engine {'station_id': 121, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:16,478 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,485 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,486 INFO sqlalchemy.engine.base.Engine {'name_1': '초량동', 'address_1': '부산광역시 동구 중앙대로349번길 14', 'param_1': 1}
2017-09-26 11:28:16,490 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,491 INFO sqlalchemy.engine.base.Engine {'name': '초량동', 'address': '부산광역시 동구 중앙대로349번길 14', 'lat': 35.126753, 'long': 129.046443}
2017-09-26 11:28:16,495 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,500 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,503 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,504 INFO sqlalchemy.engine.base.Engine {'name_1': '태종대', 'address_1': '부산 영도구 전망로 24', 'param_1': 1}
2017-09-26 11:28:16,510 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,512 INFO sqlalchemy.engine.base.Engine {'name': '태종대', 'address': '부산 영도구 전망로 24', 'lat': 35.063038, 'long': 129.080909}
2017-09-26 11:28:16,515 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,516 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}

2017-09-26 11:28:16,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,521 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:16,523 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,525 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:16,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,529 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:16,532 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,534 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,537 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,538 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:16,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,543 INFO sqlalchemy.engine.base.Engine {'station_id': 123, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:16,546 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,552 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,554 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,556 INFO sqlalchemy.engine.base.Engine {'name_1': '전포동', 'address_1': '부산 부산진구 전포대로 175번길 22', 'param_1': 1}
2017-09-26 11:28:16,562 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,564 INFO sqlalchemy.engine.base.Engine {'name': '전포동', 'address': '부산 부산진구 전포대로 175번길 22', 'lat': 35.153018, 'long': 129.064114}
2017-09-26 11:28:16,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,570 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:16,573 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,574 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:16,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,578 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:16,581 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,582 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:16,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,586 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,591 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:16,595 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,596 INFO sqlalchemy.engine.base.Engine {'station_id': 124, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:16,600 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,607 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,609 INFO sqlalchemy.engine.base.Engine {'name_1': '온천동', 'address_1': '부산 동래구 온천2동(중앙대로)', 'param_1': 1}
2017-09-26 11:28:16,616 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,618 INFO sqlalchemy.engine.base.Engine {'name': '온천동', 'address': '부산 동래구 온천2동(중앙대로)', 'lat': 35.206644, 'long': 129.077751}
2017-09-26 11:28:16,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,623 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:16,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,629 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:16,634 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,635 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:16,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,638 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:16,641 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,641 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}

2017-09-26 11:28:16,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,646 INFO sqlalchemy.engine.base.Engine {'station_id': 125, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '90'}
2017-09-26 11:28:16,649 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,655 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,657 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,658 INFO sqlalchemy.engine.base.Engine {'name_1': '명장동', 'address_1': '부산 동래구 명장로 32', 'param_1': 1}
2017-09-26 11:28:16,664 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,666 INFO sqlalchemy.engine.base.Engine {'name': '명장동', 'address': '부산 동래구 명장로 32', 'lat': 35.204728, 'long': 129.1042}
2017-09-26 11:28:16,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,670 INFO sqlalchemy.engine.base.Engine {'station_id': 126, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:16,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,674 INFO sqlalchemy.engine.base.Engine {'station_id': 126, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:16,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,680 INFO sqlalchemy.engine.base.Engine {'station_id': 126, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:16,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,683 INFO sqlalchemy.engine.base.Engine {'station_id': 126, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:16,686 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,687 INFO sqlalchemy.engine.base.Engine {'station_id': 126, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:16,689 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,695 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,696 INFO sqlalchemy.engine.base.Engine {'name_1': '대연동', 'address_1': '부산 남구 수영로 196번길 80', 'param_1': 1}
2017-09-26 11:28:16,703 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,704 INFO sqlalchemy.engine.base.Engine {'name': '대연동', 'address': '부산 남구 수영로 196번길 80', 'lat': 35.129493, 'long': 129.086128}
2017-09-26 11:28:16,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,711 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:16,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,714 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:16,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,718 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.058'}
2017-09-26 11:28:16,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,721 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:16,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,726 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,732 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:16,735 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,736 INFO sqlalchemy.engine.base.Engine {'station_id': 127, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:16,739 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,746 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,748 INFO sqlalchemy.engine.base.Engine {'name_1': '학장동', 'address_1': '부산 사상구 대동로 205', 'param_1': 1}
2017-09-26 11:28:16,754 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,755 INFO sqlalchemy.engine.base.Engine {'name': '학장동', 'address': '부산 사상구 대동로 205', 'lat': 35.154292, 'long': 128.979342}
2017-09-26 11:28:16,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,759 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:16,762 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,763 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:16,766 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:16,767 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:16,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,770 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:16,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,775 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,777 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,779 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:16,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,784 INFO sqlalchemy.engine.base.Engine {'station_id': 128, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:16,787 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,791 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,794 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,795 INFO sqlalchemy.engine.base.Engine {'name_1': '덕천동', 'address_1': '부산 북구 만덕대로 155번길 81', 'param_1': 1}
2017-09-26 11:28:16,801 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,803 INFO sqlalchemy.engine.base.Engine {'name': '덕천동', 'address': '부산 북구 만덕대로 155번길 81', 'lat': 35.215858, 'long': 129.019883}
2017-09-26 11:28:16,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,809 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:16,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,815 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:16,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,819 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:16,821 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,823 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:16,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,827 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:16,829 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,831 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:16,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,835 INFO sqlalchemy.engine.base.Engine {'station_id': 129, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:16,839 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,844 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,846 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,848 INFO sqlalchemy.engine.base.Engine {'name_1': '청룡동', 'address_1': '부산 금정구 청룡로 25', 'param_1': 1}
2017-09-26 11:28:16,853 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,854 INFO sqlalchemy.engine.base.Engine {'name': '청룡동', 'address': '부산 금정구 청룡로 25', 'lat': 35.274045, 'long': 129.090793}
2017-09-26 11:28:16,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,859 INFO sqlalchemy.engine.base.Engine {'station_id': 130, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:16,861 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,862 INFO sqlalchemy.engine.base.Engine {'station_id': 130, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:16,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,867 INFO sqlalchemy.engine.base.Engine {'station_id': 130, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:16,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,871 INFO sqlalchemy.engine.base.Engine {'station_id': 130, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:16,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,875 INFO sqlalchemy.engine.base.Engine {'station_id': 130, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:16,878 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,884 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,886 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,888 INFO sqlalchemy.engine.base.Engine {'name_1': '좌동', 'address_1': '부산 해운대구 양운로 91', 'param_1': 1}

2017-09-26 11:28:16,893 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,895 INFO sqlalchemy.engine.base.Engine {'name': '좌동', 'address': '부산 해운대구 양운로 91', 'lat': 35.170887, 'long': 129.174062}
2017-09-26 11:28:16,898 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,900 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:16,902 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,904 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:16,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,908 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:16,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,913 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:16,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,918 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:16,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,922 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:16,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,928 INFO sqlalchemy.engine.base.Engine {'station_id': 131, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:16,930 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,939 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,940 INFO sqlalchemy.engine.base.Engine {'name_1': '장림동', 'address_1': '부산 사하구 장림로 161번길 2', 'param_1': 1}
2017-09-26 11:28:16,945 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,946 INFO sqlalchemy.engine.base.Engine {'name': '장림동', 'address': '부산 사하구 장림로 161번길 2', 'lat': 35.082937, 'long': 128.967648}
2017-09-26 11:28:16,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,952 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:16,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,955 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:16,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,960 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:16,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,965 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:16,969 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,970 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:16,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,975 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:16,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:16,981 INFO sqlalchemy.engine.base.Engine {'station_id': 132, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:16,984 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:16,988 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:16,990 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:16,991 INFO sqlalchemy.engine.base.Engine {'name_1': '대저동', 'address_1': '부산 강서구 낙동북로 236', 'param_1': 1}
2017-09-26 11:28:16,998 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:16,999 INFO sqlalchemy.engine.base.Engine {'name': '대저동', 'address': '부산 강서구 낙동북로 236', 'lat': 35.210105, 'long': 128.955002}
2017-09-26 11:28:17,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,005 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:17,007 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,009 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:17,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,014 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:17,016 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:17,017 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:17,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,021 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:17,023 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,025 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,029 INFO sqlalchemy.engine.base.Engine {'station_id': 133, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '82'}
2017-09-26 11:28:17,032 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,038 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,039 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,041 INFO sqlalchemy.engine.base.Engine {'name_1': '녹산동', 'address_1': '부산 강서구 녹산산업중로 333', 'param_1': 1}
2017-09-26 11:28:17,048 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,049 INFO sqlalchemy.engine.base.Engine {'name': '녹산동', 'address': '부산 강서구 녹산산업중로 333', 'lat': 35.094304, 'long': 128.855046}
2017-09-26 11:28:17,053 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,055 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:17,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,059 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:17,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,064 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:17,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,068 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:17,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,072 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:17,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,077 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,080 INFO sqlalchemy.engine.base.Engine {'station_id': 134, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:17,082 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,091 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,092 INFO sqlalchemy.engine.base.Engine {'name_1': '연산동', 'address_1': '부산광역시 연제구 중앙대로 1001', 'param_1': 1}
2017-09-26 11:28:17,097 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,098 INFO sqlalchemy.engine.base.Engine {'name': '연산동', 'address': '부산광역시 연제구 중앙대로 1001', 'lat': 35.184734, 'long': 129.078112}
2017-09-26 11:28:17,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,104 INFO sqlalchemy.engine.base.Engine {'station_id': 135, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:17,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,107 INFO sqlalchemy.engine.base.Engine {'station_id': 135, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:17,110 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,111 INFO sqlalchemy.engine.base.Engine {'station_id': 135, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:17,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,116 INFO sqlalchemy.engine.base.Engine {'station_id': 135, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:17,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,120 INFO sqlalchemy.engine.base.Engine {'station_id': 135, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '86'}
2017-09-26 11:28:17,124 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,128 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,131 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,133 INFO sqlalchemy.engine.base.Engine {'name_1': '기장읍', 'address_1': '부산 기장군 기장읍 읍내로 69', 'param_1': 1}
2017-09-26 11:28:17,138 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,139 INFO sqlalchemy.engine.base.Engine {'name': '기장읍', 'address': '부산 기장군 기장읍 읍내로 69', 'lat': 35.246423, 'long': 129.212088}

2017-09-26 11:28:17,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,143 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:17,146 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,148 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:17,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,152 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:17,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,155 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,159 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:17,163 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,164 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:17,167 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,169 INFO sqlalchemy.engine.base.Engine {'station_id': 136, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:17,171 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,178 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,180 INFO sqlalchemy.engine.base.Engine {'name_1': '용수리', 'address_1': '부산 기장군 정관읍 용수로 4', 'param_1': 1}
2017-09-26 11:28:17,185 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,186 INFO sqlalchemy.engine.base.Engine {'name': '용수리', 'address': '부산 기장군 정관읍 용수로 4', 'lat': 35.325306, 'long': 129.178434}
2017-09-26 11:28:17,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,190 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:17,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,194 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:17,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,198 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.065'}
2017-09-26 11:28:17,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,202 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:17,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,205 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:17,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,209 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:17,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,213 INFO sqlalchemy.engine.base.Engine {'station_id': 137, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:17,216 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,223 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,226 INFO sqlalchemy.engine.base.Engine {'name_1': '수정동', 'address_1': '부산 동구 구청로 1', 'param_1': 1}
2017-09-26 11:28:17,232 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,233 INFO sqlalchemy.engine.base.Engine {'name': '수정동', 'address': '부산 동구 구청로 1', 'lat': 35.139059, 'long': 129.056923}
2017-09-26 11:28:17,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,238 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:17,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,243 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:17,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,248 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:17,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,253 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}

2017-09-26 11:28:17,256 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,258 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:17,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,263 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,268 INFO sqlalchemy.engine.base.Engine {'station_id': 138, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:17,271 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,279 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,281 INFO sqlalchemy.engine.base.Engine {'name_1': '부곡동', 'address_1': '부산 금정구 부곡로 156번길 7', 'param_1': 1}
2017-09-26 11:28:17,286 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,287 INFO sqlalchemy.engine.base.Engine {'name': '부곡동', 'address': '부산 금정구 부곡로 156번길 7', 'lat': 35.2297487, 'long': 129.09266}
2017-09-26 11:28:17,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,293 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:17,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,298 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:17,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,302 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.069'}
2017-09-26 11:28:17,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,306 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:17,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,311 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:17,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,316 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,320 INFO sqlalchemy.engine.base.Engine {'station_id': 139, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:17,324 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,331 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,333 INFO sqlalchemy.engine.base.Engine {'name_1': '광안동', 'address_1': '부산 수영구 광안로21번가길 57', 'param_1': 1}
2017-09-26 11:28:17,338 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,340 INFO sqlalchemy.engine.base.Engine {'name': '광안동', 'address': '부산 수영구 광안로21번가길 57', 'lat': 35.152309, 'long': 129.108101}
2017-09-26 11:28:17,343 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,344 INFO sqlalchemy.engine.base.Engine {'station_id': 140, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:17,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,349 INFO sqlalchemy.engine.base.Engine {'station_id': 140, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:17,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,353 INFO sqlalchemy.engine.base.Engine {'station_id': 140, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:17,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,357 INFO sqlalchemy.engine.base.Engine {'station_id': 140, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:17,360 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,361 INFO sqlalchemy.engine.base.Engine {'station_id': 140, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '85'}
2017-09-26 11:28:17,364 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,368 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,370 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,371 INFO sqlalchemy.engine.base.Engine {'name_1': '대신동', 'address_1': '부산 서구 대신로 150', 'param_1': 1}
2017-09-26 11:28:17,377 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,378 INFO sqlalchemy.engine.base.Engine {'name': '대신동', 'address': '부산 서구 대신로 150', 'lat': 35.114404, 'long': 129.017251}
2017-09-26 11:28:17,381 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:17,383 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '51'}
2017-09-26 11:28:17,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,387 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:17,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,392 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:17,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,396 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:17,399 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,400 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:17,403 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,404 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:17,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,408 INFO sqlalchemy.engine.base.Engine {'station_id': 141, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:17,411 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,419 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,421 INFO sqlalchemy.engine.base.Engine {'name_1': '회원동', 'address_1': '경남 창원시 마산회원구 회원동 11번길 7', 'param_1': 1}
2017-09-26 11:28:17,426 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,428 INFO sqlalchemy.engine.base.Engine {'name': '회원동', 'address': '경남 창원시 마산회원구 회원동 11번길 7', 'lat': 35.21815, 'long': 128.57425}
2017-09-26 11:28:17,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,432 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:17,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,436 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:17,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,440 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:17,443 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,444 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:17,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,449 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:17,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,453 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:17,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,457 INFO sqlalchemy.engine.base.Engine {'station_id': 142, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '94'}
2017-09-26 11:28:17,460 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,466 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,468 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,470 INFO sqlalchemy.engine.base.Engine {'name_1': '봉암동', 'address_1': '경남 창원시 마산회원구 봉암로 148', 'param_1': 1}
2017-09-26 11:28:17,476 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,478 INFO sqlalchemy.engine.base.Engine {'name': '봉암동', 'address': '경남 창원시 마산회원구 봉암로 148', 'lat': 35.2175, 'long': 128.6025}
2017-09-26 11:28:17,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,483 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:17,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,488 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:17,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,492 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:17,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,499 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '2.5'}
2017-09-26 11:28:17,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,506 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}

2017-09-26 11:28:17,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,510 INFO sqlalchemy.engine.base.Engine {'station_id': 143, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:17,514 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,521 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,523 INFO sqlalchemy.engine.base.Engine {'name_1': '대송동', 'address_1': '울산 동구 대송동(대송5길) 148-2 (10)', 'param_1': 1}
2017-09-26 11:28:17,530 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,532 INFO sqlalchemy.engine.base.Engine {'name': '대송동', 'address': '울산 동구 대송동(대송5길) 148-2 (10)', 'lat': 35.502833, 'long': 129.41455}
2017-09-26 11:28:17,536 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,537 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '51'}
2017-09-26 11:28:17,540 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,542 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:17,545 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,547 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.059'}
2017-09-26 11:28:17,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,551 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:17,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,556 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:17,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,561 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:17,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,565 INFO sqlalchemy.engine.base.Engine {'station_id': 144, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:17,568 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,573 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,575 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,576 INFO sqlalchemy.engine.base.Engine {'name_1': '성남동', 'address_1': '울산 중구 성남동 219-137(만남의 거리 14) 성남119안전센터', 'param_1': 1}
2017-09-26 11:28:17,582 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,584 INFO sqlalchemy.engine.base.Engine {'name': '성남동', 'address': '울산 중구 성남동 219-137(만남의 거리 14) 성남119안전센터', 'lat': 35.554067, 'long': 129.31995}
2017-09-26 11:28:17,589 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,591 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:17,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,595 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:17,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,600 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:17,602 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,605 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:17,608 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,609 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:17,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,613 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:17,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,616 INFO sqlalchemy.engine.base.Engine {'station_id': 145, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:17,619 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,624 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,626 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,627 INFO sqlalchemy.engine.base.Engine {'name_1': '부곡동(울산)', 'address_1': '울산 남구 부곡동12 125-2 (처용로 260-37)', 'param_1': 1}
2017-09-26 11:28:17,633 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,634 INFO sqlalchemy.engine.base.Engine {'name': '부곡동(울산)', 'address': '울산 남구 부곡동12 125-2 (처용로 260-37)', 'lat': 35.497267, 'long': 129.338967}
2017-09-26 11:28:17,637 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:17,638 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:17,640 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,642 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:17,644 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,646 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:17,650 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,651 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:17,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,655 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:17,658 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,659 INFO sqlalchemy.engine.base.Engine {'station_id': 146, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:17,661 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,669 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,670 INFO sqlalchemy.engine.base.Engine {'name_1': '여천동(울산)', 'address_1': '울산 남구 여천동(납도로) 250번지 (90)', 'param_1': 1}
2017-09-26 11:28:17,677 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,678 INFO sqlalchemy.engine.base.Engine {'name': '여천동(울산)', 'address': '울산 남구 여천동(납도로) 250번지 (90)', 'lat': 35.516367, 'long': 129.35925}
2017-09-26 11:28:17,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,682 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:17,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,689 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:17,691 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,693 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:17,696 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,697 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:17,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,702 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:17,704 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,705 INFO sqlalchemy.engine.base.Engine {'station_id': 147, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:17,709 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,718 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,719 INFO sqlalchemy.engine.base.Engine {'name_1': '야음동', 'address_1': '울산 남구 야음동 (수암로) 789-12번지(170) ', 'param_1': 1}
2017-09-26 11:28:17,725 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,728 INFO sqlalchemy.engine.base.Engine {'name': '야음동', 'address': '울산 남구 야음동 (수암로) 789-12번지(170) ', 'lat': 35.526111, 'long': 129.325833}
2017-09-26 11:28:17,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,733 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:17,736 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,738 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:17,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,742 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.055'}
2017-09-26 11:28:17,745 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,747 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:17,750 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,752 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:17,754 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,757 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:17,759 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:17,760 INFO sqlalchemy.engine.base.Engine {'station_id': 148, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:17,764 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,768 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,770 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,771 INFO sqlalchemy.engine.base.Engine {'name_1': '삼산동', 'address_1': '울산 남구 삼산동 1513-13 삼산동 주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:17,776 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,778 INFO sqlalchemy.engine.base.Engine {'name': '삼산동', 'address': '울산 남구 삼산동 1513-13 삼산동 주민센터 옥상', 'lat': 35.544367, 'long': 129.3318}
2017-09-26 11:28:17,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,784 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:17,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,788 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:17,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,792 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:17,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,797 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:17,799 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,801 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:17,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,805 INFO sqlalchemy.engine.base.Engine {'station_id': 149, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:17,808 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,813 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,815 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,816 INFO sqlalchemy.engine.base.Engine {'name_1': '신정2동', 'address_1': '울산 남구 신정2동(문수로)', 'param_1': 1}
2017-09-26 11:28:17,822 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,823 INFO sqlalchemy.engine.base.Engine {'name': '신정2동', 'address': '울산 남구 신정2동(문수로)', 'lat': 35.532203, 'long': 129.307442}
2017-09-26 11:28:17,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,827 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:17,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,832 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:17,834 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,836 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:17,838 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,840 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:17,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,844 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:17,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,848 INFO sqlalchemy.engine.base.Engine {'station_id': 150, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:17,851 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,857 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,858 INFO sqlalchemy.engine.base.Engine {'name_1': '신정동', 'address_1': '울산 남구 신정동(봉월로) 1210-9(20번길)', 'param_1': 1}
2017-09-26 11:28:17,864 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,865 INFO sqlalchemy.engine.base.Engine {'name': '신정동', 'address': '울산 남구 신정동(봉월로) 1210-9(20번길)', 'lat': 35.534722, 'long': 129.308056}
2017-09-26 11:28:17,869 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,870 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:17,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,873 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:17,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,877 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}

2017-09-26 11:28:17,880 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,881 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:17,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,885 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:17,887 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,888 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:17,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,891 INFO sqlalchemy.engine.base.Engine {'station_id': 151, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:17,894 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,898 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,900 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,902 INFO sqlalchemy.engine.base.Engine {'name_1': '덕신리', 'address_1': '울산 울주군 온산읍 덕신리(명봉거남로) 36-4(2)', 'param_1': 1}
2017-09-26 11:28:17,907 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,908 INFO sqlalchemy.engine.base.Engine {'name': '덕신리', 'address': '울산 울주군 온산읍 덕신리(명봉거남로) 36-4(2)', 'lat': 35.434783, 'long': 129.314517}
2017-09-26 11:28:17,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,913 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:17,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,918 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:17,921 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,922 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:17,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,926 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:17,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,930 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:17,933 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,934 INFO sqlalchemy.engine.base.Engine {'station_id': 152, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:17,937 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,943 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,945 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,947 INFO sqlalchemy.engine.base.Engine {'name_1': '무거동', 'address_1': '울산 남구 무거동(대학로) 1522-2 (147번길 38)', 'param_1': 1}
2017-09-26 11:28:17,951 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:17,953 INFO sqlalchemy.engine.base.Engine {'name': '무거동', 'address': '울산 남구 무거동(대학로) 1522-2 (147번길 38)', 'lat': 35.551, 'long': 129.260783}
2017-09-26 11:28:17,956 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,957 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:17,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,961 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:17,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,966 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:17,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,970 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:17,972 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,973 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:17,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:17,977 INFO sqlalchemy.engine.base.Engine {'station_id': 153, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '66'}
2017-09-26 11:28:17,980 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:17,984 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:17,986 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:17,987 INFO sqlalchemy.engine.base.Engine {'name_1': '효문동', 'address_1': '울산 북구 효문동 616-8', 'param_1': 1}
2017-09-26 11:28:17,994 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:17,995 INFO sqlalchemy.engine.base.Engine {'name': '효문동', 'address': '울산 북구 효문동 616-8', 'lat': 35.559667, 'long': 129.371167}
2017-09-26 11:28:17,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,000 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:18,002 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,003 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:18,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,007 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:18,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,011 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:18,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,015 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:18,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,019 INFO sqlalchemy.engine.base.Engine {'station_id': 154, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:18,022 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,027 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,029 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,031 INFO sqlalchemy.engine.base.Engine {'name_1': '상봉동', 'address_1': '경남 진주시 비봉로 85번길 12', 'param_1': 1}
2017-09-26 11:28:18,038 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,039 INFO sqlalchemy.engine.base.Engine {'name': '상봉동', 'address': '경남 진주시 비봉로 85번길 12', 'lat': 35.198267, 'long': 128.07805}
2017-09-26 11:28:18,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,044 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:18,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,048 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:18,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,053 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.064'}
2017-09-26 11:28:18,056 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,057 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:18,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,061 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:18,064 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,066 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:18,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,071 INFO sqlalchemy.engine.base.Engine {'station_id': 155, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '87'}
2017-09-26 11:28:18,073 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,080 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,081 INFO sqlalchemy.engine.base.Engine {'name_1': '대안동', 'address_1': '경남 진주시 진주대로 1052', 'param_1': 1}
2017-09-26 11:28:18,086 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,087 INFO sqlalchemy.engine.base.Engine {'name': '대안동', 'address': '경남 진주시 진주대로 1052', 'lat': 35.193333, 'long': 128.084167}
2017-09-26 11:28:18,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,092 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:18,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,096 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:18,098 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,100 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:18,102 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,104 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,108 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}

2017-09-26 11:28:18,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,112 INFO sqlalchemy.engine.base.Engine {'station_id': 156, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:18,115 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,122 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,123 INFO sqlalchemy.engine.base.Engine {'name_1': '상대동', 'address_1': '경남 진주시 동진로 279', 'param_1': 1}
2017-09-26 11:28:18,128 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,130 INFO sqlalchemy.engine.base.Engine {'name': '상대동', 'address': '경남 진주시 동진로 279', 'lat': 35.180609, 'long': 128.121781}
2017-09-26 11:28:18,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,134 INFO sqlalchemy.engine.base.Engine {'station_id': 157, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:18,137 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,139 INFO sqlalchemy.engine.base.Engine {'station_id': 157, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:18,142 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,147 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,149 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,151 INFO sqlalchemy.engine.base.Engine {'name_1': '명서동', 'address_1': '경남 창원시 의창구 우곡로 101번길 85센터)', 'param_1': 1}
2017-09-26 11:28:18,156 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,158 INFO sqlalchemy.engine.base.Engine {'name': '명서동', 'address': '경남 창원시 의창구 우곡로 101번길 85센터)', 'lat': 35.243417, 'long': 128.64175}
2017-09-26 11:28:18,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,162 INFO sqlalchemy.engine.base.Engine {'station_id': 158, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:18,165 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,166 INFO sqlalchemy.engine.base.Engine {'station_id': 158, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:18,169 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,170 INFO sqlalchemy.engine.base.Engine {'station_id': 158, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:18,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,174 INFO sqlalchemy.engine.base.Engine {'station_id': 158, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,178 INFO sqlalchemy.engine.base.Engine {'station_id': 158, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,181 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,187 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,189 INFO sqlalchemy.engine.base.Engine {'name_1': '웅남동', 'address_1': '경남 창원시 성산구 공단로 303', 'param_1': 1}
2017-09-26 11:28:18,194 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,196 INFO sqlalchemy.engine.base.Engine {'name': '웅남동', 'address': '경남 창원시 성산구 공단로 303', 'lat': 35.217333, 'long': 128.656617}
2017-09-26 11:28:18,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,202 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:18,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,205 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:18,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,209 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:18,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,214 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,218 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,221 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,226 INFO sqlalchemy.engine.base.Engine {'station_id': 159, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:18,229 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,236 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,237 INFO sqlalchemy.engine.base.Engine {'name_1': '가음정동', 'address_1': '경남 창원시 성산구 성산패총로 170', 'param_1': 1}

2017-09-26 11:28:18,242 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,244 INFO sqlalchemy.engine.base.Engine {'name': '가음정동', 'address': '경남 창원시 성산구 성산패총로 170', 'lat': 35.206733, 'long': 128.6865}
2017-09-26 11:28:18,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,248 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:18,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,251 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:18,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,256 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:18,258 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,259 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:18,262 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,264 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,267 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:18,269 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,271 INFO sqlalchemy.engine.base.Engine {'station_id': 160, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '90'}
2017-09-26 11:28:18,274 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,279 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,281 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,282 INFO sqlalchemy.engine.base.Engine {'name_1': '용지동', 'address_1': '경남 창원시 의창구 용지로 239번길 19-4', 'param_1': 1}
2017-09-26 11:28:18,287 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,289 INFO sqlalchemy.engine.base.Engine {'name': '용지동', 'address': '경남 창원시 의창구 용지로 239번길 19-4', 'lat': 35.236111, 'long': 128.683889}
2017-09-26 11:28:18,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,293 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:18,296 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,297 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:18,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,302 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.059'}
2017-09-26 11:28:18,305 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,306 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:18,309 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,310 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:18,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,316 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:18,319 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,321 INFO sqlalchemy.engine.base.Engine {'station_id': 161, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:18,324 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,332 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,334 INFO sqlalchemy.engine.base.Engine {'name_1': '반송로', 'address_1': '경남 창원시 의창구 원이대로 450', 'param_1': 1}
2017-09-26 11:28:18,341 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,342 INFO sqlalchemy.engine.base.Engine {'name': '반송로', 'address': '경남 창원시 의창구 원이대로 450', 'lat': 35.232222, 'long': 128.671389}
2017-09-26 11:28:18,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,347 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:18,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,352 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:18,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,356 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}

2017-09-26 11:28:18,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,360 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,362 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,364 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:18,367 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,368 INFO sqlalchemy.engine.base.Engine {'station_id': 162, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:18,370 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,378 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,380 INFO sqlalchemy.engine.base.Engine {'name_1': '사파동', 'address_1': '경남 창원시 성산구 창이대로 706번길 16-23', 'param_1': 1}
2017-09-26 11:28:18,386 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,387 INFO sqlalchemy.engine.base.Engine {'name': '사파동', 'address': '경남 창원시 성산구 창이대로 706번길 16-23', 'lat': 35.221729, 'long': 128.69825}
2017-09-26 11:28:18,390 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,392 INFO sqlalchemy.engine.base.Engine {'station_id': 163, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:18,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,396 INFO sqlalchemy.engine.base.Engine {'station_id': 163, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.065'}
2017-09-26 11:28:18,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,401 INFO sqlalchemy.engine.base.Engine {'station_id': 163, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:18,404 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,406 INFO sqlalchemy.engine.base.Engine {'station_id': 163, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:18,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,411 INFO sqlalchemy.engine.base.Engine {'station_id': 163, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:18,414 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,418 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,420 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,421 INFO sqlalchemy.engine.base.Engine {'name_1': '경화동', 'address_1': '경남 창원시 진해구 경화로16번길 31', 'param_1': 1}
2017-09-26 11:28:18,426 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,428 INFO sqlalchemy.engine.base.Engine {'name': '경화동', 'address': '경남 창원시 진해구 경화로16번길 31', 'lat': 35.154972, 'long': 128.689578}
2017-09-26 11:28:18,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,432 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:18,435 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,436 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:18,439 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,441 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:18,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,446 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:18,450 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,451 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,454 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,455 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:18,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,459 INFO sqlalchemy.engine.base.Engine {'station_id': 164, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '90'}
2017-09-26 11:28:18,462 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,467 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,467 INFO sqlalchemy.engine.base.Engine {'name_1': '하동읍', 'address_1': '경남 하동군 하동읍 군청로 23', 'param_1': 1}
2017-09-26 11:28:18,473 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,474 INFO sqlalchemy.engine.base.Engine {'name': '하동읍', 'address': '경남 하동군 하동읍 군청로 23', 'lat': 35.066944, 'long': 127.751389}
2017-09-26 11:28:18,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:18,478 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:18,481 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,483 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:18,486 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,488 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.057'}
2017-09-26 11:28:18,491 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,492 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,496 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:18,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,499 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:18,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,504 INFO sqlalchemy.engine.base.Engine {'station_id': 165, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '94'}
2017-09-26 11:28:18,506 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,514 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,515 INFO sqlalchemy.engine.base.Engine {'name_1': '동상동', 'address_1': '경남 김해시 호계로 517번길 8', 'param_1': 1}
2017-09-26 11:28:18,521 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,523 INFO sqlalchemy.engine.base.Engine {'name': '동상동', 'address': '경남 김해시 호계로 517번길 8', 'lat': 35.236667, 'long': 128.883333}
2017-09-26 11:28:18,525 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,526 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:18,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,531 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:18,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,535 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:18,538 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,539 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:18,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,544 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:18,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,548 INFO sqlalchemy.engine.base.Engine {'station_id': 166, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:18,552 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,562 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,564 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,566 INFO sqlalchemy.engine.base.Engine {'name_1': '삼방동', 'address_1': '경남 김해시 활천로 303', 'param_1': 1}
2017-09-26 11:28:18,572 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,573 INFO sqlalchemy.engine.base.Engine {'name': '삼방동', 'address': '경남 김해시 활천로 303', 'lat': 35.243889, 'long': 128.912222}
2017-09-26 11:28:18,577 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,578 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:18,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,583 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:18,586 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,588 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:18,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,592 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:18,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,596 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,599 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,600 INFO sqlalchemy.engine.base.Engine {'station_id': 167, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}

2017-09-26 11:28:18,604 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,613 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,615 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,617 INFO sqlalchemy.engine.base.Engine {'name_1': '장유동', 'address_1': '경남 김해시 장유동 능동로 149', 'param_1': 1}
2017-09-26 11:28:18,628 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,629 INFO sqlalchemy.engine.base.Engine {'name': '장유동', 'address': '경남 김해시 장유동 능동로 149', 'lat': 35.202364, 'long': 128.807221}
2017-09-26 11:28:18,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,635 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '51'}
2017-09-26 11:28:18,638 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,640 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:18,645 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,647 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.057'}
2017-09-26 11:28:18,649 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,651 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:18,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,657 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:18,661 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,663 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:18,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,670 INFO sqlalchemy.engine.base.Engine {'station_id': 168, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:18,673 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,681 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,682 INFO sqlalchemy.engine.base.Engine {'name_1': '저구리', 'address_1': '경남 거제시 남부면 저구리', 'param_1': 1}
2017-09-26 11:28:18,686 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,688 INFO sqlalchemy.engine.base.Engine {'name': '저구리', 'address': '경남 거제시 남부면 저구리', 'lat': 34.71005, 'long': 128.58745}
2017-09-26 11:28:18,691 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,699 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,700 INFO sqlalchemy.engine.base.Engine {'name_1': '아주동', 'address_1': '경남 거제시 아주로 3길 25', 'param_1': 1}
2017-09-26 11:28:18,706 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,708 INFO sqlalchemy.engine.base.Engine {'name': '아주동', 'address': '경남 거제시 아주로 3길 25', 'lat': 34.864751, 'long': 128.690936}
2017-09-26 11:28:18,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,712 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:18,715 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,716 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:18,719 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,720 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.061'}
2017-09-26 11:28:18,724 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,725 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:18,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,730 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:18,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,735 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,740 INFO sqlalchemy.engine.base.Engine {'station_id': 170, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '86'}
2017-09-26 11:28:18,744 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,749 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,752 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,753 INFO sqlalchemy.engine.base.Engine {'name_1': '사천읍', 'address_1': '경남 사천시 사천읍 읍내로 52', 'param_1': 1}

2017-09-26 11:28:18,759 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,760 INFO sqlalchemy.engine.base.Engine {'name': '사천읍', 'address': '경남 사천시 사천읍 읍내로 52', 'lat': 35.082551, 'long': 128.091236}
2017-09-26 11:28:18,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,765 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:18,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,769 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:18,772 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,774 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:18,776 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,778 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:18,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,782 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:18,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,786 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:18,789 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,790 INFO sqlalchemy.engine.base.Engine {'station_id': 171, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:18,794 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,798 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,800 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,801 INFO sqlalchemy.engine.base.Engine {'name_1': '대산면', 'address_1': '경남 창원시 의창구 대산면 갈전로99번길 100', 'param_1': 1}
2017-09-26 11:28:18,805 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,807 INFO sqlalchemy.engine.base.Engine {'name': '대산면', 'address': '경남 창원시 의창구 대산면 갈전로99번길 100', 'lat': 35.371633, 'long': 128.676483}
2017-09-26 11:28:18,809 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,813 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,815 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,817 INFO sqlalchemy.engine.base.Engine {'name_1': '북부동', 'address_1': '경남 양산시 북부동 북안남 5번길 21', 'param_1': 1}
2017-09-26 11:28:18,821 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,822 INFO sqlalchemy.engine.base.Engine {'name': '북부동', 'address': '경남 양산시 북부동 북안남 5번길 21', 'lat': 35.345556, 'long': 129.04}
2017-09-26 11:28:18,825 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,829 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,831 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,832 INFO sqlalchemy.engine.base.Engine {'name_1': '웅상읍', 'address_1': '경남 양산시 웅상읍 삼호 9길 1)', 'param_1': 1}
2017-09-26 11:28:18,838 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,841 INFO sqlalchemy.engine.base.Engine {'name': '웅상읍', 'address': '경남 양산시 웅상읍 삼호 9길 1)', 'lat': 35.414667, 'long': 129.172083}
2017-09-26 11:28:18,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,850 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:18,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,856 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:18,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,862 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:18,865 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,867 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:18,871 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,873 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:18,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,878 INFO sqlalchemy.engine.base.Engine {'station_id': 174, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:18,881 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,889 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,891 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,893 INFO sqlalchemy.engine.base.Engine {'name_1': '화산리', 'address_1': '울산 울주군 온산읍 화산리 22', 'param_1': 1}

2017-09-26 11:28:18,899 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,901 INFO sqlalchemy.engine.base.Engine {'name': '화산리', 'address': '울산 울주군 온산읍 화산리 22', 'lat': 35.4381, 'long': 129.337633}
2017-09-26 11:28:18,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,906 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '66'}
2017-09-26 11:28:18,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,910 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:18,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,916 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:18,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,921 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:18,925 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,926 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:18,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,931 INFO sqlalchemy.engine.base.Engine {'station_id': 175, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:18,934 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,942 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,943 INFO sqlalchemy.engine.base.Engine {'name_1': '상남리', 'address_1': '울산 울주군 청량면 상남리(신석하 3길) 595-7(5 청량면사무소 옥상)', 'param_1': 1}
2017-09-26 11:28:18,950 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,951 INFO sqlalchemy.engine.base.Engine {'name': '상남리', 'address': '울산 울주군 청량면 상남리(신석하 3길) 595-7(5 청량면사무소 옥상)', 'lat': 35.49245, 'long': 129.3055}
2017-09-26 11:28:18,957 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,958 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:18,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,962 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:18,966 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,967 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:18,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,972 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:18,974 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,976 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:18,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:18,980 INFO sqlalchemy.engine.base.Engine {'station_id': 176, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:18,983 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:18,989 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:18,991 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:18,993 INFO sqlalchemy.engine.base.Engine {'name_1': '농소동', 'address_1': '울산 북구 호계동(호계7길) 726번지', 'param_1': 1}
2017-09-26 11:28:18,997 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:18,999 INFO sqlalchemy.engine.base.Engine {'name': '농소동', 'address': '울산 북구 호계동(호계7길) 726번지', 'lat': 35.625579, 'long': 129.355149}
2017-09-26 11:28:19,002 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,009 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,010 INFO sqlalchemy.engine.base.Engine {'name_1': '삼남면', 'address_1': '울산 울주군 삼남면 교동리(서향교 1길) 1605-1(67-12)', 'param_1': 1}
2017-09-26 11:28:19,016 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,018 INFO sqlalchemy.engine.base.Engine {'name': '삼남면', 'address': '울산 울주군 삼남면 교동리(서향교 1길) 1605-1(67-12)', 'lat': 35.558331, 'long': 129.113771}
2017-09-26 11:28:19,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,023 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:19,026 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,027 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:19,030 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:19,032 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.061'}
2017-09-26 11:28:19,036 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,039 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:19,043 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,045 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,048 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,049 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:19,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,054 INFO sqlalchemy.engine.base.Engine {'station_id': 178, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '76'}
2017-09-26 11:28:19,058 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,063 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,065 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,067 INFO sqlalchemy.engine.base.Engine {'name_1': '남상면', 'address_1': '경남 거창군 남상면 인평길 36', 'param_1': 1}
2017-09-26 11:28:19,073 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,074 INFO sqlalchemy.engine.base.Engine {'name': '남상면', 'address': '경남 거창군 남상면 인평길 36', 'lat': 35.643167, 'long': 127.9105}
2017-09-26 11:28:19,078 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,080 INFO sqlalchemy.engine.base.Engine {'station_id': 179, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:19,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,084 INFO sqlalchemy.engine.base.Engine {'station_id': 179, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:19,087 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,089 INFO sqlalchemy.engine.base.Engine {'station_id': 179, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,092 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,094 INFO sqlalchemy.engine.base.Engine {'station_id': 179, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:19,097 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,102 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,104 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,105 INFO sqlalchemy.engine.base.Engine {'name_1': '서석동', 'address_1': '광주 동구 서남로 1', 'param_1': 1}
2017-09-26 11:28:19,111 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,113 INFO sqlalchemy.engine.base.Engine {'name': '서석동', 'address': '광주 동구 서남로 1', 'lat': 35.14583, 'long': 126.92333}
2017-09-26 11:28:19,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,118 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:19,121 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,123 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:19,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,127 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.055'}
2017-09-26 11:28:19,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,133 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:19,136 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,137 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,140 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,141 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:19,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,146 INFO sqlalchemy.engine.base.Engine {'station_id': 180, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '99'}
2017-09-26 11:28:19,149 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,157 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,159 INFO sqlalchemy.engine.base.Engine {'name_1': '농성동', 'address_1': '광주 서구 상무대로 1165 (광주시립미술관 상록전시관 단독건물)', 'param_1': 1}
2017-09-26 11:28:19,165 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,166 INFO sqlalchemy.engine.base.Engine {'name': '농성동', 'address': '광주 서구 상무대로 1165 (광주시립미술관 상록전시관 단독건물)', 'lat': 35.156651, 'long': 126.889699}

2017-09-26 11:28:19,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,171 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:19,173 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,174 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:19,178 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,179 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.055'}
2017-09-26 11:28:19,182 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,183 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:19,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,187 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,192 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:19,195 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,197 INFO sqlalchemy.engine.base.Engine {'station_id': 181, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '93'}
2017-09-26 11:28:19,200 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,207 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,209 INFO sqlalchemy.engine.base.Engine {'name_1': '치평동', 'address_1': '광주 서구 상무자유로 170', 'param_1': 1}
2017-09-26 11:28:19,213 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,215 INFO sqlalchemy.engine.base.Engine {'name': '치평동', 'address': '광주 서구 상무자유로 170', 'lat': 35.151625, 'long': 126.853292}
2017-09-26 11:28:19,218 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,223 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,224 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,226 INFO sqlalchemy.engine.base.Engine {'name_1': '두암동', 'address_1': '광주 북구 군왕로 141번길 6 (두암보건지소)', 'param_1': 1}
2017-09-26 11:28:19,231 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,232 INFO sqlalchemy.engine.base.Engine {'name': '두암동', 'address': '광주 북구 군왕로 141번길 6 (두암보건지소)', 'lat': 35.1743, 'long': 126.9325}
2017-09-26 11:28:19,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,238 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:19,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,242 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:19,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,246 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:19,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,250 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:19,252 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,254 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,258 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:19,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,262 INFO sqlalchemy.engine.base.Engine {'station_id': 183, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '104'}
2017-09-26 11:28:19,266 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,276 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,277 INFO sqlalchemy.engine.base.Engine {'name_1': '운암동', 'address_1': '광주 북구 북문대로 79', 'param_1': 1}
2017-09-26 11:28:19,283 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,287 INFO sqlalchemy.engine.base.Engine {'name': '운암동', 'address': '광주 북구 북문대로 79', 'lat': 35.176106, 'long': 126.856931}
2017-09-26 11:28:19,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,293 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:19,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:19,296 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:19,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,301 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:19,304 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,306 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:19,308 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,309 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,312 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,314 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:19,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,319 INFO sqlalchemy.engine.base.Engine {'station_id': 184, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '101'}
2017-09-26 11:28:19,322 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,327 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,329 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,331 INFO sqlalchemy.engine.base.Engine {'name_1': '건국동', 'address_1': '광주 북구 첨단과기로 333 (광주테크노파크 벤처지원센터 옥상)', 'param_1': 1}
2017-09-26 11:28:19,337 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,338 INFO sqlalchemy.engine.base.Engine {'name': '건국동', 'address': '광주 북구 첨단과기로 333 (광주테크노파크 벤처지원센터 옥상)', 'lat': 35.23025, 'long': 126.8623}
2017-09-26 11:28:19,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,344 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:19,346 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,348 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:19,351 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,352 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.058'}
2017-09-26 11:28:19,355 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,356 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:19,359 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,360 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:19,363 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,364 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:19,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,367 INFO sqlalchemy.engine.base.Engine {'station_id': 185, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:19,370 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,377 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,378 INFO sqlalchemy.engine.base.Engine {'name_1': '송정1동', 'address_1': '광주 광산구 광산로 70', 'param_1': 1}
2017-09-26 11:28:19,382 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,383 INFO sqlalchemy.engine.base.Engine {'name': '송정1동', 'address': '광주 광산구 광산로 70', 'lat': 35.140733, 'long': 126.798833}
2017-09-26 11:28:19,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,387 INFO sqlalchemy.engine.base.Engine {'station_id': 186, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:19,390 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,396 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,398 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,399 INFO sqlalchemy.engine.base.Engine {'name_1': '오선동', 'address_1': '광주 광산구 하남산단 6번로 107', 'param_1': 1}
2017-09-26 11:28:19,407 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,410 INFO sqlalchemy.engine.base.Engine {'name': '오선동', 'address': '광주 광산구 하남산단 6번로 107', 'lat': 35.20413, 'long': 126.8072}
2017-09-26 11:28:19,413 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,416 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:19,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,420 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}

2017-09-26 11:28:19,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,424 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.059'}
2017-09-26 11:28:19,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,428 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:19,430 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,431 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,435 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:19,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,439 INFO sqlalchemy.engine.base.Engine {'station_id': 187, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '104'}
2017-09-26 11:28:19,443 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,447 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,448 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,451 INFO sqlalchemy.engine.base.Engine {'name_1': '주월동', 'address_1': '광주 남구 회서로 21번가길 13', 'param_1': 1}
2017-09-26 11:28:19,458 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,460 INFO sqlalchemy.engine.base.Engine {'name': '주월동', 'address': '광주 남구 회서로 21번가길 13', 'lat': 35.131917, 'long': 126.8933}
2017-09-26 11:28:19,463 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,464 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:19,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,468 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:19,471 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,474 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:19,479 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,480 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:19,483 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,486 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,494 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:19,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,499 INFO sqlalchemy.engine.base.Engine {'station_id': 188, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '107'}
2017-09-26 11:28:19,503 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,512 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,514 INFO sqlalchemy.engine.base.Engine {'name_1': '중앙동(전주)', 'address_1': '전북 전주시 완산구 태평3길 43-17 중앙동주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:19,520 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,521 INFO sqlalchemy.engine.base.Engine {'name': '중앙동(전주)', 'address': '전북 전주시 완산구 태평3길 43-17 중앙동주민센터 옥상', 'lat': 35.823499, 'long': 127.14064}
2017-09-26 11:28:19,527 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,530 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:19,533 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,535 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:19,539 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,541 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:19,544 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,546 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:19,549 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,551 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,560 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}

2017-09-26 11:28:19,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,566 INFO sqlalchemy.engine.base.Engine {'station_id': 189, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '82'}
2017-09-26 11:28:19,571 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,583 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,586 INFO sqlalchemy.engine.base.Engine {'name_1': '용당동', 'address_1': '전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)', 'param_1': 1}
2017-09-26 11:28:19,596 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,597 INFO sqlalchemy.engine.base.Engine {'name': '용당동', 'address': '전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)', 'lat': 34.80593, 'long': 126.391767}
2017-09-26 11:28:19,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,603 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:19,605 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,607 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:19,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,611 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.061'}
2017-09-26 11:28:19,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,616 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:19,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,623 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,627 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,628 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:19,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,633 INFO sqlalchemy.engine.base.Engine {'station_id': 190, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:19,637 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,642 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,647 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,649 INFO sqlalchemy.engine.base.Engine {'name_1': '부흥동', 'address_1': '전남 목포시 삼향천로 28(옥암동)', 'param_1': 1}
2017-09-26 11:28:19,656 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,658 INFO sqlalchemy.engine.base.Engine {'name': '부흥동', 'address': '전남 목포시 삼향천로 28(옥암동)', 'lat': 34.804279, 'long': 126.43457}
2017-09-26 11:28:19,663 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,664 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:19,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,671 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:19,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,675 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.063'}
2017-09-26 11:28:19,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,679 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:19,681 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,683 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:19,690 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,691 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:19,694 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,697 INFO sqlalchemy.engine.base.Engine {'station_id': 191, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:19,703 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,724 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,728 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,732 INFO sqlalchemy.engine.base.Engine {'name_1': '광무동', 'address_1': '전남 여수시 좌수영로 69(광무동)', 'param_1': 1}
2017-09-26 11:28:19,739 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,742 INFO sqlalchemy.engine.base.Engine {'name': '광무동', 'address': '전남 여수시 좌수영로 69(광무동)', 'lat': 34.746958, 'long': 127.727923}

2017-09-26 11:28:19,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,752 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:19,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,773 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:19,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,783 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:19,786 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,788 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:19,791 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,792 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,796 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:19,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,802 INFO sqlalchemy.engine.base.Engine {'station_id': 192, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:19,805 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,810 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,813 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,815 INFO sqlalchemy.engine.base.Engine {'name_1': '월내동', 'address_1': '전남 여수시 여수산단로 1201(월내동)', 'param_1': 1}
2017-09-26 11:28:19,820 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,822 INFO sqlalchemy.engine.base.Engine {'name': '월내동', 'address': '전남 여수시 여수산단로 1201(월내동)', 'lat': 34.850083, 'long': 127.731933}
2017-09-26 11:28:19,830 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,836 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,838 INFO sqlalchemy.engine.base.Engine {'name_1': '문수동', 'address_1': '전남 여수시 여문1로 71(문수동)', 'param_1': 1}
2017-09-26 11:28:19,844 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,847 INFO sqlalchemy.engine.base.Engine {'name': '문수동', 'address': '전남 여수시 여문1로 71(문수동)', 'lat': 34.754549, 'long': 127.70276}
2017-09-26 11:28:19,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,855 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:19,857 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,859 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:19,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,869 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:19,873 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,875 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:19,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,887 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:19,889 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,892 INFO sqlalchemy.engine.base.Engine {'station_id': 194, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:19,895 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,912 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,915 INFO sqlalchemy.engine.base.Engine {'name_1': '여천동(여수)', 'address_1': '전남 여수시 무선동 190(선원동)', 'param_1': 1}
2017-09-26 11:28:19,922 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,923 INFO sqlalchemy.engine.base.Engine {'name': '여천동(여수)', 'address': '전남 여수시 무선동 190(선원동)', 'lat': 34.766301, 'long': 127.657507}
2017-09-26 11:28:19,926 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,928 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:19,934 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,935 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:19,938 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:19,939 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:19,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,945 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:19,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,952 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:19,954 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,956 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:19,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,960 INFO sqlalchemy.engine.base.Engine {'station_id': 195, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:19,965 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:19,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:19,974 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:19,975 INFO sqlalchemy.engine.base.Engine {'name_1': '덕충동', 'address_1': '전남 여수시 덕충안길 95', 'param_1': 1}
2017-09-26 11:28:19,984 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:19,987 INFO sqlalchemy.engine.base.Engine {'name': '덕충동', 'address': '전남 여수시 덕충안길 95', 'lat': 34.7539, 'long': 127.7468}
2017-09-26 11:28:19,991 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:19,993 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '51'}
2017-09-26 11:28:20,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,003 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:20,006 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,008 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:20,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,013 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:20,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,024 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:20,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,031 INFO sqlalchemy.engine.base.Engine {'station_id': 196, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:20,040 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,052 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,054 INFO sqlalchemy.engine.base.Engine {'name_1': '장천동', 'address_1': '전남 순천시 장명로 30(장천동)', 'param_1': 1}
2017-09-26 11:28:20,060 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,063 INFO sqlalchemy.engine.base.Engine {'name': '장천동', 'address': '전남 순천시 장명로 30(장천동)', 'lat': 34.950357, 'long': 127.487189}
2017-09-26 11:28:20,071 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,076 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,080 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,081 INFO sqlalchemy.engine.base.Engine {'name_1': '연향동', 'address_1': '전남 순천시 연향번영길 54(연향동)', 'param_1': 1}
2017-09-26 11:28:20,087 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,089 INFO sqlalchemy.engine.base.Engine {'name': '연향동', 'address': '전남 순천시 연향번영길 54(연향동)', 'lat': 34.947102, 'long': 127.518575}
2017-09-26 11:28:20,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,094 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:20,097 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,099 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:20,101 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,104 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.070'}
2017-09-26 11:28:20,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,111 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:20,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,116 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}

2017-09-26 11:28:20,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,121 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:20,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,128 INFO sqlalchemy.engine.base.Engine {'station_id': 198, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:20,132 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,137 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,140 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,141 INFO sqlalchemy.engine.base.Engine {'name_1': '순천만', 'address_1': '전남 순천시 순천만길 513-25(대대동)', 'param_1': 1}
2017-09-26 11:28:20,151 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,153 INFO sqlalchemy.engine.base.Engine {'name': '순천만', 'address': '전남 순천시 순천만길 513-25(대대동)', 'lat': 34.885971, 'long': 127.50903}
2017-09-26 11:28:20,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,158 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:20,162 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,163 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:20,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,169 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:20,172 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,174 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '1.5'}
2017-09-26 11:28:20,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,178 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:20,181 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,182 INFO sqlalchemy.engine.base.Engine {'station_id': 199, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:20,185 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,190 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,193 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,195 INFO sqlalchemy.engine.base.Engine {'name_1': '호두리', 'address_1': '전남 순천시 해룡면 호두리 276-9', 'param_1': 1}
2017-09-26 11:28:20,201 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,203 INFO sqlalchemy.engine.base.Engine {'name': '호두리', 'address': '전남 순천시 해룡면 호두리 276-9', 'lat': 34.892081, 'long': 127.572745}
2017-09-26 11:28:20,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,208 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:20,211 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,214 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:20,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,218 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:20,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,223 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '1.5'}
2017-09-26 11:28:20,226 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,228 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:20,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,232 INFO sqlalchemy.engine.base.Engine {'station_id': 200, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:20,235 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,240 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,242 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,243 INFO sqlalchemy.engine.base.Engine {'name_1': '중동', 'address_1': '전남 광양시 중마중앙로 109(중동)', 'param_1': 1}
2017-09-26 11:28:20,249 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,251 INFO sqlalchemy.engine.base.Engine {'name': '중동', 'address': '전남 광양시 중마중앙로 109(중동)', 'lat': 34.937342, 'long': 127.693427}
2017-09-26 11:28:20,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,257 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}

2017-09-26 11:28:20,261 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,263 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:20,266 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,268 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.040'}
2017-09-26 11:28:20,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,274 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:20,277 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,279 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:20,282 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,283 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:20,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,288 INFO sqlalchemy.engine.base.Engine {'station_id': 201, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:20,294 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,305 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,307 INFO sqlalchemy.engine.base.Engine {'name_1': '태인동', 'address_1': '전남 광양시 태인길 376(태인동)', 'param_1': 1}
2017-09-26 11:28:20,317 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,320 INFO sqlalchemy.engine.base.Engine {'name': '태인동', 'address': '전남 광양시 태인길 376(태인동)', 'lat': 34.941868, 'long': 127.757069}
2017-09-26 11:28:20,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,325 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:20,328 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,329 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:20,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,333 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:20,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,337 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:20,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,342 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:20,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,346 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:20,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,350 INFO sqlalchemy.engine.base.Engine {'station_id': 202, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:20,352 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,357 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,360 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,361 INFO sqlalchemy.engine.base.Engine {'name_1': '진상면', 'address_1': '전남 광양시 진상면 신시길 227(섬거리)', 'param_1': 1}
2017-09-26 11:28:20,366 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,369 INFO sqlalchemy.engine.base.Engine {'name': '진상면', 'address': '전남 광양시 진상면 신시길 227(섬거리)', 'lat': 35.019997, 'long': 127.71962}
2017-09-26 11:28:20,374 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,376 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:20,379 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,380 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:20,383 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,384 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.057'}
2017-09-26 11:28:20,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,388 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:20,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,397 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:20,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:20,402 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:20,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,406 INFO sqlalchemy.engine.base.Engine {'station_id': 203, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '91'}
2017-09-26 11:28:20,410 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,421 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,424 INFO sqlalchemy.engine.base.Engine {'name_1': '광양읍', 'address_1': '전남 광양시 광양읍 인덕로 1100(칠성리)', 'param_1': 1}
2017-09-26 11:28:20,435 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,437 INFO sqlalchemy.engine.base.Engine {'name': '광양읍', 'address': '전남 광양시 광양읍 인덕로 1100(칠성리)', 'lat': 34.980817, 'long': 127.583116}
2017-09-26 11:28:20,441 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,444 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:20,448 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,449 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:20,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,453 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.058'}
2017-09-26 11:28:20,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,457 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:20,460 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,461 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:20,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,466 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:20,468 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,470 INFO sqlalchemy.engine.base.Engine {'station_id': 204, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:20,473 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,480 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,482 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,484 INFO sqlalchemy.engine.base.Engine {'name_1': '나불리', 'address_1': '전남 영암군 삼호읍 나불로 192(나불리)', 'param_1': 1}
2017-09-26 11:28:20,490 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,491 INFO sqlalchemy.engine.base.Engine {'name': '나불리', 'address': '전남 영암군 삼호읍 나불로 192(나불리)', 'lat': 34.766809, 'long': 126.439193}
2017-09-26 11:28:20,495 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,496 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:20,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,500 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:20,503 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,504 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:20,506 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,508 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:20,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,512 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:20,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,515 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:20,518 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,519 INFO sqlalchemy.engine.base.Engine {'station_id': 205, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:20,523 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,528 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,530 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,531 INFO sqlalchemy.engine.base.Engine {'name_1': '송단리', 'address_1': '전남 화순군 북면 송단리', 'param_1': 1}
2017-09-26 11:28:20,537 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,539 INFO sqlalchemy.engine.base.Engine {'name': '송단리', 'address': '전남 화순군 북면 송단리', 'lat': 35.177167, 'long': 127.175167}

2017-09-26 11:28:20,542 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,545 INFO sqlalchemy.engine.base.Engine {'station_id': 206, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:20,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,552 INFO sqlalchemy.engine.base.Engine {'station_id': 206, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.061'}
2017-09-26 11:28:20,554 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,555 INFO sqlalchemy.engine.base.Engine {'station_id': 206, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:20,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,560 INFO sqlalchemy.engine.base.Engine {'station_id': 206, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:20,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,567 INFO sqlalchemy.engine.base.Engine {'station_id': 206, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '76'}
2017-09-26 11:28:20,570 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,579 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,581 INFO sqlalchemy.engine.base.Engine {'name_1': '이도동', 'address_1': '제주 제주시 이도2동 1176-1(제주시청)', 'param_1': 1}
2017-09-26 11:28:20,585 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,586 INFO sqlalchemy.engine.base.Engine {'name': '이도동', 'address': '제주 제주시 이도2동 1176-1(제주시청)', 'lat': 33.500116, 'long': 126.532371}
2017-09-26 11:28:20,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,592 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:20,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,598 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:20,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,603 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:20,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,608 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:20,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,612 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.1'}
2017-09-26 11:28:20,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,617 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:20,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,621 INFO sqlalchemy.engine.base.Engine {'station_id': 207, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:20,624 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,628 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,630 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,631 INFO sqlalchemy.engine.base.Engine {'name_1': '연동', 'address_1': '제주 제주시 연동 322-1 번지 제주특별자치도청 제2청사', 'param_1': 1}
2017-09-26 11:28:20,637 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,639 INFO sqlalchemy.engine.base.Engine {'name': '연동', 'address': '제주 제주시 연동 322-1 번지 제주특별자치도청 제2청사', 'lat': 33.48863, 'long': 126.500055}
2017-09-26 11:28:20,642 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,643 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:20,646 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,647 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:20,651 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,653 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:20,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,660 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:20,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,667 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:20,670 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,672 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}

2017-09-26 11:28:20,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,677 INFO sqlalchemy.engine.base.Engine {'station_id': 208, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:20,680 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,685 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,688 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,689 INFO sqlalchemy.engine.base.Engine {'name_1': '동홍동', 'address_1': '제주 서귀포시 동홍동 453-1(서귀포소방서)', 'param_1': 1}
2017-09-26 11:28:20,694 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,697 INFO sqlalchemy.engine.base.Engine {'name': '동홍동', 'address': '제주 서귀포시 동홍동 453-1(서귀포소방서)', 'lat': 33.261361, 'long': 126.567093}
2017-09-26 11:28:20,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,703 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:20,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,710 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:20,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,714 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:20,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,718 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:20,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,723 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:20,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,729 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:20,732 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,736 INFO sqlalchemy.engine.base.Engine {'station_id': 209, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:20,739 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,747 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,749 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,750 INFO sqlalchemy.engine.base.Engine {'name_1': '고산리', 'address_1': '제주 제주시 한경면 고산리', 'param_1': 1}
2017-09-26 11:28:20,756 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,757 INFO sqlalchemy.engine.base.Engine {'name': '고산리', 'address': '제주 제주시 한경면 고산리', 'lat': 33.292471, 'long': 126.162165}
2017-09-26 11:28:20,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,761 INFO sqlalchemy.engine.base.Engine {'station_id': 210, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:20,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,765 INFO sqlalchemy.engine.base.Engine {'station_id': 210, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:20,769 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,771 INFO sqlalchemy.engine.base.Engine {'station_id': 210, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:20,774 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,776 INFO sqlalchemy.engine.base.Engine {'station_id': 210, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:20,779 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,781 INFO sqlalchemy.engine.base.Engine {'station_id': 210, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:20,784 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,791 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,793 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,795 INFO sqlalchemy.engine.base.Engine {'name_1': '수창동', 'address_1': '대구 중구 수창동 73 (수창초등학교)(달성로 22길 30)', 'param_1': 1}
2017-09-26 11:28:20,801 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,803 INFO sqlalchemy.engine.base.Engine {'name': '수창동', 'address': '대구 중구 수창동 73 (수창초등학교)(달성로 22길 30)', 'lat': 35.874296, 'long': 128.584137}
2017-09-26 11:28:20,807 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,808 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:20,811 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,812 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:20,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:20,815 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:20,819 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,820 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:20,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,825 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:20,830 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,833 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:20,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,837 INFO sqlalchemy.engine.base.Engine {'station_id': 211, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:20,841 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,851 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,853 INFO sqlalchemy.engine.base.Engine {'name_1': '지산동', 'address_1': '대구 수성구 지산동 761-11(한국환경공단) (무학로 209)', 'param_1': 1}
2017-09-26 11:28:20,857 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,859 INFO sqlalchemy.engine.base.Engine {'name': '지산동', 'address': '대구 수성구 지산동 761-11(한국환경공단) (무학로 209)', 'lat': 35.83047, 'long': 128.631555}
2017-09-26 11:28:20,863 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,867 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,870 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,871 INFO sqlalchemy.engine.base.Engine {'name_1': '서호동', 'address_1': '대구 동구 서호동 25-1(안심로49길 70)', 'param_1': 1}
2017-09-26 11:28:20,877 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,879 INFO sqlalchemy.engine.base.Engine {'name': '서호동', 'address': '대구 동구 서호동 25-1(안심로49길 70)', 'lat': 35.869103, 'long': 128.711015}
2017-09-26 11:28:20,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,883 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:20,885 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,887 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:20,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,892 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:20,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,899 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:20,904 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,906 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:20,909 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,911 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:20,914 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,916 INFO sqlalchemy.engine.base.Engine {'station_id': 213, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:20,918 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,924 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,927 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,928 INFO sqlalchemy.engine.base.Engine {'name_1': '이현동', 'address_1': '대구 서구 이현동 48-60 (중리초등학교)(국채보상로 135)', 'param_1': 1}
2017-09-26 11:28:20,934 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,936 INFO sqlalchemy.engine.base.Engine {'name': '이현동', 'address': '대구 서구 이현동 48-60 (중리초등학교)(국채보상로 135)', 'lat': 35.869552, 'long': 128.545324}
2017-09-26 11:28:20,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,941 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:20,944 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,946 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:20,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,949 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:20,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,952 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}

2017-09-26 11:28:20,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,956 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:20,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,961 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:20,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,966 INFO sqlalchemy.engine.base.Engine {'station_id': 214, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:20,969 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:20,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:20,977 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:20,979 INFO sqlalchemy.engine.base.Engine {'name_1': '평리동', 'address_1': '대구 서구 평리3동', 'param_1': 1}
2017-09-26 11:28:20,987 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:20,988 INFO sqlalchemy.engine.base.Engine {'name': '평리동', 'address': '대구 서구 평리3동', 'lat': 35.880276, 'long': 128.562492}
2017-09-26 11:28:20,992 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,994 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:20,997 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:20,998 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:21,001 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,002 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:21,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,006 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:21,010 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,011 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,016 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:21,020 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,021 INFO sqlalchemy.engine.base.Engine {'station_id': 215, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:21,024 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,029 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,030 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,032 INFO sqlalchemy.engine.base.Engine {'name_1': '대명동', 'address_1': '대구 남구 성당로30길55 성명초등학교별관3층옥상', 'param_1': 1}
2017-09-26 11:28:21,041 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,043 INFO sqlalchemy.engine.base.Engine {'name': '대명동', 'address': '대구 남구 성당로30길55 성명초등학교별관3층옥상', 'lat': 35.845499, 'long': 128.573333}
2017-09-26 11:28:21,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,048 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:21,050 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,052 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '21'}
2017-09-26 11:28:21,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,056 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:21,059 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,060 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:21,062 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,065 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,069 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,070 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:21,074 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,075 INFO sqlalchemy.engine.base.Engine {'station_id': 216, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:21,079 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,086 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,089 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:21,090 INFO sqlalchemy.engine.base.Engine {'name_1': '노원동', 'address_1': '대구 북구 노원동 3가 262번지(삼영초등학교)(3공단로 14길 31)', 'param_1': 1}
2017-09-26 11:28:21,098 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,099 INFO sqlalchemy.engine.base.Engine {'name': '노원동', 'address': '대구 북구 노원동 3가 262번지(삼영초등학교)(3공단로 14길 31)', 'lat': 35.89428, 'long': 128.562848}
2017-09-26 11:28:21,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,105 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:21,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,109 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:21,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,113 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:21,116 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,118 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:21,122 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,123 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:21,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,129 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:21,131 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,133 INFO sqlalchemy.engine.base.Engine {'station_id': 217, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:21,138 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,144 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,149 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,151 INFO sqlalchemy.engine.base.Engine {'name_1': '신암동', 'address_1': '대구 동구 신암동 72-1 (신암5동사무소)(아양로 37길 92)', 'param_1': 1}
2017-09-26 11:28:21,157 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,159 INFO sqlalchemy.engine.base.Engine {'name': '신암동', 'address': '대구 동구 신암동 72-1 (신암5동사무소)(아양로 37길 92)', 'lat': 35.889756, 'long': 128.633063}
2017-09-26 11:28:21,163 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,171 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,174 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,176 INFO sqlalchemy.engine.base.Engine {'name_1': '태전동', 'address_1': '대구 북구 태전동 1076-5 (태암초등학교)(칠곡중앙대로 52길 56)', 'param_1': 1}
2017-09-26 11:28:21,182 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,183 INFO sqlalchemy.engine.base.Engine {'name': '태전동', 'address': '대구 북구 태전동 1076-5 (태암초등학교)(칠곡중앙대로 52길 56)', 'lat': 35.921939, 'long': 128.544655}
2017-09-26 11:28:21,187 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,189 INFO sqlalchemy.engine.base.Engine {'station_id': 219, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '57'}
2017-09-26 11:28:21,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,196 INFO sqlalchemy.engine.base.Engine {'station_id': 219, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:21,200 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,207 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,210 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,212 INFO sqlalchemy.engine.base.Engine {'name_1': '만촌동', 'address_1': '대구 수성구 만촌2동 934 (동원초등학교)(국채보상로 1000)', 'param_1': 1}
2017-09-26 11:28:21,216 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,218 INFO sqlalchemy.engine.base.Engine {'name': '만촌동', 'address': '대구 수성구 만촌2동 934 (동원초등학교)(국채보상로 1000)', 'lat': 35.865276, 'long': 128.640032}
2017-09-26 11:28:21,222 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,227 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,229 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,230 INFO sqlalchemy.engine.base.Engine {'name_1': '호림동', 'address_1': '대구 달서구 성서공단로 11길 32 대구기계부품연구원 1동 옥상', 'param_1': 1}
2017-09-26 11:28:21,237 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,238 INFO sqlalchemy.engine.base.Engine {'name': '호림동', 'address': '대구 달서구 성서공단로 11길 32 대구기계부품연구원 1동 옥상', 'lat': 35.837878, 'long': 128.488732}
2017-09-26 11:28:21,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,245 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:21,249 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,251 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}

2017-09-26 11:28:21,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,255 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:21,259 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,261 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:21,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,266 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,271 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,272 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:21,275 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,277 INFO sqlalchemy.engine.base.Engine {'station_id': 221, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:21,280 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,285 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,287 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,289 INFO sqlalchemy.engine.base.Engine {'name_1': '현풍면', 'address_1': '대구 달성군 현풍면 부리 247 (상수도사업본부 달성사업소)(현풍중앙로 144-34)', 'param_1': 1}
2017-09-26 11:28:21,295 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,296 INFO sqlalchemy.engine.base.Engine {'name': '현풍면', 'address': '대구 달성군 현풍면 부리 247 (상수도사업본부 달성사업소)(현풍중앙로 144-34)', 'lat': 35.699754, 'long': 128.441723}
2017-09-26 11:28:21,300 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,303 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:21,306 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,307 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:21,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,312 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:21,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,318 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:21,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,327 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:21,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,333 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:21,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,341 INFO sqlalchemy.engine.base.Engine {'station_id': 222, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:21,344 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,349 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,354 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,355 INFO sqlalchemy.engine.base.Engine {'name_1': '이곡동', 'address_1': '대구 달서구 이곡동', 'param_1': 1}
2017-09-26 11:28:21,363 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,366 INFO sqlalchemy.engine.base.Engine {'name': '이곡동', 'address': '대구 달서구 이곡동', 'lat': 35.851204, 'long': 128.511529}
2017-09-26 11:28:21,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,379 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:21,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,383 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:21,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,388 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:21,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,394 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:21,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,399 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,402 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,403 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}

2017-09-26 11:28:21,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,408 INFO sqlalchemy.engine.base.Engine {'station_id': 223, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:21,411 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,418 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,420 INFO sqlalchemy.engine.base.Engine {'name_1': '장흥동', 'address_1': '경북 포항시 남구 철강로 331 공단정수장', 'param_1': 1}
2017-09-26 11:28:21,426 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,428 INFO sqlalchemy.engine.base.Engine {'name': '장흥동', 'address': '경북 포항시 남구 철강로 331 공단정수장', 'lat': 35.980182, 'long': 129.374795}
2017-09-26 11:28:21,432 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,434 INFO sqlalchemy.engine.base.Engine {'station_id': 224, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:21,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,439 INFO sqlalchemy.engine.base.Engine {'station_id': 224, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:21,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,444 INFO sqlalchemy.engine.base.Engine {'station_id': 224, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:21,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,448 INFO sqlalchemy.engine.base.Engine {'station_id': 224, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:21,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,456 INFO sqlalchemy.engine.base.Engine {'station_id': 224, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:21,461 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,471 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,473 INFO sqlalchemy.engine.base.Engine {'name_1': '장량동', 'address_1': '경북 포항시 북구 삼흥로 98 북구보건소', 'param_1': 1}
2017-09-26 11:28:21,480 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,481 INFO sqlalchemy.engine.base.Engine {'name': '장량동', 'address': '경북 포항시 북구 삼흥로 98 북구보건소', 'lat': 36.070725, 'long': 129.380278}
2017-09-26 11:28:21,485 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,486 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:21,490 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,492 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:21,496 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,499 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:21,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,503 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:21,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,508 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:21,511 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,513 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:21,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,519 INFO sqlalchemy.engine.base.Engine {'station_id': 225, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:21,523 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,527 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,530 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,531 INFO sqlalchemy.engine.base.Engine {'name_1': '대도동', 'address_1': '경북 포항시 남구 대도동 111-6(상대2동주민센터)', 'param_1': 1}
2017-09-26 11:28:21,537 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,538 INFO sqlalchemy.engine.base.Engine {'name': '대도동', 'address': '경북 포항시 남구 대도동 111-6(상대2동주민센터)', 'lat': 36.018833, 'long': 129.365867}
2017-09-26 11:28:21,541 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,543 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:21,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,547 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}

2017-09-26 11:28:21,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,552 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.056'}
2017-09-26 11:28:21,555 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,557 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:21,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,560 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:21,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,565 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:21,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,569 INFO sqlalchemy.engine.base.Engine {'station_id': 226, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:21,572 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,579 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,581 INFO sqlalchemy.engine.base.Engine {'name_1': '대송면', 'address_1': '경북 포항시 남구 대송면 장동홍계길19 (대송면사무소 2층옥상)', 'param_1': 1}
2017-09-26 11:28:21,587 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,589 INFO sqlalchemy.engine.base.Engine {'name': '대송면', 'address': '경북 포항시 남구 대송면 장동홍계길19 (대송면사무소 2층옥상)', 'lat': 35.968522, 'long': 129.359954}
2017-09-26 11:28:21,592 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,595 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:21,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,600 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:21,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,608 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:21,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,613 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:21,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,618 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:21,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,622 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:21,626 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,627 INFO sqlalchemy.engine.base.Engine {'station_id': 227, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:21,630 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,635 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,636 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,638 INFO sqlalchemy.engine.base.Engine {'name_1': '3공단', 'address_1': '경북 포항시 남구 대송면 철강산단로130번길 29', 'param_1': 1}
2017-09-26 11:28:21,643 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,645 INFO sqlalchemy.engine.base.Engine {'name': '3공단', 'address': '경북 포항시 남구 대송면 철강산단로130번길 29', 'lat': 35.963042, 'long': 129.376848}
2017-09-26 11:28:21,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,649 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:21,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,653 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:21,655 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,657 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:21,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,661 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,665 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:21,667 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,670 INFO sqlalchemy.engine.base.Engine {'station_id': 228, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}

2017-09-26 11:28:21,673 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,682 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,683 INFO sqlalchemy.engine.base.Engine {'name_1': '성건동', 'address_1': '경북 경주시 성건동 667-3(성건동주민센터)', 'param_1': 1}
2017-09-26 11:28:21,692 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,694 INFO sqlalchemy.engine.base.Engine {'name': '성건동', 'address': '경북 경주시 성건동 667-3(성건동주민센터)', 'lat': 35.850801, 'long': 129.207344}
2017-09-26 11:28:21,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,700 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:21,703 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,705 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:21,708 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,711 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:21,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,718 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:21,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,723 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:21,727 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,729 INFO sqlalchemy.engine.base.Engine {'station_id': 229, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:21,732 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,737 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,739 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,741 INFO sqlalchemy.engine.base.Engine {'name_1': '신음동', 'address_1': '경북 김천시 신음동 1284 (김천시청 옥상)', 'param_1': 1}
2017-09-26 11:28:21,747 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,749 INFO sqlalchemy.engine.base.Engine {'name': '신음동', 'address': '경북 김천시 신음동 1284 (김천시청 옥상)', 'lat': 36.139828, 'long': 128.113672}
2017-09-26 11:28:21,752 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,759 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,761 INFO sqlalchemy.engine.base.Engine {'name_1': '남문동', 'address_1': '경북 안동시 남문동 189-5 (안동초등학교 옥상)', 'param_1': 1}
2017-09-26 11:28:21,770 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,771 INFO sqlalchemy.engine.base.Engine {'name': '남문동', 'address': '경북 안동시 남문동 189-5 (안동초등학교 옥상)', 'lat': 36.564207, 'long': 128.728086}
2017-09-26 11:28:21,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,776 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:21,781 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,784 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:21,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,791 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.040'}
2017-09-26 11:28:21,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,797 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:21,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,803 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:21,808 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,810 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:21,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,817 INFO sqlalchemy.engine.base.Engine {'station_id': 231, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:21,822 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,828 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,832 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,833 INFO sqlalchemy.engine.base.Engine {'name_1': '공단동', 'address_1': '경북 구미시 공단동 256-18 (근로자종합복지회)', 'param_1': 1}
2017-09-26 11:28:21,840 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,841 INFO sqlalchemy.engine.base.Engine {'name': '공단동', 'address': '경북 구미시 공단동 256-18 (근로자종합복지회)', 'lat': 36.105052, 'long': 128.384038}

2017-09-26 11:28:21,847 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,850 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:21,854 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,855 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:21,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,862 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:21,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,874 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:21,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,881 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:21,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,894 INFO sqlalchemy.engine.base.Engine {'station_id': 232, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:21,900 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:21,910 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:21,914 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:21,916 INFO sqlalchemy.engine.base.Engine {'name_1': '원평동', 'address_1': '경북 구미시 원평동 56-4(구미중앙로 24)', 'param_1': 1}
2017-09-26 11:28:21,924 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:21,927 INFO sqlalchemy.engine.base.Engine {'name': '원평동', 'address': '경북 구미시 원평동 56-4(구미중앙로 24)', 'lat': 36.130742, 'long': 128.32579}
2017-09-26 11:28:21,932 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,937 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:21,940 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,943 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:21,947 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,988 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:21,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:21,998 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:22,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,004 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:22,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,011 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,016 INFO sqlalchemy.engine.base.Engine {'station_id': 233, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:22,019 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,031 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,035 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,037 INFO sqlalchemy.engine.base.Engine {'name_1': '형곡동', 'address_1': '경북 구미시 형곡동 142(구미시립도서관)', 'param_1': 1}
2017-09-26 11:28:22,048 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,051 INFO sqlalchemy.engine.base.Engine {'name': '형곡동', 'address': '경북 구미시 형곡동 142(구미시립도서관)', 'lat': 36.114033, 'long': 128.335603}
2017-09-26 11:28:22,055 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,057 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:22,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,063 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:22,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,067 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:22,071 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,072 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:22,076 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,079 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}

2017-09-26 11:28:22,083 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,085 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:22,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,089 INFO sqlalchemy.engine.base.Engine {'station_id': 234, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:22,092 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,100 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,104 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,105 INFO sqlalchemy.engine.base.Engine {'name_1': '4공단', 'address_1': '경북 구미시 산동면 봉산리 567(첨단기업1로 17)', 'param_1': 1}
2017-09-26 11:28:22,112 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,114 INFO sqlalchemy.engine.base.Engine {'name': '4공단', 'address': '경북 구미시 산동면 봉산리 567(첨단기업1로 17)', 'lat': 36.151209, 'long': 128.449875}
2017-09-26 11:28:22,125 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,131 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:22,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,136 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:22,139 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,140 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.040'}
2017-09-26 11:28:22,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,146 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:22,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,151 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:22,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,155 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:22,159 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,161 INFO sqlalchemy.engine.base.Engine {'station_id': 235, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:22,164 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,169 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,174 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,177 INFO sqlalchemy.engine.base.Engine {'name_1': '휴천동', 'address_1': '경북 영주시 휴천2동 318-4 (휴천2동주민센터)', 'param_1': 1}
2017-09-26 11:28:22,183 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,185 INFO sqlalchemy.engine.base.Engine {'name': '휴천동', 'address': '경북 영주시 휴천2동 318-4 (휴천2동주민센터)', 'lat': 36.810018, 'long': 128.621826}
2017-09-26 11:28:22,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,189 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:22,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,193 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:22,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,197 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:22,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,201 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:22,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,205 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:22,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,210 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:22,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,214 INFO sqlalchemy.engine.base.Engine {'station_id': 236, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:22,217 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,223 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,225 INFO sqlalchemy.engine.base.Engine {'name_1': '중방동', 'address_1': '경북 경산시 중방동 708-5 남매로 158', 'param_1': 1}
2017-09-26 11:28:22,230 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:22,234 INFO sqlalchemy.engine.base.Engine {'name': '중방동', 'address': '경북 경산시 중방동 708-5 남매로 158', 'lat': 35.825174, 'long': 128.743217}
2017-09-26 11:28:22,238 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,239 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:22,242 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,244 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:22,247 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,248 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:22,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,252 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:22,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,257 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:22,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,260 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:22,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,265 INFO sqlalchemy.engine.base.Engine {'station_id': 237, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:22,269 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,276 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,278 INFO sqlalchemy.engine.base.Engine {'name_1': '지품면', 'address_1': '경북 영덕군 지품면 신안리', 'param_1': 1}
2017-09-26 11:28:22,283 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,284 INFO sqlalchemy.engine.base.Engine {'name': '지품면', 'address': '경북 영덕군 지품면 신안리', 'lat': 36.447446, 'long': 129.288041}
2017-09-26 11:28:22,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,289 INFO sqlalchemy.engine.base.Engine {'station_id': 238, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:22,293 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,295 INFO sqlalchemy.engine.base.Engine {'station_id': 238, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:22,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,300 INFO sqlalchemy.engine.base.Engine {'station_id': 238, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:22,302 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,304 INFO sqlalchemy.engine.base.Engine {'station_id': 238, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,308 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,316 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,318 INFO sqlalchemy.engine.base.Engine {'name_1': '화북면', 'address_1': '경북 영천시 화북면', 'param_1': 1}
2017-09-26 11:28:22,326 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,328 INFO sqlalchemy.engine.base.Engine {'name': '화북면', 'address': '경북 영천시 화북면', 'lat': 36.112801, 'long': 128.92785}
2017-09-26 11:28:22,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,333 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:22,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,338 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.059'}
2017-09-26 11:28:22,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,344 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,347 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,349 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:22,354 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,355 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,359 INFO sqlalchemy.engine.base.Engine {'station_id': 239, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:22,363 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,371 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:22,372 INFO sqlalchemy.engine.base.Engine {'name_1': '안계면', 'address_1': '경북 의성군 안계면 위양2길 9-26', 'param_1': 1}
2017-09-26 11:28:22,379 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,381 INFO sqlalchemy.engine.base.Engine {'name': '안계면', 'address': '경북 의성군 안계면 위양2길 9-26', 'lat': 36.3692, 'long': 128.456533}
2017-09-26 11:28:22,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,387 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:22,394 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,395 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:22,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,404 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.030'}
2017-09-26 11:28:22,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,408 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.1'}
2017-09-26 11:28:22,412 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,415 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,418 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,419 INFO sqlalchemy.engine.base.Engine {'station_id': 240, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:22,423 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,428 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,430 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,433 INFO sqlalchemy.engine.base.Engine {'name_1': '태하리', 'address_1': '경북 울릉군 서면 태하리', 'param_1': 1}
2017-09-26 11:28:22,439 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,441 INFO sqlalchemy.engine.base.Engine {'name': '태하리', 'address': '경북 울릉군 서면 태하리', 'lat': 37.518636, 'long': 130.7970965}
2017-09-26 11:28:22,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,446 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:22,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,453 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:22,456 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,458 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:22,461 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,463 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:22,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,467 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:22,473 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,476 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:22,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,481 INFO sqlalchemy.engine.base.Engine {'station_id': 241, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '82'}
2017-09-26 11:28:22,485 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,491 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,494 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,497 INFO sqlalchemy.engine.base.Engine {'name_1': '읍내동', 'address_1': '대전 대덕구 대전로 1331번길 75(태아산업(주))', 'param_1': 1}
2017-09-26 11:28:22,505 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,506 INFO sqlalchemy.engine.base.Engine {'name': '읍내동', 'address': '대전 대덕구 대전로 1331번길 75(태아산업(주))', 'lat': 36.372778, 'long': 127.417222}
2017-09-26 11:28:22,510 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,513 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:22,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,523 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:22,528 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,531 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:22,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,547 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}

2017-09-26 11:28:22,550 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,554 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,557 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,559 INFO sqlalchemy.engine.base.Engine {'station_id': 242, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:22,563 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,573 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,578 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,580 INFO sqlalchemy.engine.base.Engine {'name_1': '문평동', 'address_1': '대전 대덕구 문평동로 18번길 34(문평동 119안전센터)', 'param_1': 1}
2017-09-26 11:28:22,588 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,590 INFO sqlalchemy.engine.base.Engine {'name': '문평동', 'address': '대전 대덕구 문평동로 18번길 34(문평동 119안전센터)', 'lat': 36.446944, 'long': 127.404722}
2017-09-26 11:28:22,596 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,597 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:22,603 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,610 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '15'}
2017-09-26 11:28:22,614 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,619 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.060'}
2017-09-26 11:28:22,629 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,643 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:22,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,650 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:22,654 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,656 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,662 INFO sqlalchemy.engine.base.Engine {'station_id': 243, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:22,666 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,674 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,675 INFO sqlalchemy.engine.base.Engine {'name_1': '문창동', 'address_1': '대전 중구 보문로 20번길 38(문창동 주민센터)', 'param_1': 1}
2017-09-26 11:28:22,682 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,683 INFO sqlalchemy.engine.base.Engine {'name': '문창동', 'address': '대전 중구 보문로 20번길 38(문창동 주민센터)', 'lat': 36.316111, 'long': 127.437778}
2017-09-26 11:28:22,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,689 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:22,692 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,694 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '16'}
2017-09-26 11:28:22,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,699 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:22,702 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,703 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:22,707 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,708 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:22,711 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,713 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,716 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,717 INFO sqlalchemy.engine.base.Engine {'station_id': 244, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:22,722 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,729 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,730 INFO sqlalchemy.engine.base.Engine {'name_1': '구성동', 'address_1': '대전 유성구 대학로 407 보건환경연구원', 'param_1': 1}
2017-09-26 11:28:22,735 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:22,737 INFO sqlalchemy.engine.base.Engine {'name': '구성동', 'address': '대전 유성구 대학로 407 보건환경연구원', 'lat': 36.372411, 'long': 127.373938}
2017-09-26 11:28:22,740 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,741 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:22,744 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,745 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:22,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,749 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.065'}
2017-09-26 11:28:22,751 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,753 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:22,756 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,757 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:22,760 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,762 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,764 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,766 INFO sqlalchemy.engine.base.Engine {'station_id': 245, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:22,769 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,776 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,778 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,780 INFO sqlalchemy.engine.base.Engine {'name_1': '노은동', 'address_1': '대전 유성구 노은동로 87번길 89(노은1동 주민센터)', 'param_1': 1}
2017-09-26 11:28:22,786 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,787 INFO sqlalchemy.engine.base.Engine {'name': '노은동', 'address': '대전 유성구 노은동로 87번길 89(노은1동 주민센터)', 'lat': 36.3682, 'long': 127.3185}
2017-09-26 11:28:22,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,794 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:22,797 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,799 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:22,802 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,803 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:22,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,807 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:22,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,811 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:22,814 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,815 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,819 INFO sqlalchemy.engine.base.Engine {'station_id': 246, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:22,822 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,828 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,829 INFO sqlalchemy.engine.base.Engine {'name_1': '대흥동1', 'address_1': '대전 중구 중앙로 58', 'param_1': 1}
2017-09-26 11:28:22,836 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,837 INFO sqlalchemy.engine.base.Engine {'name': '대흥동1', 'address': '대전 중구 중앙로 58', 'lat': 36.323889, 'long': 127.418333}
2017-09-26 11:28:22,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,842 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:22,844 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,846 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:22,848 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,849 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:22,852 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,853 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}

2017-09-26 11:28:22,856 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,857 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:22,860 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,861 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:22,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,865 INFO sqlalchemy.engine.base.Engine {'station_id': 247, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:22,868 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,876 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,878 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,880 INFO sqlalchemy.engine.base.Engine {'name_1': '성남동1', 'address_1': '대전 동구 계족로 368번길 70(성남동 주민센터)', 'param_1': 1}
2017-09-26 11:28:22,885 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,887 INFO sqlalchemy.engine.base.Engine {'name': '성남동1', 'address': '대전 동구 계족로 368번길 70(성남동 주민센터)', 'lat': 36.344444, 'long': 127.437222}
2017-09-26 11:28:22,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,893 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:22,896 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,898 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:22,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,903 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:22,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,909 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:22,911 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,914 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:22,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,918 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,922 INFO sqlalchemy.engine.base.Engine {'station_id': 248, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:22,924 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,929 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,931 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:22,932 INFO sqlalchemy.engine.base.Engine {'name_1': '정림동', 'address_1': '대전 서구 정림동로 10(정림동 주민센터)', 'param_1': 1}
2017-09-26 11:28:22,937 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,939 INFO sqlalchemy.engine.base.Engine {'name': '정림동', 'address': '대전 서구 정림동로 10(정림동 주민센터)', 'lat': 36.304667, 'long': 127.366717}
2017-09-26 11:28:22,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,943 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:22,945 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,947 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:22,950 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,951 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:22,955 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,956 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:22,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,961 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:22,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,966 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:22,970 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,972 INFO sqlalchemy.engine.base.Engine {'station_id': 249, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:22,975 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:22,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:22,984 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:22,985 INFO sqlalchemy.engine.base.Engine {'name_1': '둔산동', 'address_1': '대전 서구 둔산서로 84(근로자 종합복지회관)', 'param_1': 1}
2017-09-26 11:28:22,991 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:22,992 INFO sqlalchemy.engine.base.Engine {'name': '둔산동', 'address': '대전 서구 둔산서로 84(근로자 종합복지회관)', 'lat': 36.354444, 'long': 127.383056}
2017-09-26 11:28:22,996 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:22,997 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:23,000 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,002 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '18'}
2017-09-26 11:28:23,005 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,006 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:23,009 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,011 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:23,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,014 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:23,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,019 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,023 INFO sqlalchemy.engine.base.Engine {'station_id': 250, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:23,026 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,031 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,033 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,035 INFO sqlalchemy.engine.base.Engine {'name_1': '월평동', 'address_1': '대전 서구 월평동160-5', 'param_1': 1}
2017-09-26 11:28:23,040 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,043 INFO sqlalchemy.engine.base.Engine {'name': '월평동', 'address': '대전 서구 월평동160-5', 'lat': 36.351111, 'long': 127.354167}
2017-09-26 11:28:23,046 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,047 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:23,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,051 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:23,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,055 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:23,058 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,059 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:23,061 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,063 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,065 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,067 INFO sqlalchemy.engine.base.Engine {'station_id': 251, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:23,070 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,075 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,077 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,079 INFO sqlalchemy.engine.base.Engine {'name_1': '송정동(봉명동)', 'address_1': '충북 청주시 흥덕구 직지대로 620', 'param_1': 1}
2017-09-26 11:28:23,084 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,085 INFO sqlalchemy.engine.base.Engine {'name': '송정동(봉명동)', 'address': '충북 청주시 흥덕구 직지대로 620', 'lat': 36.644697, 'long': 127.436808}
2017-09-26 11:28:23,088 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,089 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:23,093 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,095 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:23,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,100 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:23,105 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,106 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}

2017-09-26 11:28:23,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,111 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:23,114 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,116 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:23,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,121 INFO sqlalchemy.engine.base.Engine {'station_id': 252, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '85'}
2017-09-26 11:28:23,124 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,132 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,133 INFO sqlalchemy.engine.base.Engine {'name_1': '사천동', 'address_1': '충북 청주시 청원구 사천동 233-223번지(사뜸로 61번길 88-14), 청주청원도서관 옥상(2층)', 'param_1': 1}
2017-09-26 11:28:23,139 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,141 INFO sqlalchemy.engine.base.Engine {'name': '사천동', 'address': '충북 청주시 청원구 사천동 233-223번지(사뜸로 61번길 88-14), 청주청원도서관 옥상(2층)', 'lat': 36.66608, 'long': 127.474924}
2017-09-26 11:28:23,144 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,146 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:23,149 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,150 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:23,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,157 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.041'}
2017-09-26 11:28:23,161 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,163 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:23,166 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,167 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:23,170 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,173 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,175 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,178 INFO sqlalchemy.engine.base.Engine {'station_id': 253, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:23,181 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,187 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,189 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,191 INFO sqlalchemy.engine.base.Engine {'name_1': '문화동', 'address_1': '충북 청주시 상당구 문화동 89번지(상당로 92), 충북도청 동관 4층 옥상', 'param_1': 1}
2017-09-26 11:28:23,196 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,198 INFO sqlalchemy.engine.base.Engine {'name': '문화동', 'address': '충북 청주시 상당구 문화동 89번지(상당로 92), 충북도청 동관 4층 옥상', 'lat': 36.635758, 'long': 127.492324}
2017-09-26 11:28:23,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,204 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:23,207 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,210 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:23,212 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,214 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:23,216 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,217 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:23,221 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,222 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:23,224 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,229 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:23,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,233 INFO sqlalchemy.engine.base.Engine {'station_id': 254, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:23,236 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,240 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,243 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:23,244 INFO sqlalchemy.engine.base.Engine {'name_1': '용암동', 'address_1': '충북 청주시 상당구 용암동 1590(중흥로 29), 용암1동 주민센터 3층 옥상', 'param_1': 1}
2017-09-26 11:28:23,249 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,250 INFO sqlalchemy.engine.base.Engine {'name': '용암동', 'address': '충북 청주시 상당구 용암동 1590(중흥로 29), 용암1동 주민센터 3층 옥상', 'lat': 36.608818, 'long': 127.501293}
2017-09-26 11:28:23,253 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,255 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:23,257 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,258 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:23,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,262 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}
2017-09-26 11:28:23,264 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,265 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:23,268 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,270 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:23,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,276 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,281 INFO sqlalchemy.engine.base.Engine {'station_id': 255, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:23,284 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,289 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,292 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,293 INFO sqlalchemy.engine.base.Engine {'name_1': '복대동', 'address_1': '충북 청주시 흥덕구 복대동', 'param_1': 1}
2017-09-26 11:28:23,299 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,300 INFO sqlalchemy.engine.base.Engine {'name': '복대동', 'address': '충북 청주시 흥덕구 복대동', 'lat': 36.634423, 'long': 127.447045}
2017-09-26 11:28:23,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,304 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '70'}
2017-09-26 11:28:23,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,308 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:23,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,312 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:23,315 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,317 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:23,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,323 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:23,325 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,327 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:23,330 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,332 INFO sqlalchemy.engine.base.Engine {'station_id': 256, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '96'}
2017-09-26 11:28:23,335 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,341 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,342 INFO sqlalchemy.engine.base.Engine {'name_1': '성황동', 'address_1': '충남 천안시 동남구 복자1길 24 문성어린이집', 'param_1': 1}
2017-09-26 11:28:23,348 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,349 INFO sqlalchemy.engine.base.Engine {'name': '성황동', 'address': '충남 천안시 동남구 복자1길 24 문성어린이집', 'lat': 36.814171, 'long': 127.152144}
2017-09-26 11:28:23,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,355 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:23,357 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,358 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:23,361 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,363 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.054'}

2017-09-26 11:28:23,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,367 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:23,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,373 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:23,376 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,377 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,382 INFO sqlalchemy.engine.base.Engine {'station_id': 257, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '76'}
2017-09-26 11:28:23,384 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,390 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,391 INFO sqlalchemy.engine.base.Engine {'name_1': '백석동', 'address_1': '충남 천안시 백석동 555-57번지(백성농공단지)', 'param_1': 1}
2017-09-26 11:28:23,398 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,400 INFO sqlalchemy.engine.base.Engine {'name': '백석동', 'address': '충남 천안시 백석동 555-57번지(백성농공단지)', 'lat': 36.825139, 'long': 127.110639}
2017-09-26 11:28:23,407 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,410 INFO sqlalchemy.engine.base.Engine {'station_id': 258, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:23,414 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,416 INFO sqlalchemy.engine.base.Engine {'station_id': 258, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:23,419 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,420 INFO sqlalchemy.engine.base.Engine {'station_id': 258, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:23,423 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,424 INFO sqlalchemy.engine.base.Engine {'station_id': 258, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:23,428 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,429 INFO sqlalchemy.engine.base.Engine {'station_id': 258, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:23,432 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,437 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,440 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,442 INFO sqlalchemy.engine.base.Engine {'name_1': '성성동', 'address_1': '충남 천안시 성성동', 'param_1': 1}
2017-09-26 11:28:23,450 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,452 INFO sqlalchemy.engine.base.Engine {'name': '성성동', 'address': '충남 천안시 성성동', 'lat': 36.839225, 'long': 127.137578}
2017-09-26 11:28:23,455 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,456 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:23,459 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,460 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:23,464 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,466 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:23,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,472 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:23,476 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,477 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:23,480 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,481 INFO sqlalchemy.engine.base.Engine {'station_id': 259, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:23,484 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,491 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,492 INFO sqlalchemy.engine.base.Engine {'name_1': '사곡면', 'address_1': '충남 공주시 사곡면 마곡사로', 'param_1': 1}
2017-09-26 11:28:23,497 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,499 INFO sqlalchemy.engine.base.Engine {'name': '사곡면', 'address': '충남 공주시 사곡면 마곡사로', 'lat': 36.526284, 'long': 127.030853}
2017-09-26 11:28:23,501 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:23,502 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '43'}
2017-09-26 11:28:23,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,506 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:23,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,510 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:23,513 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,514 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:23,517 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,518 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:23,521 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,522 INFO sqlalchemy.engine.base.Engine {'station_id': 260, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:23,525 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,531 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,533 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,535 INFO sqlalchemy.engine.base.Engine {'name_1': '공주', 'address_1': '충남 공주시 봉황로 1', 'param_1': 1}
2017-09-26 11:28:23,546 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,548 INFO sqlalchemy.engine.base.Engine {'name': '공주', 'address': '충남 공주시 봉황로 1', 'lat': 36.446611, 'long': 127.11915}
2017-09-26 11:28:23,552 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,553 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:23,556 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,558 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:23,560 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,562 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:23,565 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,567 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:23,571 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,573 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:23,578 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,579 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:23,582 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,583 INFO sqlalchemy.engine.base.Engine {'station_id': 261, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:23,587 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,598 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,599 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,601 INFO sqlalchemy.engine.base.Engine {'name_1': '부여읍', 'address_1': '충남 부여군 부여읍 사비로 36', 'param_1': 1}
2017-09-26 11:28:23,606 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,608 INFO sqlalchemy.engine.base.Engine {'name': '부여읍', 'address': '충남 부여군 부여읍 사비로 36', 'lat': 36.275495, 'long': 126.911297}
2017-09-26 11:28:23,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,613 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:23,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,617 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '28'}
2017-09-26 11:28:23,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,621 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.045'}
2017-09-26 11:28:23,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,625 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:23,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,630 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:23,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,634 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}

2017-09-26 11:28:23,636 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,637 INFO sqlalchemy.engine.base.Engine {'station_id': 262, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:23,640 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,645 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,647 INFO sqlalchemy.engine.base.Engine {'name_1': '독곶리', 'address_1': '충남 서산시 산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터', 'param_1': 1}
2017-09-26 11:28:23,657 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,660 INFO sqlalchemy.engine.base.Engine {'name': '독곶리', 'address': '충남 서산시 산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터', 'lat': 36.993588, 'long': 126.358971}
2017-09-26 11:28:23,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,666 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '66'}
2017-09-26 11:28:23,671 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,673 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:23,677 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,679 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.050'}
2017-09-26 11:28:23,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,684 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}
2017-09-26 11:28:23,687 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,689 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:23,693 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,695 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,698 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,700 INFO sqlalchemy.engine.base.Engine {'station_id': 263, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '79'}
2017-09-26 11:28:23,703 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,708 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,711 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,713 INFO sqlalchemy.engine.base.Engine {'name_1': '동문동', 'address_1': '충남 서산시 동문동 918-3(서산초등학교)', 'param_1': 1}
2017-09-26 11:28:23,721 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,724 INFO sqlalchemy.engine.base.Engine {'name': '동문동', 'address': '충남 서산시 동문동 918-3(서산초등학교)', 'lat': 36.780177, 'long': 126.455459}
2017-09-26 11:28:23,728 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,730 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:23,733 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,734 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:23,738 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,740 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.057'}
2017-09-26 11:28:23,743 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,744 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:23,747 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,749 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:23,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,754 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,757 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,759 INFO sqlalchemy.engine.base.Engine {'station_id': 264, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:23,763 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,768 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,771 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,773 INFO sqlalchemy.engine.base.Engine {'name_1': '난지도리', 'address_1': '충남 당진시 석문면 난지도리 533', 'param_1': 1}
2017-09-26 11:28:23,781 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,784 INFO sqlalchemy.engine.base.Engine {'name': '난지도리', 'address': '충남 당진시 석문면 난지도리 533', 'lat': 37.021151, 'long': 126.46236}
2017-09-26 11:28:23,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:23,789 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:23,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,793 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:23,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,800 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:23,805 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,807 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:23,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,812 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:23,817 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,820 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:23,823 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,827 INFO sqlalchemy.engine.base.Engine {'station_id': 265, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '103'}
2017-09-26 11:28:23,833 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,840 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,842 INFO sqlalchemy.engine.base.Engine {'name_1': '정곡리', 'address_1': '충남 당진시 송악면 정곡리 66-12번지', 'param_1': 1}
2017-09-26 11:28:23,847 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,848 INFO sqlalchemy.engine.base.Engine {'name': '정곡리', 'address': '충남 당진시 송악면 정곡리 66-12번지', 'lat': 36.941865, 'long': 126.723492}
2017-09-26 11:28:23,851 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,852 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:23,855 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,856 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:23,859 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,860 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.055'}
2017-09-26 11:28:23,863 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,864 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:23,867 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,869 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:23,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,873 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,876 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,877 INFO sqlalchemy.engine.base.Engine {'station_id': 266, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:23,880 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,885 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,886 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,889 INFO sqlalchemy.engine.base.Engine {'name_1': '모종동', 'address_1': '충남 아산시 모종동 573-2', 'param_1': 1}
2017-09-26 11:28:23,896 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,898 INFO sqlalchemy.engine.base.Engine {'name': '모종동', 'address': '충남 아산시 모종동 573-2', 'lat': 36.782917, 'long': 127.0145}
2017-09-26 11:28:23,903 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,904 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:23,907 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,909 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:23,912 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,914 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.064'}
2017-09-26 11:28:23,916 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,917 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:23,920 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:23,921 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:23,924 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,926 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,929 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,930 INFO sqlalchemy.engine.base.Engine {'station_id': 267, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '95'}
2017-09-26 11:28:23,932 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,941 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:23,942 INFO sqlalchemy.engine.base.Engine {'name_1': '논산', 'address_1': '충남 논산시 시민로', 'param_1': 1}
2017-09-26 11:28:23,947 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:23,949 INFO sqlalchemy.engine.base.Engine {'name': '논산', 'address': '충남 논산시 시민로', 'lat': 36.199272, 'long': 127.086981}
2017-09-26 11:28:23,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,956 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:23,958 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,960 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:23,963 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,966 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:23,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,970 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:23,976 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,978 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:23,982 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,983 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:23,987 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:23,989 INFO sqlalchemy.engine.base.Engine {'station_id': 268, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:23,992 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:23,997 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:23,999 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,000 INFO sqlalchemy.engine.base.Engine {'name_1': '파도리', 'address_1': '충남 태안군 소원면 파도길', 'param_1': 1}
2017-09-26 11:28:24,003 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,005 INFO sqlalchemy.engine.base.Engine {'name': '파도리', 'address': '충남 태안군 소원면 파도길', 'lat': 36.736316, 'long': 126.132168}
2017-09-26 11:28:24,009 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,015 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,016 INFO sqlalchemy.engine.base.Engine {'name_1': '이원면', 'address_1': '충남 태안군 이원면 분지길', 'param_1': 1}
2017-09-26 11:28:24,020 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,022 INFO sqlalchemy.engine.base.Engine {'name': '이원면', 'address': '충남 태안군 이원면 분지길', 'lat': 36.869739, 'long': 126.280761}
2017-09-26 11:28:24,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,025 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:24,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,029 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:24,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,033 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.062'}
2017-09-26 11:28:24,035 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,037 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:24,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,041 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:24,047 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,049 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,052 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:24,053 INFO sqlalchemy.engine.base.Engine {'station_id': 270, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:24,056 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,062 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,064 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,065 INFO sqlalchemy.engine.base.Engine {'name_1': '태안읍', 'address_1': '충남 태안군 태안읍 군청6길', 'param_1': 1}
2017-09-26 11:28:24,072 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,074 INFO sqlalchemy.engine.base.Engine {'name': '태안읍', 'address': '충남 태안군 태안읍 군청6길', 'lat': 36.746095, 'long': 126.302474}
2017-09-26 11:28:24,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,079 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:24,082 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,084 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:24,086 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,088 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.070'}
2017-09-26 11:28:24,091 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,092 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:24,095 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,096 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:24,099 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,101 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,103 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,105 INFO sqlalchemy.engine.base.Engine {'station_id': 271, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '87'}
2017-09-26 11:28:24,108 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,114 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,115 INFO sqlalchemy.engine.base.Engine {'name_1': '예산군', 'address_1': '충남 예산군 예산읍 주교로', 'param_1': 1}
2017-09-26 11:28:24,121 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,124 INFO sqlalchemy.engine.base.Engine {'name': '예산군', 'address': '충남 예산군 예산읍 주교로', 'lat': 36.687115, 'long': 126.832093}
2017-09-26 11:28:24,127 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,129 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:24,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,136 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:24,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,139 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.053'}
2017-09-26 11:28:24,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,144 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.016'}
2017-09-26 11:28:24,148 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,150 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:24,154 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,155 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,160 INFO sqlalchemy.engine.base.Engine {'station_id': 272, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:24,163 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,168 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,170 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,172 INFO sqlalchemy.engine.base.Engine {'name_1': '대천2동', 'address_1': '충남 보령시 중앙로 142-16', 'param_1': 1}
2017-09-26 11:28:24,178 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,181 INFO sqlalchemy.engine.base.Engine {'name': '대천2동', 'address': '충남 보령시 중앙로 142-16', 'lat': 36.353251, 'long': 126.589768}
2017-09-26 11:28:24,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,185 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:24,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:24,189 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:24,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,194 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.077'}
2017-09-26 11:28:24,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,198 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:24,200 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,201 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:24,204 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,205 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,208 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,209 INFO sqlalchemy.engine.base.Engine {'station_id': 273, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '89'}
2017-09-26 11:28:24,212 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,219 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,220 INFO sqlalchemy.engine.base.Engine {'name_1': '홍성읍', 'address_1': '충남 홍성군 홍성읍 내포로 136번길', 'param_1': 1}
2017-09-26 11:28:24,226 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,227 INFO sqlalchemy.engine.base.Engine {'name': '홍성읍', 'address': '충남 홍성군 홍성읍 내포로 136번길', 'lat': 36.597702, 'long': 126.655133}
2017-09-26 11:28:24,231 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,232 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:24,235 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,238 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:24,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,242 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.058'}
2017-09-26 11:28:24,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,248 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:24,251 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,252 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:24,255 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,257 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,261 INFO sqlalchemy.engine.base.Engine {'station_id': 274, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '104'}
2017-09-26 11:28:24,265 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,271 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,273 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,275 INFO sqlalchemy.engine.base.Engine {'name_1': '신흥동', 'address_1': '세종특별자치시 조치원읍 군청로 87-16', 'param_1': 1}
2017-09-26 11:28:24,281 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,282 INFO sqlalchemy.engine.base.Engine {'name': '신흥동', 'address': '세종특별자치시 조치원읍 군청로 87-16', 'lat': 36.592906, 'long': 127.292253}
2017-09-26 11:28:24,286 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,287 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:24,290 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,291 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:24,294 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,295 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.038'}
2017-09-26 11:28:24,298 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,299 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.027'}
2017-09-26 11:28:24,303 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,304 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:24,307 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,308 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}

2017-09-26 11:28:24,311 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,312 INFO sqlalchemy.engine.base.Engine {'station_id': 275, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:24,316 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,320 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,322 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,324 INFO sqlalchemy.engine.base.Engine {'name_1': '아름동', 'address_1': '세종특별자치시 보듬3로 114', 'param_1': 1}
2017-09-26 11:28:24,329 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,330 INFO sqlalchemy.engine.base.Engine {'name': '아름동', 'address': '세종특별자치시 보듬3로 114', 'lat': 36.5177469, 'long': 127.249653}
2017-09-26 11:28:24,333 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,334 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:24,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,337 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:24,339 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,341 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:24,344 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,345 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.013'}
2017-09-26 11:28:24,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,350 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:24,353 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,355 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:24,358 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,361 INFO sqlalchemy.engine.base.Engine {'station_id': 276, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:24,364 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,369 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,372 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,373 INFO sqlalchemy.engine.base.Engine {'name_1': '중앙동(원주)', 'address_1': '강원 원주시 학성동 206-6(중앙2동주민센터)', 'param_1': 1}
2017-09-26 11:28:24,379 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,382 INFO sqlalchemy.engine.base.Engine {'name': '중앙동(원주)', 'address': '강원 원주시 학성동 206-6(중앙2동주민센터)', 'lat': 37.3528063, 'long': 127.9475408}
2017-09-26 11:28:24,385 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,386 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '40'}
2017-09-26 11:28:24,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,390 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:24,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,394 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:24,397 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,398 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:24,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,402 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:24,405 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,406 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:24,409 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,410 INFO sqlalchemy.engine.base.Engine {'station_id': 277, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:24,413 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,420 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,421 INFO sqlalchemy.engine.base.Engine {'name_1': '명륜동', 'address_1': '강원 원주시 명륜동 242-2(원주지방환경청)', 'param_1': 1}
2017-09-26 11:28:24,427 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,429 INFO sqlalchemy.engine.base.Engine {'name': '명륜동', 'address': '강원 원주시 명륜동 242-2(원주지방환경청)', 'lat': 37.3368629, 'long': 127.947929}

2017-09-26 11:28:24,433 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,435 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:24,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,440 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:24,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,443 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:24,446 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,448 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.015'}
2017-09-26 11:28:24,451 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,454 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:24,461 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,463 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,465 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,466 INFO sqlalchemy.engine.base.Engine {'station_id': 278, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:24,469 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,474 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,476 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,478 INFO sqlalchemy.engine.base.Engine {'name_1': '옥천동', 'address_1': '강원 강릉시 옥천동 327-2(옥천동주민센터)', 'param_1': 1}
2017-09-26 11:28:24,484 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,485 INFO sqlalchemy.engine.base.Engine {'name': '옥천동', 'address': '강원 강릉시 옥천동 327-2(옥천동주민센터)', 'lat': 37.7601328, 'long': 128.9028489}
2017-09-26 11:28:24,489 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,490 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:24,494 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,495 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:24,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,500 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:24,502 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,504 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:24,507 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,509 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:24,512 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,514 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,516 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,518 INFO sqlalchemy.engine.base.Engine {'station_id': 279, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:24,521 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,526 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,527 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,529 INFO sqlalchemy.engine.base.Engine {'name_1': '천곡동', 'address_1': '강원 동해시 천곡동 806 (동해시청 4층 옥상)', 'param_1': 1}
2017-09-26 11:28:24,532 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,533 INFO sqlalchemy.engine.base.Engine {'name': '천곡동', 'address': '강원 동해시 천곡동 806 (동해시청 4층 옥상)', 'lat': 37.5247935, 'long': 129.1140452}
2017-09-26 11:28:24,537 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,542 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,544 INFO sqlalchemy.engine.base.Engine {'name_1': '남양동1', 'address_1': '강원 삼척시 남양동 339-1', 'param_1': 1}
2017-09-26 11:28:24,548 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,550 INFO sqlalchemy.engine.base.Engine {'name': '남양동1', 'address': '강원 삼척시 남양동 339-1', 'lat': 37.4425401, 'long': 129.168344}
2017-09-26 11:28:24,553 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,559 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s

 LIMIT %(param_1)s
2017-09-26 11:28:24,561 INFO sqlalchemy.engine.base.Engine {'name_1': '북평면', 'address_1': '강원 정선군 북평면 남평리', 'param_1': 1}
2017-09-26 11:28:24,566 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,568 INFO sqlalchemy.engine.base.Engine {'name': '북평면', 'address': '강원 정선군 북평면 남평리', 'lat': 37.43005, 'long': 128.664717}
2017-09-26 11:28:24,572 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,573 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:24,576 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,577 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.041'}
2017-09-26 11:28:24,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,582 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,585 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,587 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:24,590 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,591 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,594 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,596 INFO sqlalchemy.engine.base.Engine {'station_id': 282, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:24,599 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,603 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,605 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,607 INFO sqlalchemy.engine.base.Engine {'name_1': '간성읍', 'address_1': '강원 고성군 간성읍', 'param_1': 1}
2017-09-26 11:28:24,612 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,613 INFO sqlalchemy.engine.base.Engine {'name': '간성읍', 'address': '강원 고성군 간성읍', 'lat': 38.285319, 'long': 128.390769}
2017-09-26 11:28:24,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,618 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:24,621 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,622 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:24,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,625 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,629 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:24,632 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,633 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:24,635 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,638 INFO sqlalchemy.engine.base.Engine {'station_id': 283, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:24,641 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,646 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,648 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,649 INFO sqlalchemy.engine.base.Engine {'name_1': '치악산', 'address_1': '강원 횡성군 강림면 강림리(치악산)', 'param_1': 1}
2017-09-26 11:28:24,655 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,657 INFO sqlalchemy.engine.base.Engine {'name': '치악산', 'address': '강원 횡성군 강림면 강림리(치악산)', 'lat': 37.360494, 'long': 128.12555}
2017-09-26 11:28:24,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,661 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:24,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,665 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:24,668 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,670 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:24,673 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,675 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:24,678 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,679 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}

2017-09-26 11:28:24,682 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,683 INFO sqlalchemy.engine.base.Engine {'station_id': 284, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:24,686 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,691 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,693 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,695 INFO sqlalchemy.engine.base.Engine {'name_1': '호암동', 'address_1': '충북 충주시 호암동 562(충주시 청소년수련원 옥상)(중원대로 3324)', 'param_1': 1}
2017-09-26 11:28:24,701 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,702 INFO sqlalchemy.engine.base.Engine {'name': '호암동', 'address': '충북 충주시 호암동 562(충주시 청소년수련원 옥상)(중원대로 3324)', 'lat': 36.964567, 'long': 127.926158}
2017-09-26 11:28:24,705 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,706 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:24,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,710 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:24,713 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,714 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:24,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,719 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:24,722 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,723 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:24,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,726 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,729 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,730 INFO sqlalchemy.engine.base.Engine {'station_id': 285, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:24,733 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,738 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,740 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,742 INFO sqlalchemy.engine.base.Engine {'name_1': '칠금동', 'address_1': '충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37)', 'param_1': 1}
2017-09-26 11:28:24,748 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,749 INFO sqlalchemy.engine.base.Engine {'name': '칠금동', 'address': '충북 충주시 칠금동 874번지(칠금동 주민센터 옥상)(칠금 중랑로 37)', 'lat': 36.982086, 'long': 127.919206}
2017-09-26 11:28:24,753 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,754 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:24,758 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,759 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:24,763 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,765 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:24,768 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,770 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:24,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,775 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:24,778 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,779 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,783 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,785 INFO sqlalchemy.engine.base.Engine {'station_id': 286, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:24,788 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,796 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,798 INFO sqlalchemy.engine.base.Engine {'name_1': '장락동', 'address_1': '충북 제천시 장락동 672-8(내제로 318),(시립도서관 주차장 옆, 화단)', 'param_1': 1}
2017-09-26 11:28:24,802 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,805 INFO sqlalchemy.engine.base.Engine {'name': '장락동', 'address': '충북 제천시 장락동 672-8(내제로 318),(시립도서관 주차장 옆, 화단)', 'lat': 37.145137, 'long': 128.220664}
2017-09-26 11:28:24,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:24,811 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:24,815 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,816 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:24,820 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,822 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:24,826 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,828 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:24,831 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,833 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:24,836 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,838 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:24,841 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,842 INFO sqlalchemy.engine.base.Engine {'station_id': 287, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:24,846 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,850 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,853 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,854 INFO sqlalchemy.engine.base.Engine {'name_1': '오창읍', 'address_1': '충북 청주시 청원구 오창읍 각리 637-4 각리중학교 4층(오창중앙로 48)', 'param_1': 1}
2017-09-26 11:28:24,861 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,862 INFO sqlalchemy.engine.base.Engine {'name': '오창읍', 'address': '충북 청주시 청원구 오창읍 각리 637-4 각리중학교 4층(오창중앙로 48)', 'lat': 36.709057, 'long': 127.421992}
2017-09-26 11:28:24,866 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,868 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:24,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,874 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '32'}
2017-09-26 11:28:24,878 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,880 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:24,883 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,885 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:24,891 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,892 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:24,895 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,898 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:24,901 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,902 INFO sqlalchemy.engine.base.Engine {'station_id': 288, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:24,907 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,912 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,915 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,917 INFO sqlalchemy.engine.base.Engine {'name_1': '매포읍', 'address_1': '충북 단양군 매포읍 평동리 1274(평동33길 3),(매포 보건지소 마당)', 'param_1': 1}
2017-09-26 11:28:24,923 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,925 INFO sqlalchemy.engine.base.Engine {'name': '매포읍', 'address': '충북 단양군 매포읍 평동리 1274(평동33길 3),(매포 보건지소 마당)', 'lat': 37.0334, 'long': 128.2957}
2017-09-26 11:28:24,930 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,932 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:24,935 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,936 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '19'}
2017-09-26 11:28:24,939 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,942 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.012'}
2017-09-26 11:28:24,946 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,947 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:24,951 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:24,953 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:24,959 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,961 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:24,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,966 INFO sqlalchemy.engine.base.Engine {'station_id': 289, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:24,970 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:24,976 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:24,978 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:24,981 INFO sqlalchemy.engine.base.Engine {'name_1': '청천면', 'address_1': '충북 괴산군 청천면 송문로 덕평길', 'param_1': 1}
2017-09-26 11:28:24,985 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:24,987 INFO sqlalchemy.engine.base.Engine {'name': '청천면', 'address': '충북 괴산군 청천면 송문로 덕평길', 'lat': 36.730926, 'long': 127.804682}
2017-09-26 11:28:24,990 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,991 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '37'}
2017-09-26 11:28:24,994 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:24,995 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:24,998 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,000 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:25,003 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,005 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.2'}
2017-09-26 11:28:25,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,009 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.001'}
2017-09-26 11:28:25,012 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,013 INFO sqlalchemy.engine.base.Engine {'station_id': 290, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:25,016 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,020 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,021 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,023 INFO sqlalchemy.engine.base.Engine {'name_1': '진천읍', 'address_1': '충북 진천군 진천읍 상산로 65 읍내리 370-1', 'param_1': 1}
2017-09-26 11:28:25,029 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,030 INFO sqlalchemy.engine.base.Engine {'name': '진천읍', 'address': '충북 진천군 진천읍 상산로 65 읍내리 370-1', 'lat': 36.8550153, 'long': 127.4413124}
2017-09-26 11:28:25,034 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,036 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:25,040 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,041 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:25,044 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,045 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.048'}
2017-09-26 11:28:25,049 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,050 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:25,054 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,057 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:25,060 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,062 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:25,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,068 INFO sqlalchemy.engine.base.Engine {'station_id': 291, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:25,072 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,079 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,083 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,085 INFO sqlalchemy.engine.base.Engine {'name_1': '금왕', 'address_1': '충북 음성군 금왕읍 무극로', 'param_1': 1}
2017-09-26 11:28:25,091 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,092 INFO sqlalchemy.engine.base.Engine {'name': '금왕', 'address': '충북 음성군 금왕읍 무극로', 'lat': 36.994135, 'long': 127.604512}

2017-09-26 11:28:25,096 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,098 INFO sqlalchemy.engine.base.Engine {'station_id': 292, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:25,100 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,103 INFO sqlalchemy.engine.base.Engine {'station_id': 292, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '18'}
2017-09-26 11:28:25,106 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,107 INFO sqlalchemy.engine.base.Engine {'station_id': 292, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:25,109 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,111 INFO sqlalchemy.engine.base.Engine {'station_id': 292, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.017'}
2017-09-26 11:28:25,113 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,115 INFO sqlalchemy.engine.base.Engine {'station_id': 292, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:25,117 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,124 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,125 INFO sqlalchemy.engine.base.Engine {'name_1': '옥천읍', 'address_1': '충북 옥천군 옥천읍 중앙로 99(옥천군청 통합관제 센터 옥상)', 'param_1': 1}
2017-09-26 11:28:25,130 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,132 INFO sqlalchemy.engine.base.Engine {'name': '옥천읍', 'address': '충북 옥천군 옥천읍 중앙로 99(옥천군청 통합관제 센터 옥상)', 'lat': 36.305084, 'long': 127.570789}
2017-09-26 11:28:25,134 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,135 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:25,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,139 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:25,141 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,142 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.052'}
2017-09-26 11:28:25,145 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,147 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:25,150 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,152 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:25,156 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,157 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,160 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,161 INFO sqlalchemy.engine.base.Engine {'station_id': 293, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:25,165 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,169 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,172 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,174 INFO sqlalchemy.engine.base.Engine {'name_1': '삼천동', 'address_1': '전북 전주시 완산구 용리로 107 삼천도서관 옥상', 'param_1': 1}
2017-09-26 11:28:25,180 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,181 INFO sqlalchemy.engine.base.Engine {'name': '삼천동', 'address': '전북 전주시 완산구 용리로 107 삼천도서관 옥상', 'lat': 35.798946, 'long': 127.121698}
2017-09-26 11:28:25,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,185 INFO sqlalchemy.engine.base.Engine {'station_id': 294, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:25,188 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,190 INFO sqlalchemy.engine.base.Engine {'station_id': 294, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:25,193 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,195 INFO sqlalchemy.engine.base.Engine {'station_id': 294, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:25,197 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,199 INFO sqlalchemy.engine.base.Engine {'station_id': 294, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:25,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,202 INFO sqlalchemy.engine.base.Engine {'station_id': 294, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,205 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,211 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,214 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:25,215 INFO sqlalchemy.engine.base.Engine {'name_1': '팔복동', 'address_1': '전북 전주시 덕진구 서귀로 107 청소년자유센터 옥상', 'param_1': 1}
2017-09-26 11:28:25,222 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,224 INFO sqlalchemy.engine.base.Engine {'name': '팔복동', 'address': '전북 전주시 덕진구 서귀로 107 청소년자유센터 옥상', 'lat': 35.851533, 'long': 127.087}
2017-09-26 11:28:25,227 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,228 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '72'}
2017-09-26 11:28:25,232 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,234 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:25,236 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,238 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.047'}
2017-09-26 11:28:25,241 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,243 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.022'}
2017-09-26 11:28:25,245 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,247 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:25,250 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,252 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:25,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,255 INFO sqlalchemy.engine.base.Engine {'station_id': 295, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:25,257 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,264 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,265 INFO sqlalchemy.engine.base.Engine {'name_1': '금암동', 'address_1': '전북 전주시 덕진구 가리내로 30', 'param_1': 1}
2017-09-26 11:28:25,271 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,272 INFO sqlalchemy.engine.base.Engine {'name': '금암동', 'address': '전북 전주시 덕진구 가리내로 30', 'lat': 35.836971, 'long': 127.133025}
2017-09-26 11:28:25,276 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,277 INFO sqlalchemy.engine.base.Engine {'station_id': 296, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '77'}
2017-09-26 11:28:25,280 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,281 INFO sqlalchemy.engine.base.Engine {'station_id': 296, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:25,284 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,285 INFO sqlalchemy.engine.base.Engine {'station_id': 296, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:25,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,288 INFO sqlalchemy.engine.base.Engine {'station_id': 296, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:25,291 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,292 INFO sqlalchemy.engine.base.Engine {'station_id': 296, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,295 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,302 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,304 INFO sqlalchemy.engine.base.Engine {'name_1': '신풍동(군산)', 'address_1': '전북 군산시 대학로 215. 신풍동주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:25,308 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,310 INFO sqlalchemy.engine.base.Engine {'name': '신풍동(군산)', 'address': '전북 군산시 대학로 215. 신풍동주민센터 옥상', 'lat': 35.97285, 'long': 126.700733}
2017-09-26 11:28:25,314 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,316 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '55'}
2017-09-26 11:28:25,318 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,320 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:25,323 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,324 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.057'}
2017-09-26 11:28:25,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,328 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.011'}
2017-09-26 11:28:25,332 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,333 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}

2017-09-26 11:28:25,336 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,337 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,340 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,342 INFO sqlalchemy.engine.base.Engine {'station_id': 297, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:25,345 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,349 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,351 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,352 INFO sqlalchemy.engine.base.Engine {'name_1': '소룡동', 'address_1': '전북 군산시 외항1길 222. (롯데주류) 3층옥상', 'param_1': 1}
2017-09-26 11:28:25,360 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,363 INFO sqlalchemy.engine.base.Engine {'name': '소룡동', 'address': '전북 군산시 외항1길 222. (롯데주류) 3층옥상', 'lat': 35.973333, 'long': 126.651417}
2017-09-26 11:28:25,366 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,368 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '53'}
2017-09-26 11:28:25,372 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,374 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:25,378 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,379 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.043'}
2017-09-26 11:28:25,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,384 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:25,387 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,389 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:25,393 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,395 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:25,398 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,400 INFO sqlalchemy.engine.base.Engine {'station_id': 298, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '83'}
2017-09-26 11:28:25,404 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,412 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,413 INFO sqlalchemy.engine.base.Engine {'name_1': '개정동', 'address_1': '전북 군산시 개정동 507-24 개정동주민센터 2층옥상', 'param_1': 1}
2017-09-26 11:28:25,421 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,422 INFO sqlalchemy.engine.base.Engine {'name': '개정동', 'address': '전북 군산시 개정동 507-24 개정동주민센터 2층옥상', 'lat': 35.964433, 'long': 126.754533}
2017-09-26 11:28:25,426 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,427 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:25,429 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,431 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:25,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,434 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.049'}
2017-09-26 11:28:25,437 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,439 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:25,444 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,445 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:25,452 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,455 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,459 INFO sqlalchemy.engine.base.Engine {'station_id': 299, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '74'}
2017-09-26 11:28:25,462 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,472 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,476 INFO sqlalchemy.engine.base.Engine {'name_1': '남중동', 'address_1': '전북 익산시 인북로 32길 1 (익산시의회)', 'param_1': 1}
2017-09-26 11:28:25,482 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:25,484 INFO sqlalchemy.engine.base.Engine {'name': '남중동', 'address': '전북 익산시 인북로 32길 1 (익산시의회)', 'lat': 35.945317, 'long': 126.9602}
2017-09-26 11:28:25,488 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,490 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:25,493 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,495 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:25,498 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,500 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:25,505 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,506 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:25,509 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,511 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:25,514 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,515 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:25,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,521 INFO sqlalchemy.engine.base.Engine {'station_id': 300, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '97'}
2017-09-26 11:28:25,525 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,534 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,535 INFO sqlalchemy.engine.base.Engine {'name_1': '팔봉동', 'address_1': '전북 익산시 무왕로 1338. 익산소방서', 'param_1': 1}
2017-09-26 11:28:25,541 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,542 INFO sqlalchemy.engine.base.Engine {'name': '팔봉동', 'address': '전북 익산시 무왕로 1338. 익산소방서', 'lat': 35.961633, 'long': 127.004233}
2017-09-26 11:28:25,546 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,548 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:25,551 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,555 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:25,559 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,560 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:25,564 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,565 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:25,569 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,571 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:25,574 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,577 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,580 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,582 INFO sqlalchemy.engine.base.Engine {'station_id': 301, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '86'}
2017-09-26 11:28:25,585 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,590 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,591 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,594 INFO sqlalchemy.engine.base.Engine {'name_1': '모현동', 'address_1': '전북 익산시 배산로 189-10', 'param_1': 1}
2017-09-26 11:28:25,601 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,602 INFO sqlalchemy.engine.base.Engine {'name': '모현동', 'address': '전북 익산시 배산로 189-10', 'lat': 35.9546, 'long': 126.9414}
2017-09-26 11:28:25,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,608 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:25,610 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,612 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '50'}
2017-09-26 11:28:25,616 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,617 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:25,620 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,621 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.014'}

2017-09-26 11:28:25,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,625 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:25,628 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,630 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:25,633 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,635 INFO sqlalchemy.engine.base.Engine {'station_id': 302, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '110'}
2017-09-26 11:28:25,638 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,646 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,647 INFO sqlalchemy.engine.base.Engine {'name_1': '연지동', 'address_1': '전북 정읍시 조곡천1길 7. 여성문화관 옥상', 'param_1': 1}
2017-09-26 11:28:25,654 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,655 INFO sqlalchemy.engine.base.Engine {'name': '연지동', 'address': '전북 정읍시 조곡천1길 7. 여성문화관 옥상', 'lat': 35.568445, 'long': 126.845886}
2017-09-26 11:28:25,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,661 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:25,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,666 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '46'}
2017-09-26 11:28:25,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,671 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.066'}
2017-09-26 11:28:25,675 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,677 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:25,679 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,681 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:25,685 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,686 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:25,689 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,691 INFO sqlalchemy.engine.base.Engine {'station_id': 303, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '96'}
2017-09-26 11:28:25,694 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,704 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,707 INFO sqlalchemy.engine.base.Engine {'name_1': '죽항동', 'address_1': '전북 남원시 죽항동 비석길 72 죽항동주민센터 옥상', 'param_1': 1}
2017-09-26 11:28:25,712 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,715 INFO sqlalchemy.engine.base.Engine {'name': '죽항동', 'address': '전북 남원시 죽항동 비석길 72 죽항동주민센터 옥상', 'lat': 35.409278, 'long': 127.384754}
2017-09-26 11:28:25,720 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,723 INFO sqlalchemy.engine.base.Engine {'station_id': 304, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '56'}
2017-09-26 11:28:25,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,727 INFO sqlalchemy.engine.base.Engine {'station_id': 304, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '49'}
2017-09-26 11:28:25,730 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,735 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,738 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,739 INFO sqlalchemy.engine.base.Engine {'name_1': '고창읍', 'address_1': '전북 고창군 고창읍 월곡공원 1길 36 여성회관 2층 옥상', 'param_1': 1}
2017-09-26 11:28:25,743 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,744 INFO sqlalchemy.engine.base.Engine {'name': '고창읍', 'address': '전북 고창군 고창읍 월곡공원 1길 36 여성회관 2층 옥상', 'lat': 35.438094, 'long': 126.71279}
2017-09-26 11:28:25,748 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,752 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,755 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,757 INFO sqlalchemy.engine.base.Engine {'name_1': '부안군', 'address_1': '전북 부안군 부안읍 수정길 9-8', 'param_1': 1}
2017-09-26 11:28:25,763 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,766 INFO sqlalchemy.engine.base.Engine {'name': '부안군', 'address': '전북 부안군 부안읍 수정길 9-8', 'lat': 35.724121, 'long': 127.228369}
2017-09-26 11:28:25,770 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,772 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}

2017-09-26 11:28:25,775 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,777 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '34'}
2017-09-26 11:28:25,782 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,784 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.064'}
2017-09-26 11:28:25,788 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,789 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:25,792 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,793 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:25,798 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,800 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,803 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,805 INFO sqlalchemy.engine.base.Engine {'station_id': 306, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '88'}
2017-09-26 11:28:25,809 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,814 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,816 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,818 INFO sqlalchemy.engine.base.Engine {'name_1': '새만금', 'address_1': '전북 부안군 변산면 새만금로', 'param_1': 1}
2017-09-26 11:28:25,823 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,824 INFO sqlalchemy.engine.base.Engine {'name': '새만금', 'address': '전북 부안군 변산면 새만금로', 'lat': 35.7306657, 'long': 126.5298397}
2017-09-26 11:28:25,827 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,828 INFO sqlalchemy.engine.base.Engine {'station_id': 307, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:25,833 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,837 INFO sqlalchemy.engine.base.Engine {'station_id': 307, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.051'}
2017-09-26 11:28:25,840 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,842 INFO sqlalchemy.engine.base.Engine {'station_id': 307, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:25,845 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,850 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,852 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,854 INFO sqlalchemy.engine.base.Engine {'name_1': '요촌동', 'address_1': '전북 김제시 요촌중길 50', 'param_1': 1}
2017-09-26 11:28:25,860 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,861 INFO sqlalchemy.engine.base.Engine {'name': '요촌동', 'address': '전북 김제시 요촌중길 50', 'lat': 35.80491, 'long': 126.891416}
2017-09-26 11:28:25,864 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,866 INFO sqlalchemy.engine.base.Engine {'station_id': 308, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:25,872 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,876 INFO sqlalchemy.engine.base.Engine {'station_id': 308, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.076'}
2017-09-26 11:28:25,879 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,885 INFO sqlalchemy.engine.base.Engine {'station_id': 308, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:25,890 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,893 INFO sqlalchemy.engine.base.Engine {'station_id': 308, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:25,897 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,899 INFO sqlalchemy.engine.base.Engine {'station_id': 308, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:25,902 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,910 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,911 INFO sqlalchemy.engine.base.Engine {'name_1': '운암면', 'address_1': '전북 임실군 운암면 선거리', 'param_1': 1}
2017-09-26 11:28:25,916 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,917 INFO sqlalchemy.engine.base.Engine {'name': '운암면', 'address': '전북 임실군 운암면 선거리', 'lat': 35.610533, 'long': 127.186217}
2017-09-26 11:28:25,921 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,926 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,928 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s

2017-09-26 11:28:25,930 INFO sqlalchemy.engine.base.Engine {'name_1': '신흥', 'address_1': '인천 중구 서해대로 471(신흥동 2가)', 'param_1': 1}
2017-09-26 11:28:25,936 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:25,938 INFO sqlalchemy.engine.base.Engine {'name': '신흥', 'address': '인천 중구 서해대로 471(신흥동 2가)', 'lat': 37.468333, 'long': 126.635}
2017-09-26 11:28:25,942 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,943 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:25,948 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,950 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:25,953 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,955 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:25,961 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,962 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:25,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,970 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:25,975 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,977 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:25,980 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:25,981 INFO sqlalchemy.engine.base.Engine {'station_id': 310, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '80'}
2017-09-26 11:28:25,984 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:25,990 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:25,992 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:25,994 INFO sqlalchemy.engine.base.Engine {'name_1': '송림', 'address_1': '인천 동구 금곡로 67(송림동)', 'param_1': 1}
2017-09-26 11:28:26,002 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,004 INFO sqlalchemy.engine.base.Engine {'name': '송림', 'address': '인천 동구 금곡로 67(송림동)', 'lat': 37.473818, 'long': 126.643199}
2017-09-26 11:28:26,008 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,009 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:26,013 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,014 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '26'}
2017-09-26 11:28:26,018 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,019 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:26,022 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,024 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:26,027 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,029 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:26,033 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,034 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:26,039 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,040 INFO sqlalchemy.engine.base.Engine {'station_id': 311, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:26,044 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,050 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,053 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,055 INFO sqlalchemy.engine.base.Engine {'name_1': '구월동', 'address_1': '인천 남동구 구월말로88번길 19(구월동)', 'param_1': 1}
2017-09-26 11:28:26,060 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,062 INFO sqlalchemy.engine.base.Engine {'name': '구월동', 'address': '인천 남동구 구월말로88번길 19(구월동)', 'lat': 37.449722, 'long': 126.724167}
2017-09-26 11:28:26,066 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,069 INFO sqlalchemy.engine.base.Engine {'station_id': 312, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:26,073 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,075 INFO sqlalchemy.engine.base.Engine {'station_id': 312, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:26,079 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,082 INFO sqlalchemy.engine.base.Engine {'station_id': 312, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}

2017-09-26 11:28:26,085 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,087 INFO sqlalchemy.engine.base.Engine {'station_id': 312, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:26,090 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,091 INFO sqlalchemy.engine.base.Engine {'station_id': 312, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:26,095 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,101 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,103 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,105 INFO sqlalchemy.engine.base.Engine {'name_1': '숭의', 'address_1': '인천 남구 독정이로 95(숭의동)', 'param_1': 1}
2017-09-26 11:28:26,118 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,122 INFO sqlalchemy.engine.base.Engine {'name': '숭의', 'address': '인천 남구 독정이로 95(숭의동)', 'lat': 37.463889, 'long': 126.65}
2017-09-26 11:28:26,126 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,127 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:26,130 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,132 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '23'}
2017-09-26 11:28:26,135 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,136 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:26,138 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,140 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:26,142 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,144 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,147 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,148 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,152 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,153 INFO sqlalchemy.engine.base.Engine {'station_id': 313, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:26,155 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,161 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,163 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,165 INFO sqlalchemy.engine.base.Engine {'name_1': '석바위', 'address_1': '인천 남구 주안6동', 'param_1': 1}
2017-09-26 11:28:26,171 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,173 INFO sqlalchemy.engine.base.Engine {'name': '석바위', 'address': '인천 남구 주안6동', 'lat': 37.457778, 'long': 126.690833}
2017-09-26 11:28:26,177 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,178 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:26,180 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,181 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:26,184 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,186 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:26,189 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,190 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:26,192 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,194 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:26,199 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,200 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.009'}
2017-09-26 11:28:26,203 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,205 INFO sqlalchemy.engine.base.Engine {'station_id': 314, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:26,208 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,214 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,216 INFO sqlalchemy.engine.base.Engine {'name_1': '부평역', 'address_1': '인천 부평구 광장로 지하15(부평동)', 'param_1': 1}
2017-09-26 11:28:26,222 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:26,223 INFO sqlalchemy.engine.base.Engine {'name': '부평역', 'address': '인천 부평구 광장로 지하15(부평동)', 'lat': 37.482874, 'long': 126.704943}
2017-09-26 11:28:26,225 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,226 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '85'}
2017-09-26 11:28:26,229 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,230 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:26,233 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,234 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:26,237 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,238 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:26,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,242 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,244 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,245 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:26,248 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,249 INFO sqlalchemy.engine.base.Engine {'station_id': 315, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '84'}
2017-09-26 11:28:26,252 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,258 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,260 INFO sqlalchemy.engine.base.Engine {'name_1': '부평', 'address_1': '인천 부평구 부평대로88번길 19(부평동)', 'param_1': 1}
2017-09-26 11:28:26,266 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,269 INFO sqlalchemy.engine.base.Engine {'name': '부평', 'address': '인천 부평구 부평대로88번길 19(부평동)', 'lat': 37.5, 'long': 126.724167}
2017-09-26 11:28:26,273 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,276 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '36'}
2017-09-26 11:28:26,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,280 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '18'}
2017-09-26 11:28:26,283 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,285 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}
2017-09-26 11:28:26,287 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,289 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.038'}
2017-09-26 11:28:26,292 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,293 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,295 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,296 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,299 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,300 INFO sqlalchemy.engine.base.Engine {'station_id': 316, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:26,303 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,309 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,310 INFO sqlalchemy.engine.base.Engine {'name_1': '연희', 'address_1': '인천 서구 심곡로 98(심곡동)', 'param_1': 1}
2017-09-26 11:28:26,316 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,317 INFO sqlalchemy.engine.base.Engine {'name': '연희', 'address': '인천 서구 심곡로 98(심곡동)', 'lat': 37.545556, 'long': 126.675833}
2017-09-26 11:28:26,320 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,321 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:26,324 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,325 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:26,329 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,331 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.033'}
2017-09-26 11:28:26,334 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,335 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}

2017-09-26 11:28:26,338 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,339 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,344 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:26,348 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,349 INFO sqlalchemy.engine.base.Engine {'station_id': 317, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:26,352 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,357 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,359 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,360 INFO sqlalchemy.engine.base.Engine {'name_1': '검단', 'address_1': '인천 서구 검단로502번길 15(마전동)', 'param_1': 1}
2017-09-26 11:28:26,365 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,367 INFO sqlalchemy.engine.base.Engine {'name': '검단', 'address': '인천 서구 검단로502번길 15(마전동)', 'lat': 37.602041, 'long': 126.661444}
2017-09-26 11:28:26,371 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,372 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:26,375 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,377 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '20'}
2017-09-26 11:28:26,380 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,381 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.021'}
2017-09-26 11:28:26,384 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,385 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:26,389 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,391 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,395 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,396 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:26,400 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,401 INFO sqlalchemy.engine.base.Engine {'station_id': 318, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '61'}
2017-09-26 11:28:26,404 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,409 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,411 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,412 INFO sqlalchemy.engine.base.Engine {'name_1': '계산', 'address_1': '인천 계양구 계양산로134번길 18(계산동)', 'param_1': 1}
2017-09-26 11:28:26,418 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,419 INFO sqlalchemy.engine.base.Engine {'name': '계산', 'address': '인천 계양구 계양산로134번길 18(계산동)', 'lat': 37.546111, 'long': 126.730278}
2017-09-26 11:28:26,422 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,424 INFO sqlalchemy.engine.base.Engine {'station_id': 319, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:26,427 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,428 INFO sqlalchemy.engine.base.Engine {'station_id': 319, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.010'}
2017-09-26 11:28:26,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,432 INFO sqlalchemy.engine.base.Engine {'station_id': 319, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:26,434 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,436 INFO sqlalchemy.engine.base.Engine {'station_id': 319, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:26,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,440 INFO sqlalchemy.engine.base.Engine {'station_id': 319, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,443 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,449 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,453 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,454 INFO sqlalchemy.engine.base.Engine {'name_1': '고잔', 'address_1': '인천 남동구 남동대로 217(고잔동)', 'param_1': 1}
2017-09-26 11:28:26,461 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,462 INFO sqlalchemy.engine.base.Engine {'name': '고잔', 'address': '인천 남동구 남동대로 217(고잔동)', 'lat': 37.404839, 'long': 126.697158}
2017-09-26 11:28:26,466 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id

2017-09-26 11:28:26,467 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:26,470 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,473 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:26,477 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,478 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:26,482 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,484 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.037'}
2017-09-26 11:28:26,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,489 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:26,492 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,494 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:26,499 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,502 INFO sqlalchemy.engine.base.Engine {'station_id': 320, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '68'}
2017-09-26 11:28:26,506 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,512 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,514 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,516 INFO sqlalchemy.engine.base.Engine {'name_1': '석남', 'address_1': '인천 서구 거북로 116(석남동)', 'param_1': 1}
2017-09-26 11:28:26,524 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,525 INFO sqlalchemy.engine.base.Engine {'name': '석남', 'address': '인천 서구 거북로 116(석남동)', 'lat': 37.502778, 'long': 126.674722}
2017-09-26 11:28:26,529 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,532 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '42'}
2017-09-26 11:28:26,535 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,537 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '18'}
2017-09-26 11:28:26,543 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,545 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:26,548 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,550 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.019'}
2017-09-26 11:28:26,553 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,555 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}
2017-09-26 11:28:26,558 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,560 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:26,563 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,565 INFO sqlalchemy.engine.base.Engine {'station_id': 321, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '66'}
2017-09-26 11:28:26,570 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,578 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,580 INFO sqlalchemy.engine.base.Engine {'name_1': '송해', 'address_1': '인천 강화군 송해면 전망대로 29(솔정리) ', 'param_1': 1}
2017-09-26 11:28:26,588 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,589 INFO sqlalchemy.engine.base.Engine {'name': '송해', 'address': '인천 강화군 송해면 전망대로 29(솔정리) ', 'lat': 37.764444, 'long': 126.463333}
2017-09-26 11:28:26,597 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,598 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '35'}
2017-09-26 11:28:26,601 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,603 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '17'}
2017-09-26 11:28:26,606 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,608 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:26,611 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,612 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:26,615 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,616 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.3'}

2017-09-26 11:28:26,619 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,620 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:26,624 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,626 INFO sqlalchemy.engine.base.Engine {'station_id': 322, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:26,629 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,634 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,636 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,637 INFO sqlalchemy.engine.base.Engine {'name_1': '동춘', 'address_1': '인천 연수구 원인재로 115(동춘동)', 'param_1': 1}
2017-09-26 11:28:26,642 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,644 INFO sqlalchemy.engine.base.Engine {'name': '동춘', 'address': '인천 연수구 원인재로 115(동춘동)', 'lat': 37.409493, 'long': 126.678309}
2017-09-26 11:28:26,647 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,649 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '45'}
2017-09-26 11:28:26,652 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,654 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '27'}
2017-09-26 11:28:26,656 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,657 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.036'}
2017-09-26 11:28:26,660 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,662 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:26,664 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,666 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:26,669 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,671 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,674 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,676 INFO sqlalchemy.engine.base.Engine {'station_id': 323, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:26,679 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,683 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,685 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,686 INFO sqlalchemy.engine.base.Engine {'name_1': '운서', 'address_1': '인천 중구 영종대로 85(운서동)', 'param_1': 1}
2017-09-26 11:28:26,693 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,697 INFO sqlalchemy.engine.base.Engine {'name': '운서', 'address': '인천 중구 영종대로 85(운서동)', 'lat': 37.49659, 'long': 126.487769}
2017-09-26 11:28:26,700 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,701 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '63'}
2017-09-26 11:28:26,706 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,707 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '29'}
2017-09-26 11:28:26,709 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,711 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.029'}
2017-09-26 11:28:26,714 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,715 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.044'}
2017-09-26 11:28:26,717 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,718 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.8'}
2017-09-26 11:28:26,721 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,722 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:26,725 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,726 INFO sqlalchemy.engine.base.Engine {'station_id': 324, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '73'}
2017-09-26 11:28:26,731 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,737 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,739 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,740 INFO sqlalchemy.engine.base.Engine {'name_1': '송현', 'address_1': '인천 동구 송현동', 'param_1': 1}
2017-09-26 11:28:26,746 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:26,748 INFO sqlalchemy.engine.base.Engine {'name': '송현', 'address': '인천 동구 송현동', 'lat': 37.480664, 'long': 126.63582}
2017-09-26 11:28:26,752 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,753 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:26,773 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,777 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '31'}
2017-09-26 11:28:26,785 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,788 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.020'}
2017-09-26 11:28:26,795 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,796 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:26,800 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,802 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:26,806 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,807 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:26,810 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,812 INFO sqlalchemy.engine.base.Engine {'station_id': 325, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '81'}
2017-09-26 11:28:26,815 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,823 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,826 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,830 INFO sqlalchemy.engine.base.Engine {'name_1': '논현', 'address_1': '인천 남동구 청능대로611번길 54(논현동)', 'param_1': 1}
2017-09-26 11:28:26,836 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,838 INFO sqlalchemy.engine.base.Engine {'name': '논현', 'address': '인천 남동구 청능대로611번길 54(논현동)', 'lat': 37.404167, 'long': 126.726111}
2017-09-26 11:28:26,842 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,843 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:26,846 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,848 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '22'}
2017-09-26 11:28:26,862 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,864 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.031'}
2017-09-26 11:28:26,882 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,884 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.026'}
2017-09-26 11:28:26,888 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,890 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:26,894 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,896 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,900 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,907 INFO sqlalchemy.engine.base.Engine {'station_id': 326, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:26,939 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:26,943 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:26,946 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:26,947 INFO sqlalchemy.engine.base.Engine {'name_1': '원당', 'address_1': '인천 서구 고산후로121번길 7(원당동)', 'param_1': 1}
2017-09-26 11:28:26,954 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:26,956 INFO sqlalchemy.engine.base.Engine {'name': '원당', 'address': '인천 서구 고산후로121번길 7(원당동)', 'lat': 37.5941, 'long': 126.6986}
2017-09-26 11:28:26,960 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,962 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '44'}
2017-09-26 11:28:26,964 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,966 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '17'}
2017-09-26 11:28:26,968 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,969 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:26,973 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,975 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}

2017-09-26 11:28:26,979 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,981 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:26,984 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,985 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.003'}
2017-09-26 11:28:26,989 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:26,992 INFO sqlalchemy.engine.base.Engine {'station_id': 327, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:26,996 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,001 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,003 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,004 INFO sqlalchemy.engine.base.Engine {'name_1': '소사본동', 'address_1': '경기 부천시 소사구 경인옛로 72 (소사어울림마당 소향관)', 'param_1': 1}
2017-09-26 11:28:27,009 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,010 INFO sqlalchemy.engine.base.Engine {'name': '소사본동', 'address': '경기 부천시 소사구 경인옛로 72 (소사어울림마당 소향관)', 'lat': 37.480006, 'long': 126.799936}
2017-09-26 11:28:27,014 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,015 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '52'}
2017-09-26 11:28:27,017 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,018 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.034'}
2017-09-26 11:28:27,021 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,022 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.032'}
2017-09-26 11:28:27,025 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,026 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:27,028 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,030 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.006'}
2017-09-26 11:28:27,032 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,033 INFO sqlalchemy.engine.base.Engine {'station_id': 328, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '62'}
2017-09-26 11:28:27,036 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,045 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,046 INFO sqlalchemy.engine.base.Engine {'name_1': '내동', 'address_1': '경기 부천시 오정구 삼작로 114 (신흥동주민센터)', 'param_1': 1}
2017-09-26 11:28:27,052 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,053 INFO sqlalchemy.engine.base.Engine {'name': '내동', 'address': '경기 부천시 오정구 삼작로 114 (신흥동주민센터)', 'lat': 37.519908, 'long': 126.773668}
2017-09-26 11:28:27,057 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,060 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '48'}
2017-09-26 11:28:27,063 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,064 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '17'}
2017-09-26 11:28:27,067 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,069 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.028'}
2017-09-26 11:28:27,072 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,074 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.040'}
2017-09-26 11:28:27,077 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,078 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:27,080 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,082 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.007'}
2017-09-26 11:28:27,084 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,085 INFO sqlalchemy.engine.base.Engine {'station_id': 329, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '67'}
2017-09-26 11:28:27,088 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,094 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,096 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,098 INFO sqlalchemy.engine.base.Engine {'name_1': '중2동', 'address_1': '경기 부천시 원미구 심중로 121 (책마루도서관)', 'param_1': 1}
2017-09-26 11:28:27,103 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:27,104 INFO sqlalchemy.engine.base.Engine {'name': '중2동', 'address': '경기 부천시 원미구 심중로 121 (책마루도서관)', 'lat': 37.493927, 'long': 126.770095}
2017-09-26 11:28:27,108 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,109 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}
2017-09-26 11:28:27,111 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,112 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '15'}
2017-09-26 11:28:27,115 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,116 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:27,119 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,121 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.030'}
2017-09-26 11:28:27,124 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,126 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:27,129 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,130 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.004'}
2017-09-26 11:28:27,133 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,135 INFO sqlalchemy.engine.base.Engine {'station_id': 330, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '71'}
2017-09-26 11:28:27,138 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,142 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,144 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,146 INFO sqlalchemy.engine.base.Engine {'name_1': '오정동', 'address_1': '경기 부천시 오정구 성오로 172 (오정어울마당 오정아트홀)', 'param_1': 1}
2017-09-26 11:28:27,152 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,154 INFO sqlalchemy.engine.base.Engine {'name': '오정동', 'address': '경기 부천시 오정구 성오로 172 (오정어울마당 오정아트홀)', 'lat': 37.526617, 'long': 126.8065}
2017-09-26 11:28:27,158 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,159 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '38'}
2017-09-26 11:28:27,164 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,165 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '18'}
2017-09-26 11:28:27,179 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,182 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.024'}
2017-09-26 11:28:27,186 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,188 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.039'}
2017-09-26 11:28:27,191 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,192 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.6'}
2017-09-26 11:28:27,196 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,198 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:27,201 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,204 INFO sqlalchemy.engine.base.Engine {'station_id': 331, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '65'}
2017-09-26 11:28:27,208 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,214 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,218 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,220 INFO sqlalchemy.engine.base.Engine {'name_1': '계남공원', 'address_1': '경기 부천시 송내대로 262(계남공원)', 'param_1': 1}
2017-09-26 11:28:27,230 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,235 INFO sqlalchemy.engine.base.Engine {'name': '계남공원', 'address': '경기 부천시 송내대로 262(계남공원)', 'lat': 37.506538, 'long': 126.759193}
2017-09-26 11:28:27,240 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,241 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '60'}
2017-09-26 11:28:27,246 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,248 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.023'}
2017-09-26 11:28:27,254 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,256 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.035'}

2017-09-26 11:28:27,260 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,262 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.7'}
2017-09-26 11:28:27,272 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,275 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:27,279 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,282 INFO sqlalchemy.engine.base.Engine {'station_id': 332, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '78'}
2017-09-26 11:28:27,290 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,295 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,299 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,302 INFO sqlalchemy.engine.base.Engine {'name_1': '석모리', 'address_1': '인천 강화군 삼산면 석모리', 'param_1': 1}
2017-09-26 11:28:27,309 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,312 INFO sqlalchemy.engine.base.Engine {'name': '석모리', 'address': '인천 강화군 삼산면 석모리', 'lat': 37.70805, 'long': 126.28135}
2017-09-26 11:28:27,316 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,319 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:27,321 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,323 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '33'}
2017-09-26 11:28:27,327 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,328 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.046'}
2017-09-26 11:28:27,331 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,333 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:27,337 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,339 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.4'}
2017-09-26 11:28:27,342 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,345 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:27,349 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,350 INFO sqlalchemy.engine.base.Engine {'station_id': 333, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '69'}
2017-09-26 11:28:27,354 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,363 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,365 INFO sqlalchemy.engine.base.Engine {'name_1': '덕적도', 'address_1': '인천 옹진군 덕적면 진리', 'param_1': 1}
2017-09-26 11:28:27,372 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,374 INFO sqlalchemy.engine.base.Engine {'name': '덕적도', 'address': '인천 옹진군 덕적면 진리', 'lat': 37.233041, 'long': 126.149272}
2017-09-26 11:28:27,377 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,379 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '54'}
2017-09-26 11:28:27,382 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,383 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.042'}
2017-09-26 11:28:27,386 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,388 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.018'}
2017-09-26 11:28:27,391 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,397 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'CO', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.5'}
2017-09-26 11:28:27,401 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,403 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.005'}
2017-09-26 11:28:27,406 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,407 INFO sqlalchemy.engine.base.Engine {'station_id': 334, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '75'}
2017-09-26 11:28:27,409 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,415 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,418 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,420 INFO sqlalchemy.engine.base.Engine {'name_1': '백령도', 'address_1': '인천 옹진군 백령면 연화리', 'param_1': 1}
2017-09-26 11:28:27,426 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id

2017-09-26 11:28:27,428 INFO sqlalchemy.engine.base.Engine {'name': '백령도', 'address': '인천 옹진군 백령면 연화리', 'lat': 37.938413, 'long': 124.645669}
2017-09-26 11:28:27,431 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,433 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'PM10', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '47'}
2017-09-26 11:28:27,438 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,439 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '24'}
2017-09-26 11:28:27,442 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,444 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'O3', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.041'}
2017-09-26 11:28:27,447 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,449 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'NO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.008'}
2017-09-26 11:28:27,453 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,454 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'SO2', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '0.002'}
2017-09-26 11:28:27,458 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,460 INFO sqlalchemy.engine.base.Engine {'station_id': 335, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '59'}
2017-09-26 11:28:27,463 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,471 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,472 INFO sqlalchemy.engine.base.Engine {'name_1': '강하면', 'address_1': '경기 양평군 강하면 운심리', 'param_1': 1}
2017-09-26 11:28:27,480 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,482 INFO sqlalchemy.engine.base.Engine {'name': '강하면', 'address': '경기 양평군 강하면 운심리', 'lat': 37.510904, 'long': 127.407405}
2017-09-26 11:28:27,487 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,488 INFO sqlalchemy.engine.base.Engine {'station_id': 336, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '25'}
2017-09-26 11:28:27,492 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,497 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,500 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,502 INFO sqlalchemy.engine.base.Engine {'name_1': '정관면', 'address_1': '부산 기장군 정관면 월평리', 'param_1': 1}
2017-09-26 11:28:27,510 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,513 INFO sqlalchemy.engine.base.Engine {'name': '정관면', 'address': '부산 기장군 정관면 월평리', 'lat': 35.359979, 'long': 129.138714}
2017-09-26 11:28:27,519 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,521 INFO sqlalchemy.engine.base.Engine {'station_id': 337, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '39'}
2017-09-26 11:28:27,525 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,533 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,536 INFO sqlalchemy.engine.base.Engine {'name_1': '장전동', 'address_1': '부산 금정구 장전동 40 부산대학교', 'param_1': 1}
2017-09-26 11:28:27,540 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,542 INFO sqlalchemy.engine.base.Engine {'name': '장전동', 'address': '부산 금정구 장전동 40 부산대학교', 'lat': 35.234981, 'long': 129.081352}
2017-09-26 11:28:27,545 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,551 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,553 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,556 INFO sqlalchemy.engine.base.Engine {'name_1': '중흥동', 'address_1': '전남 여수시 중흥동 750-2', 'param_1': 1}
2017-09-26 11:28:27,562 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,564 INFO sqlalchemy.engine.base.Engine {'name': '중흥동', 'address': '전남 여수시 중흥동 750-2', 'lat': 34.825049, 'long': 127.673835}
2017-09-26 11:28:27,567 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,569 INFO sqlalchemy.engine.base.Engine {'station_id': 339, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '41'}
2017-09-26 11:28:27,575 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,580 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,583 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,586 INFO sqlalchemy.engine.base.Engine {'name_1': '골약동', 'address_1': '전남 광양시 황길동 699-4', 'param_1': 1}
2017-09-26 11:28:27,592 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,594 INFO sqlalchemy.engine.base.Engine {'name': '골약동', 'address': '전남 광양시 황길동 699-4', 'lat': 34.910237, 'long': 127.659517}
2017-09-26 11:28:27,598 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,600 INFO sqlalchemy.engine.base.Engine {'station_id': 340, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '58'}

2017-09-26 11:28:27,604 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,608 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,611 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,613 INFO sqlalchemy.engine.base.Engine {'name_1': '산격동', 'address_1': '대구 북구 대학로80', 'param_1': 1}
2017-09-26 11:28:27,618 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,619 INFO sqlalchemy.engine.base.Engine {'name': '산격동', 'address': '대구 북구 대학로80', 'lat': 35.891, 'long': 128.608}
2017-09-26 11:28:27,623 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,625 INFO sqlalchemy.engine.base.Engine {'station_id': 341, 'metric': 'PM25', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '30'}
2017-09-26 11:28:27,628 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,638 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,640 INFO sqlalchemy.engine.base.Engine {'name_1': '수도권본부 이동차', 'address_1': '-', 'param_1': 1}
2017-09-26 11:28:27,643 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,645 INFO sqlalchemy.engine.base.Engine {'name': '수도권본부 이동차', 'address': '-', 'lat': None, 'long': None}
2017-09-26 11:28:27,648 INFO sqlalchemy.engine.base.Engine COMMIT
2017-09-26 11:28:27,653 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-26 11:28:27,655 INFO sqlalchemy.engine.base.Engine SELECT stations.id AS stations_id, stations.name AS stations_name, stations.address AS stations_address, stations.lat AS stations_lat, stations.long AS stations_long
FROM stations
WHERE stations.name = %(name_1)s AND stations.address = %(address_1)s
 LIMIT %(param_1)s
2017-09-26 11:28:27,657 INFO sqlalchemy.engine.base.Engine {'name_1': '경기도 이동차', 'address_1': '-', 'param_1': 1}
2017-09-26 11:28:27,660 INFO sqlalchemy.engine.base.Engine INSERT INTO stations (name, address, lat, long) VALUES (%(name)s, %(address)s, %(lat)s, %(long)s) RETURNING stations.id
2017-09-26 11:28:27,662 INFO sqlalchemy.engine.base.Engine {'name': '경기도 이동차', 'address': '-', 'lat': None, 'long': None}
2017-09-26 11:28:27,666 INFO sqlalchemy.engine.base.Engine INSERT INTO measurements (station_id, metric, t, value) VALUES (%(station_id)s, %(metric)s, %(t)s, %(value)s) RETURNING measurements.id
2017-09-26 11:28:27,669 INFO sqlalchemy.engine.base.Engine {'station_id': 343, 'metric': 'CAI', 't': datetime.datetime(2017, 9, 26, 11, 0), 'value': '64'}
2017-09-26 11:28:27,679 INFO sqlalchemy.engine.base.Engine COMMIT