In [6]:
import pandas as pd
import sqlite3

In [7]:
cn = sqlite3.connect('air.db')

In [9]:
pd.read_sql("select * from measurements where metric = 'PM25' and station_id =1", cn)

     id  station_id metric                           t  value
0     2           1   PM25  2017-09-25 13:00:00.000000   21.0
1  2040           1   PM25  2017-09-25 13:00:00.000000   21.0