In [205]:
import pandas as pd
import numpy as np
from haversine import haversine
import sqlite3

In [206]:
cn = sqlite3.connect('air.db')

In [207]:
sql = '''select distinct b.metric, a.name, a.lat, a.long, b.t, b.value 
         from stations as a join measurements as b on (a.id = b.station_id)
         where b.metric = 'PM25'
         and t >= (select max(t) from measurements) 
      '''
df = pd.read_sql(sql, cn)

In [214]:
#lat, lng = 37.502834, 127.058756
lat, lng = 37.498442, 127.027179

In [215]:
def AQI(x,metric='PM25'):
    C =[0.0,12.0,35.4,55.4,150.4,250.4,350.4,500.4]
    I =[0,50,100,150,200,300,400,500]
    
    #find the interval
    k = [i for i in range(len(C)) if x >= C[i]][-1]
    
    return (I[k]-I[k-1])/(C[k]-C[k-1])*(x-C[k-1])+I[k-1]

In [219]:
AQI(37)

103.41880341880342

In [217]:
def interpolate(x,y, xs, ys, vals,  p=2, dist_func = haversine):
    '''inverse distance weighted'''
    
    w = np.array([ np.power( 1.0/dist_func( (x,y), (a,b)), p) for a,b in zip(xs,ys)])

    return np.sum(np.multiply(w,vals))/np.sum(w)

In [218]:
interpolate(lat,lng, df.lat, df.long, df.value, p=100)

36.999999998042767

select value of p via leave one-out optimization

In [220]:
xs, ys, vals = df.lat, df.long, df.value

In [221]:
def err(p):
    global xs, ys, vals
    
    error =0

    for i in range(len(xs)):

        x,y, actual = xs[i], ys[i], vals[i]
        newx,newy, newvals = xs.copy(), ys.copy(), vals.copy()
        del newx[i]
        del newy[i]
        del newvals[i]

        pred = interpolate(x,y,newx,newy,newvals,p=p[0])

        error += (actual-pred)**2
        
    return error

In [222]:
from scipy.optimize import minimize

In [143]:
p=[2.0]
fit = minimize(err, p)

In [144]:
fit.x[0]

1.8220781962373291

In [223]:
interpolate(lat,lng, df.lat, df.long, df.value, p=fit.x[0])

30.260636361560277

In [224]:
#pip install ipython-sql

In [225]:
%load_ext sql

In [231]:
%%sql sqlite:///air.db
select *
from stations limit 20

Done.

[(1, '중구', '서울 중구 덕수궁길 15', 37.564639, 126.975961),
 (2, '한강대로', '서울 용산구 한강대로 405', 37.549389, 126.971519),
 (3, '종로구', '서울 종로구 종로35가길 19', 37.572025, 127.005028),
 (4, '청계천로', '서울 중구 청계천로 184', 37.56865, 126.998083),
 (5, '종로', '서울 종로구 종로 169', 37.570633, 126.996783),
 (6, '용산구', '서울 용산구 한남대로 136', 37.540314, 127.005083),
 (7, '광진구', '서울 광진구 광나루로 571', 37.544639, 127.095706),
 (8, '성동구', '서울 성동구 뚝섬로 273', 37.543106, 127.041278),
 (9, '강변북로', '서울 성동구 강변북로 257', 37.539283, 127.040943),
 (10, '중랑구', '서울 중랑구 용마산로 369', 37.584953, 127.094283),
 (11, '동대문구', '서울 동대문구 천호대로13길 43', 37.576169, 127.029642),
 (12, '홍릉로', '서울 동대문구 홍릉로 1', 37.580167, 127.044856),
 (13, '성북구', '서울 성북구 삼양로2길 70', 37.606667, 127.027264),
 (14, '정릉로', '서울 성북구 정릉로 180', 37.6077, 127.0022),
 (15, '도봉구', '서울 도봉구 시루봉로2길 34', 37.654278, 127.029333),
 (16, '은평구', '서울 은평구 진흥로 215', 37.610583, 126.933144),
 (17, '서대문구', '서울 서대문구 연희로32길 51', 37.576578, 126.937972),
 (18, '마포구', '서울 마포구 대흥로 20길 28', 37.550133, 126.945167),
 (19, '신촌로', '서울 마포구 노고산동 57-62', 37.554936, 126.937619),
 (20, '강서구', '서울 강서로45다길 71 화곡3동 ', 37.544656, 126.835094)]

In [251]:
%sql postgresql://postgres:taco@localhost/air

'Connected: postgres@air'

In [253]:
%%sql
select * from stations as a join measurements as b on (a.id = b.station_id) limit 20

20 rows affected.

[(40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 1, 40, 'PM10', datetime.datetime(2017, 9, 26, 11, 0), 46.0),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 2, 40, 'PM25', datetime.datetime(2017, 9, 26, 11, 0), 25.0),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 3, 40, 'O3', datetime.datetime(2017, 9, 26, 11, 0), 0.034),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 4, 40, 'NO2', datetime.datetime(2017, 9, 26, 11, 0), 0.028),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 5, 40, 'CO', datetime.datetime(2017, 9, 26, 11, 0), 0.6),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 6, 40, 'SO2', datetime.datetime(2017, 9, 26, 11, 0), 0.004),
 (40, '신풍동', '경기 수원시 팔달구 신풍동 123-69(선경도서관)', 37.283798, 127.010472, 7, 40, 'CAI', datetime.datetime(2017, 9, 26, 11, 0), 68.0),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 8, 41, 'PM10', datetime.datetime(2017, 9, 26, 11, 0), 43.0),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 9, 41, 'PM25', datetime.datetime(2017, 9, 26, 11, 0), 19.0),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 10, 41, 'O3', datetime.datetime(2017, 9, 26, 11, 0), 0.023),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 11, 41, 'NO2', datetime.datetime(2017, 9, 26, 11, 0), 0.026),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 12, 41, 'CO', datetime.datetime(2017, 9, 26, 11, 0), 0.4),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 13, 41, 'SO2', datetime.datetime(2017, 9, 26, 11, 0), 0.004),
 (41, '인계동', '경기 수원시 팔달구 인계동 1111(수원시청)', 37.26334, 127.02863, 14, 41, 'CAI', datetime.datetime(2017, 9, 26, 11, 0), 64.0),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 15, 42, 'PM10', datetime.datetime(2017, 9, 26, 11, 0), 46.0),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 16, 42, 'PM25', datetime.datetime(2017, 9, 26, 11, 0), 17.0),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 17, 42, 'O3', datetime.datetime(2017, 9, 26, 11, 0), 0.046),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 18, 42, 'NO2', datetime.datetime(2017, 9, 26, 11, 0), 0.025),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 19, 42, 'CO', datetime.datetime(2017, 9, 26, 11, 0), 0.5),
 (42, '광교동', '경기 수원시 영통구 법조로 129(하동 981, 이의중학교 옥상)', 37.291272, 127.070818, 20, 42, 'SO2', datetime.datetime(2017, 9, 26, 11, 0), 0.004)]